[2022-10-24 22:34] #2859 closed

[2022-10-25 18:49] erickzhao opened #2987 "Templates that add to the `plugins` config array are broken in beta.68"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, wi

[2022-10-26 04:42] erickzhao commented on #2977
Closed by https://github.com/electron-forge/electron-forge-docs/commit/487fc09fed10c353f7438a4aaeb5c58c11f32bb1 I think!

[2022-10-26 04:42] #2977 closed

[2022-10-26 05:19] dev-javid opened #2992 "Webpack template has not been updated to the new plugins syntax"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, wi

[2022-10-26 07:49] rinqtmith commented on #2992
I have fixed this by changing plugins in `package.json `to below according to this [link](https://www.electronforge.io/config/plugins/webpack#webpack-dev-server).

[code]

[2022-10-26 07:56] MarshallOfSound commented on #2992
Ah yes good catch, @rinqtmith is correct.  We recently changed the syntax for plugins to more closer align with the syntax for makers / publishers.  Looks like we forgot to update the webpack template to use the new syntax 😅

[2022-10-26 10:07] MarshallOfSound commented on #2992
Fixed in #2990

[2022-10-26 10:07] #2992 closed

[2022-10-26 10:08] MarshallOfSound commented on #2987
Fixed in #2990

[2022-10-26 10:08] #2987 closed

[2022-10-26 15:25] ianstormtaylor commented on #2977
Amazing guide, thanks @erickzhao that’s the clearest I’ve seen it all described yet!

[2022-10-26 16:23] macdja38 opened #2998 "Packaging Application Spinner never goes away when building for multiple targets."
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, wi

[2022-10-26 22:15] erikian commented on #2743
This has been fixed by https://github.com/electron/forge/pull/2946

[2022-10-26 22:27] #2743 closed

[2022-10-27 06:32] raphael10-collab commented on #2992
@rinqtmith @MarshallOfSound I'm sorry I do not understand what should I do in order to fix this issue that suddenly came up

This is my `electron forge config` in `package.json` :

          "plugins": [
            [
              "@electron-forge/plugin-webpack",
              {
                "devServer": {
                  "client": {
                    "logging": "info",

[2022-10-27 07:39] rinqtmith commented on #2992
I think it is not fixed in [#2990](https://github.com/electron/forge/pull/2990). I tried a new project and it still makes old version `package.json` .

You need to pass an object {name, config} to plugins. For example,

[code]

[2022-10-27 07:43] MarshallOfSound commented on #2992
@raphael10-collab per the comment above you need to change this syntax.

[code]

into this syntax

[code]

@rinqtmith the fix has not been published yet, we're aiming to get that out tomorrow PST

[2022-10-27 07:43] #2983 closed

[2022-10-27 18:12] #2818 closed

[2022-10-28 01:53] erikian commented on #2982
What does your package.json look like?

[2022-10-28 18:12] #2965 closed

[2022-10-28 20:12] georgexu99 opened #3013 "Improve Template CI Files"

[2022-10-28 20:12] #3013 closed

[2022-10-28 21:15] georgexu99 opened #3015 "`icon` nowhere to be found in maker-wix typedocs documentation"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-10-29 13:05] cwellsx opened #3019 "Built-in templates do not start"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-10-29 13:07] cwellsx commented on #3019
I get the same error above trying to start the typescript template:

    yarn create electron-app test2 --template=typescript-webpack

[2022-10-29 15:17] timfish opened #3020 "`MAIN_WINDOW_WEBPACK_ENTRY` is set to localhost after `electron-forge package`"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-10-29 17:08] erikian commented on #3019
Oddly, when I do a fresh install with `yarn create electron-app test2 --template=webpack` on Windows, it pins `plugin-webpack` to `6.0.0-beta.64`, not `6.0.0-beta.69` as OP. So the version I'm getting is also wrong, but different:

[code]

I'm getting a different error because of the old plugin syntax used in `beta-64`:

[code]

[2022-10-30 14:08] erikian commented on #1990
No longer relevant since https://github.com/electron/forge/pull/2948?

[2022-10-30 22:31] VerteDinde commented on #3015
Resolved in beta.70: https://js.electronforge.io/interfaces/_electron_forge_maker_wix.MakerWixConfig.html

[2022-10-30 22:31] #3015 closed

[2022-10-30 22:33] VerteDinde commented on #3019
@cwellsx @erikian Thanks for the bug report and investigation! Will look into this - this specific error should have been fixed with the release of beta.70, so the older versions installing may well be in the issue 🤔

[2022-10-30 23:20] VerteDinde opened #3027 "Support flatpak, snap & pkg in CI templates"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a feature request that matches the one I want to file, without

[2022-10-31 04:16] cwellsx commented on #3019
I tried again just now: and the version installed according to `package.json` is still beta.69.

[2022-10-31 04:50] richardabear commented on #3019
Hi guys, any manual fixes for the time being?

[2022-10-31 11:28] XMLHexagram opened #3028 "Forge cannot correctly detect working dir when use config file"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-10-31 14:47] VerteDinde commented on #3019
@richardabear The manual fix here should be making sure each `@electron-forge` dependency is correctly set to latest (`6.0.0-beta.70` currently). We'll figure out why that's not updating correctly.

[2022-10-31 15:05] VerteDinde commented on #3019
@cwellsx @erikian I've tried to repro on several different computers, and the version is consistently being returned as 6.0.0-beta.70 🤔 Sorry, could you both let me know if you have a global install of electron-forge (`npm list -g`), try blowing that away, and then re-initing a project?

It does seem that when all dependencies are set to beta.70, the `yarn` commands work as expected; I'm just tryi

[2022-10-31 15:17] kadukows commented on #3020
I think this issue is fixed by: https://github.com/electron/forge/commit/531788ba75d1ab87f513c26dbb6768ca0995399d

I made a patch with https://www.npmjs.com/package/patch-package to fix this issue in the meantime, this fixes the issue for me.
[code]

[2022-10-31 15:57] erikian commented on #3019
@VerteDinde I found the issue. When `create-electron-app` is installed, it installs forge as a dependency. When `create-electron-app` is run, it calls `@electron-forge\cli\dist\electron-forge-init.js`, which ultimately copies the package.json from `create-electron-app`'s package.json and runs `npm install` / `yarn install`.

In other words: the forge version you get depends on _when_ `create-elect

[2022-10-31 16:02] XMLHexagram commented on #3028
Well, they will use their `forge.config.ts`, but they won't find the right `package.json`.

[2022-10-31 16:50] XMLHexagram commented on #3028
Also I think #3019 is the same problem.

[2022-10-31 16:52] XMLHexagram commented on #3019
As a hack, I find add empty
[code]
Can solve this problem.

[2022-10-31 17:22] georgexu99 commented on #3020
closing as  (531788b)[https://github.com/electron/forge/commit/531788ba75d1ab87f513c26dbb6768ca0995399d] seems to have fixed this as stated above. Feel free to re-open if this isn't true

[2022-10-31 17:22] #3020 closed

[2022-10-31 17:26] cwellsx commented on #3019
I had hoped so. But doing that, and running npm install, doesn't fix the problem: I still have the same error. Perhaps my template itself needs updating? What does your package.json look like?

![image](https://user-images.githubusercontent.com/2397556/199070108-a0b781d9-1133-4db0-8307-aa0c020f754b.png)

I don't think I have it:

![image](https://user-images.githubusercontent.com/2397556/199069934

[2022-10-31 17:30] erikian commented on #3019
@cwellsx try `yarn global remove create-electron-app`, then run `yarn create electron-app test --template=webpack` again

[2022-10-31 17:37] XMLHexagram commented on #3019
@cwellsx Could you try my fix ? This work on my machine.

[2022-10-31 18:09] MarshallOfSound commented on #3028
Fixed in https://github.com/electron/forge/commit/b5d05874941850e500253697fd679a1dd5aeeee5

[2022-10-31 18:09] #3028 closed

[2022-10-31 18:10] MarshallOfSound commented on #3019
Fixed in https://github.com/electron/forge/commit/b5d05874941850e500253697fd679a1dd5aeeee5

[2022-10-31 18:10] #3019 closed

[2022-10-31 18:13] cwellsx commented on #3019
That installed `"@electron-forge/cli": "^6.0.0-beta.70"` but I have the same error on `npm start`.

This displays a different error:

![image](https://user-images.githubusercontent.com/2397556/199078283-fc3a652b-4d9c-41df-aa66-ff74a0c7e17b.png)

When I add this then `npm start` is successful:
![image](https://user-images.githubusercontent.com/2397556/199079140-15505bb3-1576-4a24-8af1-b6296ce6590d.

[2022-10-31 20:22] #2973 closed

[2022-10-31 22:46] #1990 closed

[2022-10-31 23:55] erickzhao commented on #697
closed in https://github.com/electron/forge/pull/3012

[2022-10-31 23:55] #697 closed

[2022-10-31 23:55] #2998 closed

[2022-11-01 00:00] #2594 closed

[2022-11-01 00:00] erickzhao commented on #2570
closed in https://github.com/electron/forge/pull/2867

[2022-11-01 00:00] #2570 closed

[2022-11-01 00:21] #2951 closed

[2022-11-01 23:49] VerteDinde commented on #3027
Closing this, because the original CI templates still need improvement

[2022-11-01 23:49] #3027 closed

[2022-11-02 13:34] erikian commented on #226
@erickzhao I can tackle this one if it's still relevant.

[2022-11-02 15:19] erickzhao commented on #2940
Update: we're currently in the process of replacing Ora with [listr2](https://www.npmjs.com/package/listr2) as well. Not sure what the implications are for this issue but we'll revisit!

[2022-11-02 19:33] MarshallOfSound commented on #2982
`81513513` is a github release ID, some part of hazel is sending the github release ID back as a version string instead of your actual apps version

[2022-11-02 19:33] #2982 closed

[2022-11-02 19:35] MarshallOfSound commented on #2940
Piping `listr2` output to a file works as expected, closing this out as we've already landed listr2 support for start/init and package et. al is on the way in #3043

[2022-11-02 19:35] #2940 closed

[2022-11-02 19:40] MarshallOfSound commented on #2839
Closing out as the issue hasn't been updated in a while since the request for more information

[2022-11-02 19:40] #2839 closed

[2022-11-02 19:42] MarshallOfSound commented on #621
Ta Da? 🎉

[2022-11-02 19:42] #621 closed

[2022-11-02 19:44] MarshallOfSound commented on #1375
With the migration to listr2, this is now possible via setting the `DEBUG` environment variable correctly.

E.g. `DEBUG=electron-forge* yarn package` will not output spinners and overwrite your error logs

[2022-11-02 19:44] #1375 closed

[2022-11-02 19:46] MarshallOfSound commented on #2534
This is fixed in `6.0.0`, we now infer the forge path based on a package.json with `config.forge` **or** a package.json with an `@electron-forge/cli` dependency

[2022-11-02 19:46] #2534 closed

[2022-11-02 19:47] MarshallOfSound commented on #2427
The correct way forward here isn't extending the magic env-var proxy logic, we now suggest folks use the `forge.config.js` pattern by default and if they're doing that they can easily add their own environment variable support for the properties they care about

[2022-11-02 19:47] #2427 closed

[2022-11-02 20:02] MarshallOfSound commented on #2661
Building squirrel installers from macOS isn't supported in macOS versions that have dropped 32bit support.  This can be tracked upstream in the Squirrel repo if you're interested.

Forge recommends building for a platform, on that platform.  i.e. `host === target`

[2022-11-02 20:02] #2661 closed

[2022-11-02 20:26] MOZGIII commented on #1375
The problem is not with overwriting the errors or printing spinners, it's with the console input capturing, where the control commands are not properly handled.

[2022-11-03 11:13] Nootaku opened #3045 "Impossible to `make` Squirrel for Win32 on Linux"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-03 11:28] Nootaku commented on #3045
Sorry I did not understand the documentation properly. The bash command was missing a `--`

[code]
adding it makes my script work properly

[2022-11-03 11:28] #3045 closed

[2022-11-03 17:53] erickzhao opened #3046 "`InternalOptions` for webpack plugin API documentation is borked"
See https://js.electronforge.io/modules/_electron_forge_plugin_webpack.InternalOptions.html

![image](https://user-images.githubusercontent.com/16010076/199797768-bf2c63ff-f517-4117-b661-9bdd05027c07.png)

[2022-11-03 18:38] erickzhao commented on #2923
we have made some general improvements leading up to the stable.

in the future i think we should open tickets for `electronforge.io` doc issues in the docs repo

[2022-11-03 18:38] #2923 closed

[2022-11-03 20:02] cryptofyre commented on #2954
I think this would be very cool to have, we've been looking to get off of Electron-Builder for awhile and this is pretty much the only thing preventing us from switching over to Forge.

[2022-11-04 01:30] BlackHole1 commented on #2633
I will investigate this issue in the next few days and would prioritize investigating: whether forge can work with `pnpm` hoist. https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422

[2022-11-04 07:47] MarshallOfSound commented on #2633
This isn't just a case of supporting `pnpm` with hoist enabled in this repository, several core dependencies do package traversal.  The key ones being:

* https://github.com/MarshallOfSound/flora-colossus
* https://github.com/MarshallOfSound/galactus

Galactus depends on flora-colossus so if support is added correctly in the former galactus may Just Work™️

Then there's the stuff in this repositor

[2022-11-05 18:10] cwellsx opened #3052 "Restart (`rs`) and the Webpack plugin do not work with a native module"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-06 03:46] mitchemmc commented on #2931
I was able to reproduce this with the release build of v6.0.0 on MacOS 12.5 by trying to use a Web Worker.

Specifically by using [worker-loader](https://www.npmjs.com/package/worker-loader) and adding this rule to the `webpack.renderer.config.js`

[code]

Here is my preload script:
[code]

And here is my worker code:
[code]

Setting sandbox to false prevents the issue but it would be good to avoi

[2022-11-07 06:37] VerteDinde commented on #3052
Hey @cwellsx, would you mind trying this with v6.0.0? I think we may have addressed this issue in a later beta version than the one you’re running, just want to make sure that’s the case.

[2022-11-07 07:21] cwellsx commented on #3052
Hi @VerteDinde thank you.
Yes, I should try with v6.0.0.
Probably next week-end (Nov, 12-13).

[2022-11-07 07:54] zh1314 opened #3053 "electron-forge allow only compile with webpack plugin intercept packager"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a feature request that matches the one I want to file, without

[2022-11-07 19:30] MarshallOfSound commented on #3053
Aside from a completely separate discussion around the safety of `electron-updater` and the fact people shouldn't be using it 😅

I agree with @erickzhao above, this isn't an intended usecase for forge and isn't something we should actively support.  You can override every single part of forges wiring, starting, making, publishing, etc. with the exception of packaging.  That we need to have full co

[2022-11-07 19:30] #3053 closed

[2022-11-07 20:37] georgexu99 commented on #2547
https://github.com/electron/forge/pull/3008

[2022-11-07 20:55] oeed commented on #1760
Any update on getting this merged?

[2022-11-07 22:19] erickzhao commented on #1760
i just rebased the PR and asked for re-reviews :)

[2022-11-07 22:29] erickzhao commented on #2931
@mitchemmc Are you able to reproduce this issue without `worker-loader`? I see that package was deprecated in Webpack 5, which is the major version used in Forge 6.

https://webpack.js.org/guides/web-workers/

[2022-11-07 23:02] mitchemmc commented on #2931
Unfortunately the new method doesn't work with Electron Forge.

Specifically when using:

`new Worker(new URL('./worker.js', import.meta.url));`

It will give a `404` error

[code]

[2022-11-07 23:32] mitchemmc commented on #2931
@erickzhao

Ok I was able to get the new worker method to work.
If you create a new url with the `import.meta.url` then webpack will pick up the `worker.js` file and include it in the bundle.
Then if I hard code the worker path into the worker creation like this:

[code]

This will make use of the local dev server so we can test it (although this method won't work in a production build).

Unfortun

[2022-11-07 23:38] erickzhao commented on #2931
The `native_modules` folder path is suspect.

It seems like the `@vercel/webpack-asset-relocator-loader` loader is causing this problem. Commenting it out makes the minimal example from the webpack docs work both in dev mode and packaged mode.

See repro: https://github.com/erickzhao/ericktron-forge/commit/ea27cf9018f7163eb76c4355bb0a9113f59a7f96

I think I'll open a separate issue for this!

[2022-11-08 00:02] mitchemmc commented on #2931
Interesting, it seems that removing the `webpack-asset-relocator-loader` I was able to get workers to work in the renderer but it still seems to run in to issues if I try and create the worker in a preload script.

[2022-11-08 00:05] MarshallOfSound commented on #2931
Workers don't work in preload scripts as they run before a document context is initialized (this is an electron limitation).  If we register the worker in the preload inside an window.onload event handler it will also work.

[2022-11-08 00:24] mitchemmc commented on #2931
@MarshallOfSound hmm, I've been using workers in preload scripts for a while now and haven't had many issues 🤔

The main issue I'm seeing is with sandboxing.
Having it enabled seems to run in to these `__dirname` issues.

Here's a repro that incorporates what @erickzhao found with the `webpack-asset-relocator-loader` plugin.

https://github.com/mitchemmc/forge-worker-sandbox

If I disable sandboxi

[2022-11-08 17:58] erickzhao opened #3055 "Webpack template rules don't work with Webpack 5 Web Workers"
It seems like the `@vercel/webpack-asset-relocator-loader` loader configured in the webpack template breaks the usage of Web Workers as per the example shown in the [webpack Web Worker guide](https://webpack.js.org/guides/web-workers/).

See repro: https://github.com/erickzhao/ericktron-forge/tree/webpack-worker-repro

Original discussion: https://github.com/electron/forge/issues/2931#issuecomment

[2022-11-09 06:11] MarshallOfSound commented on #3052
I tested this on latest forge (inited from template, added depedency, etc.)

Had to drop to Electron 19 because that module doesn't support Electron 20 or higher yet (https://github.com/WiseLibs/better-sqlite3/pull/870) but other than that it works fine during both start, restart and package

[2022-11-09 06:11] #3052 closed

[2022-11-09 07:22] MarshallOfSound commented on #2949
This is an issue with the webpack asset relocator we use.  Specifically the fix in cases like this is to either fix the module, or the asset relocator, or both.  In this case it required changes in both:

* https://github.com/serialport/bindings-cpp/pull/88
* https://github.com/vercel/webpack-asset-relocator-loader/pull/168

If both those PRs land and get shipped, the `serialport` module will work

[2022-11-09 07:25] MarshallOfSound commented on #2917
Merging into https://github.com/electron/forge/issues/1590

[2022-11-09 07:25] #2917 closed

[2022-11-09 11:12] mahnunchik commented on #2807
I've faced with the same issue. It works without any problem for a while.

[2022-11-09 19:55] erickzhao commented on #2943
@knlshh Could you try again with release v6.0.1?

[2022-11-10 17:49] georgexu99 opened #3064 "Should add test to check if all package versions are equal"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-10 20:44] ArthurLobopro opened #3065 "TypeError: setStatusLine is not a function"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-10 21:39] erickzhao commented on #3065
Hey @ArthurLobopro, this seems related to some refactors performed in the 6.0.1 release, but I can't reproduce with a fresh `create-electron-app` repo. Can you confirm the following:

* You have upgraded _all_ `@electron-forge/` packages to 6.0.1.
* You have tried clearing and reinstalling your `node_modules`.

[2022-11-10 23:07] georgexu99 opened #3067 "Address all the //eslint-disable-next-line @typescript-eslint/no-explicit-any"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-11 07:51] jordanarldt opened #3068 "DevDependencies are not removed when packaging app"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-11 12:40] erikian commented on #3068
Do the folders actually have any files inside? IIRC they're supposed to be empty

[2022-11-11 16:36] jordanarldt commented on #3068
Thanks for the quick reply. I just checked, and sadly, all of the folders do indeed have the files:
<img width="360" alt="image" src="https://user-images.githubusercontent.com/19815878/201387068-fe9661e9-f638-45c2-9aca-25ccc1282a72.png">

[2022-11-11 16:42] erikian commented on #3068
I'm unable to reproduce this locally on Windows, could you please create a repo with a minimal reproduction?

[2022-11-11 20:49] ArthurLobopro commented on #3065
Thanks, this was the problem.I added the package after electron forge so the versions were different

[2022-11-11 20:49] #3065 closed

[2022-11-12 07:35] GitMurf opened #3069 "Does Forge plan to replace squirrel-windows with NSIS (or other alternatives) like Electron-Builder has done given squirrel is not being actively maintained?"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a feature request that matches the one I want to file, without

[2022-11-12 07:39] GitMurf commented on #3069
Given the announcement of Electron-Forge coming under the official Electron umbrella (https://www.electronjs.org/blog/forge-v6-release), we would love to stick to using Forge but we are not excited about having to use Squirrel for Windows builds (since it really isn't being actively maintained right now). Electron-builder is appealing because we have several options for Windows builds outside of S

[2022-11-12 07:59] MarshallOfSound commented on #3069
Electron builder made this determination with no community involvement and in fact long before the "looking for contributors" message was posted on Squirrel.Windows.  The project is definitely not deprecated, archived or dead in any way.  Commits were landing as recently as September.

"Actively Maintained" is a very opinionated / qualitative determination, personally Squirrel.Windows Works ™️ for

[2022-11-12 07:59] #3069 closed

[2022-11-12 19:40] GitMurf commented on #3069
@MarshallOfSound thank you for the reply! This is very encouraging.

As for speed, our issue is that the build process takes 2-3 minutes for Mac but 25 minutes for Windows. Any suggestions or typical "gotchas" that could be the cause of a Windows build taking this long?

Thanks!

[2022-11-12 19:52] MarshallOfSound commented on #3069
That's 25 minutes to do what? Just build the squirrel installer, or to do Everything :tm:

Without specifics of your build config there's not a lot to point at, making sure ASAR is on, turning off delta update generation for CI builds, etc.  There's a few things that could make things quicker

[2022-11-12 21:15] GitMurf commented on #3069
It is the "make" process (see screenshot) that takes 25 minutes. The Package step only takes like 20-30 seconds.

![image](https://user-images.githubusercontent.com/64155612/201494822-620f9cb6-7bcd-401e-8643-7028dc46bc18.png)

[2022-11-12 21:46] GitMurf commented on #3069
And I have tried with 3 different Windows machines so it isn't a hardware thing 🤔 🤷‍♂️

[2022-11-12 22:05] GitMurf commented on #3069
I realize update screenshot was using v6 beta so I updated to current v6.0.1 as well just to make sure and still same results.

![image](https://user-images.githubusercontent.com/64155612/201496341-c6c0f26b-b0fd-48cd-af66-c53e7334c1de.png)

[2022-11-12 23:52] MarshallOfSound commented on #3069
Do you have remoteReleases defined in your squirrel config?

[2022-11-13 05:10] jordanarldt commented on #3068
@erikian Sure, here you go: https://github.com/jordanarldt/ts-electron-react-template

Just clone repo, `npm install` and then `npm run forge:make`

[2022-11-13 13:13] erikian commented on #3068
Looks like you should have `react-scripts` in `devDependencies` instead of `dependencies`. It depends on multiple development packages as you can see [here](https://www.npmjs.com/package/react-scripts?activeTab=dependencies):

![image](https://user-images.githubusercontent.com/19478575/201523316-48ef9573-2aaa-49e8-bfb7-aa0c3cbbccc6.png)

Moving it to `devDependencies` solves the issue.

[2022-11-13 13:21] erikian commented on #3068
Well, _maybe_ it should stay on your `dependencies`: https://github.com/facebook/create-react-app/issues/2696

But in this case the packages `react-scripts` depends on can't be pruned because your whole app depends on them.

[2022-11-13 19:00] GitMurf commented on #3069
We only set the bare minimum config options like the name, icon etc. and do not set anything like `remoteReleases` (just leave defaults). Should we be setting this to something?

[2022-11-13 19:05] GitMurf commented on #3069
Right now we are just using `@electron-forge/maker-squirrel` and then setting a few config items in our package.json under `config` > `forge` > `packagerConfig` and `makers`.

Should we be using something like https://github.com/electron/windows-installer and/or https://github.com/mongodb-js/electron-squirrel-startup ?

Do you have any advice / best practices to follow? Is there a good guide/resou

[2022-11-13 20:27] erikian opened #3072 "Can't run tests with npm versions greater than 6.x"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-13 21:20] MarshallOfSound commented on #3069
@GitMurf it sounds like you're doing things right, I don't suppose you can reproduce the 25 minute build time from a new app, or somehow make a repro cade available.

[2022-11-13 22:13] cwellsx commented on #2970
As mentioned above my plugin defines a new environment variable -- which is just like yours are i.e.

[code]

Mine is named CORE_EXE. To make it available to the application I add a DefinePlugin instance to the WebPack configuration by adding to `webpack.main.config.js` as follows:

[code]

You now prefer to define this using TypeScript, imported into forge.config.ts
That doesn't work for me -- be

[2022-11-13 23:56] cwellsx commented on #2970
Or maybe I don't need this. The ResolvedForgeConfig passed to the existing resolveForgeConfig already contains an array of plugins (or an array of name+config pairs) -- which my plugin could read and edit. Now that the webpack configs are instantiated (by being imported from *.ts files) they should be easier to edit programmatically.

[2022-11-14 02:14] jordanarldt commented on #3068
@erikian Ahhh excellent callout. After my last comment I actually was wondering if all of these came from react being in my project. I will do more research and testing to see if I can make sure my app works properly while `react-scripts` is in the devDependencies. If not, I guess it's not a huge deal. Just trying to keep my project as lightweight as possible!

[2022-11-14 17:14] #1784 closed

[2022-11-14 17:19] GitMurf commented on #3069
@MarshallOfSound I missed this excerpt in your message earlier but it appears we had ASAR set to false. When I turned it to true then our build time went down to under 3 minutes!! 🎉

Excuse my ignorance but I noticed that Electron packager sets ASAR to false by default. Is there a reason for this? Is there any downside we need to think about when setting ASAR to true? From my limited knowledge it

[2022-11-14 17:23] georgexu99 commented on #3072
I've got a fix for this in the [lerna pr](https://github.com/electron/forge/pull/3058)

but the solution before I merge it later today is to add `-g` to the `npm unlink` command

[2022-11-14 17:58] sboudouk commented on #2807
Same issue here. Any fix ? Adding appdmg as dev dependency result in node-gyp error.

[2022-11-14 18:08] mahnunchik commented on #2807
My workaround is to specify python version for GitHub action:

[code]

[2022-11-14 18:25] MarshallOfSound commented on #3069
It wasn't true by default on day 1 so that breaking change would be a bit unfortunate.  It has a couple of edge cases that don't impact most apps but are kinda nasty for the apps it does impact.

[2022-11-14 18:39] erickzhao commented on #3072
going to leave this open but make the other PR close it

[2022-11-14 18:40] erickzhao commented on #3068
Seems like this is resolved. Closing!

[2022-11-14 18:40] #3068 closed

[2022-11-14 18:43] GitMurf commented on #3069
Gotcha, ok that makes sense. So if I can summarize / replay that to you, is it:

1. Day 1 it was set to false and therefore many established apps/devs have built things with that assumption so to change that default now could disrupt and create a lot of questions / surprises.
2. The recommended approach would be to set it to true?
3. More or less, set it to true and as long as you don't have any p

[2022-11-14 18:48] MarshallOfSound commented on #3069
👍 Yup

[2022-11-14 18:59] GitMurf commented on #3069
@MarshallOfSound ok thanks so much for all your help and quick responses. Much appreciated :) Now I will let this GH Issue be "officially" closed and stop bugging you 🤣

[2022-11-14 19:12] #3072 closed

[2022-11-14 19:40] #3055 closed

[2022-11-14 23:36] erickzhao commented on #3067
<img width="714" alt="image" src="https://user-images.githubusercontent.com/16010076/201790171-0e5bae62-67c4-4ba0-a5ed-db85051d7b64.png">

this is causing a lot of noise in CI runs

[2022-11-15 07:31] aryanshridhar commented on #3067
I can work on it if no one's working on it :)

[2022-11-15 23:41] AngeloACR commented on #1662
Amazing, I was facing the same issue and this was the solution. Thank you so much!

[2022-11-16 00:28] erickzhao opened #3076 "Add Electron Fuses to the packaging pipeline"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a feature request that matches the one I want to file, without

[2022-11-16 01:10] erickzhao commented on #1662
Hey, I've add this to the docs so that people don't have to dig too deep for the workarounds.

https://github.com/electron-forge/electron-forge-docs/commit/1735d10dde95ce889e6872ba10d46b7c5baaf860

[2022-11-16 03:28] erikian commented on #3076
Going for a plugin would potentially help with modularization, though it doesn't look like it's going to take a lot of code (`@electron/fuses`' docs show a complete example in just a few LOC), so maybe it can be just built into Forge (or packager?) directly. Either way, I'd happy to take on this once an approach is decided.

[2022-11-16 06:02] erickzhao commented on #3067
I think @georgexu99 was planning on doing so but not sure.

[2022-11-16 16:21] dariusclay opened #3078 "publisher-electron-release-server fails to upload artifacts for other flavors than default"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-16 16:26] dariusclay commented on #3078
See: https://github.com/electron/forge/pull/3079

[2022-11-17 15:48] maks1mp opened #3084 "An unhandled rejection has occurred inside Forge: [object Object]"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-18 02:18] dan-fritchman opened #3085 "Is there a way to get type-checking errors back on the command line?"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a feature request that matches the one I want to file, without

[2022-11-18 05:29] erickzhao commented on #3085
Hey @dan-fritchman, thanks for the issue report. I'm not sure what exactly changed yet, but I'd like to know if you're using the Webpack + TypeScript template for your codebase!

[2022-11-18 05:32] erickzhao commented on #3084
Hey @maks1mp, thanks for the issue report. A few thoughts:

* The `[object Object]` error message is very unhelpful and we should fix that.
* Does adding `DEBUG=electron-forge:*` add any helpful output?
* Compilation is best done on the host platform if possible. You can do it via CI (free with GH actions) if you don't have a Windows machine, too.

[2022-11-18 06:30] maks1mp commented on #3084
Hi, @erickzhao this is my output with DEBUG:

[code]

I have tried to build on BootCamp Windows and got the same error.

[2022-11-18 06:38] anatoly-day-io commented on #3084
Experiencing the same error with snap/deb/rpm/squirell distributables on Manjaro 22.
The binaries are ok. The error is while "Making distributables" (installers).

[2022-11-18 07:03] anatoly-day-io commented on #3084
Debugged myself by editing `node_modules/@electron-forge/cli/dist/util/terminate.js`. Was able to build after adding author, description and license fields.

[2022-11-18 07:32] maks1mp commented on #3084
@anatoly-day-io does not work for me.

[2022-11-18 17:47] dan-fritchman commented on #3085
Very good question, I should have noted this.

The project actually started from and uses the Webpack (non Typescript) template.
We then added a bunch of Typescript, all in "sibling" packages which are linked as [Typescript project references](https://www.typescriptlang.org/docs/handbook/project-references.html). (This project is also a [yarn workspace](https://classic.yarnpkg.com/lang/en/docs/wor

[2022-11-19 17:13] cwellsx commented on #3052
Yes thanks, I confirm I no longer have the problem with the released 6.0.0 version.

BTW instead of dropping the Electron version I install the pull request:

[code]

[2022-11-19 17:29] cwellsx commented on #2970
@MarshallOfSound @erickzhao I think you can close this now, I'm satisfied, because:
- Using your new `forge.config.ts` style of configuration, the Webpack configurations are instantiated before the plugins' hooks are called.
- Therefore I can edit your Webpack Plugin's already-instantiated Webpack configurations programmatically, in my plugin's `resolveForgeConfig` hook.

An example of this is her

[2022-11-19 18:24] cwellsx commented on #2611
Using the released 6.0.0 I am able to build and load the `better-sqlite3` package with no known problems.

- I already have Visual Studio 2017 and 2019 installed on my machine
- I also installed the latest version of Node.js from https://nodejs.org/en/download/current/ with the "Windows build tools" option enabled

The `better-sqlite3` package doesn't currently support the new versions of Electron

[2022-11-19 20:30] cwellsx commented on #2789
I don't understand that `launch.config`.

Instead of using it I use this `.vscode/launch.json` and run the `Run npm start` debugging target:

[code]

That executes (and lets me debug) the electron-forge-start script -- but if I set a breakpoint in my source code for the Electron main process, then it will break there too, after that process is started.

[2022-11-19 20:40] cwellsx commented on #2681
FYI here I show the `launch.json` file I use for debugging:

- https://github.com/electron/forge/issues/2789#issuecomment-1320963413

[2022-11-20 11:08] cwellsx commented on #3052
@MarshallOfSound I confirm that I still have this problem, with the 6.0.0 release.

- This loads fine -- `npm start` and then `rs`
- But this errors -- if I edit the source code, after  `npm start` and before `rs`

---

BTW instead of dropping the Electron version I install the pull request:

npm install WiseLibs/better-sqlite3#pull/870/head

---

Let me know if you want more information or anythi

[2022-11-20 12:16] cwellsx commented on #3052
The problem is this line of code:

- https://github.com/WiseLibs/better-sqlite3/blob/master/lib/database.js#L48

[code]

That TypeScript statement translates to this JavaScript:

[code]

When I press `rs` without modifying the code, the value of `__webpack_require__.ab` (on my machine) is

- `'C:\Users\Christopher\Source\Repos\pic\.webpack\main/native_modules/'`

And it's undefined when I have the

[2022-11-20 21:08] VerteDinde commented on #3084
@maks1mp @anatoly-day-io @yishayhaz For the folks experiencing this issue, would it be possible for you to include a copy of your repo, or a base repro case? I just tried to reproduce this on Windows with the basic template and didn't hit this error - any additional information or a repro case provided would be very helpful.

[2022-11-21 19:56] georgexu99 commented on #3067
@aryanshridhar feel free to tackle this if you are interested!

[2022-11-21 22:24] erickzhao commented on #3084
Hi all,

The exact error message that folks are running into here (`An unhandled rejection has occurred inside Forge: [object Object]`) is a generic error that happens whenever _any_ unhandled error in a Maker bubbles all the way up to the core API.

This means the problem reported in this GitHub issue has many root problems and many solutions, and therefore has very limited usefulness in its curr

[2022-11-21 22:24] #3084 closed

[2022-11-21 22:24] erickzhao commented on #3084
@maks1mp for your exact error, I would install https://www.mono-project.com/docs/getting-started/install/mac/ if you haven't already.

[2022-11-21 22:30] erickzhao commented on #3084
If folks need additional help debugging their specific issues after getting past the `[object Object]`, I would recommend:
* Joining us at https://discord.gg/electronjs to ask for Forge configuration help.
* Opening a new issue in the tracker if you think there's a bug.

[2022-11-22 00:25] kyleshay opened #3087 "Build speed regression between 65 to beta.66"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-22 00:30] erickzhao commented on #3087
https://github.com/electron/forge/commit/1f45e2ca701ec117df932f38e7fe808bdd832e74 this seems like the only commit in that range that could affect your build times

[2022-11-22 00:43] kyleshay commented on #3087
Thanks for the quick reply @erickzhao — that does seems to line up and appear relevant. It looks like the change was intended to be transparent by keeping the behavior of `nodeIntegration: false` (so render target of `web`)

Without digging in and familiarizing myself more with the change, this change seems suspicious:
https://github.com/electron/forge/commit/1f45e2ca701ec117df932f38e7fe808bdd832e

[2022-11-22 04:44] erickzhao commented on #3087
Good to know we've pinpointed the issue! We'll take a look and see if there are any ways to make this speedier ⚡ .

[2022-11-22 08:01] cwellsx commented on #2611
The new release of better-sqlite3 include PR 870 which fixes the problem it had compiling for the latest version of Electron

- https://github.com/WiseLibs/better-sqlite3/releases/tag/v8.0.0

[2022-11-22 08:14] qiqetes opened #3088 "S3 publisher is not working with two architectures [windows]"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-22 08:14] qiqetes commented on #3088
@erickzhao

[2022-11-22 08:16] MarshallOfSound commented on #3088
@qiqetes You can use [`keyResolver`](https://js.electronforge.io/interfaces/_electron_forge_publisher_s3.PublisherS3Config.html#keyResolver) to change the key a file is published to based on the arch

[2022-11-22 18:08] erickzhao commented on #2611
I can close this as resolved then? @cwellsx

[2022-11-22 18:08] #2611 closed

[2022-11-24 00:20] erickzhao opened #3091 "Add upgrade reminder"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a feature request that matches the one I want to file, without

[2022-11-24 11:06] quolpr opened #3092 "create electron-app doesn't work on m1"
### Operating system

macOS m1(arm)

### Expected behavior

When I use `yarn create electron-app --template=webpack-typescript` it should work fine

### Actual behavior

When I use `yarn create electron-app --template=webpack-typescript` it fails to install cause it tries to install node-sqlite3 and failes because it tries to use python2, while system hav only python3. Upgrade to latest node-sqlit

[2022-11-24 11:13] quolpr commented on #3092
Hmm, but installation through npm works correctly 🤔 Maybe it is only mine local yarn issue

[2022-11-24 11:15] #3092 closed

[2022-11-24 14:40] Kholmukhammadov commented on #2163
Thi issue opened 2 years ago. Is there any solution to solve this problem?

[2022-11-24 21:36] DeveloperAspire opened #3093 "spawn rpmbuild ENOENT"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-24 21:58] erickzhao commented on #3093
@DeveloperAspire The ENOENT error here is saying that you don't have `rpmbuild` available. Do you have rpm installed?

[code]

[2022-11-24 22:06] malept commented on #3093
I'm confused as to why it's not printing the human readble error in this case.

[2022-11-24 22:07] malept commented on #3093
Oh, never mind, this is Forge 5. If you upgrade to Forge 6, there are better error messages.

[2022-11-24 22:08] #3093 closed

[2022-11-24 22:40] DeveloperAspire commented on #3093
Please don't close the PR yet @malept my issue isn't yet.

@erickzhao I am using Ubuntu, can I install rpm on it?

[2022-11-24 22:44] malept commented on #3093
I closed it because it's not a bug in the current version of Forge. Support for Electron Forge is available in our [Discord server](https://discord.gg/electronjs). That being said, Erick's advice should resolve your issue.

[2022-11-24 23:03] DeveloperAspire commented on #3093
@malept Sorry to disturb

Couldn't find any versions for "electron-forge" that matches "6.0.0"
? Please choose a version of "electron-forge" from this list: (Use arrow keys)
❯ 5.2.4
  5.2.3
  5.2.2
  5.2.1
  5.2.0
  5.1.2
  5.1.1
  5.1.0
  5.0.0
  4.3.0
  4.2.1
  4.2.0
  4.1.9
  4.1.8
  4.1.7
  4.1.6
  4.1.5
  4.1.4
  4.1.3
  4.1.2
  4.1.1
  4.1.0
(Move up and down to reveal more choices)

I get t

[2022-11-24 23:05] malept commented on #3093
See https://www.electronforge.io/import-existing-project

[2022-11-24 23:12] DeveloperAspire commented on #3093
It is the same thing, I have already tried that. I still get the message above

[2022-11-24 23:42] erickzhao commented on #3093
I would try clearing your npx cache if you're using that. It might just be re-using your Forge 5 installation if you're running `npx` commands.

https://www.npmjs.com/package/clear-npx-cache

Since it seems like you're running a hello world app, I might just try starting a new project too instead of importing.

[2022-11-25 01:05] erickzhao commented on #3088
https://github.com/electron-forge/electron-forge-docs/commit/17e01c54d50c7cb034323a5eecfadce7fa8306a6

[2022-11-25 01:05] #3088 closed

[2022-11-25 06:48] DeveloperAspire commented on #3093
I am not running a hello world app. I am using yarn and I have cleared my cache and tried again, I still get the same thing

[2022-11-25 06:50] DeveloperAspire commented on #3093
Can you try from your end using Yarn and lemme know if it works for you?

[2022-11-25 07:14] DeveloperAspire opened #3094 "Couldn't find any versions for "electron-forge" that matches "6.0.0""
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-25 08:39] arey-instoresolution opened #3095 "Issue with zip archive created on Windows but extracted on Linux"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-25 09:58] MarshallOfSound commented on #3095
Funky bug, it stems from a "Windows Peculiarity" (Read windows being silly like normal)

Should be fixed in https://github.com/feross/cross-zip/pull/34

[2022-11-25 10:00] MarshallOfSound commented on #3094
@DeveloperAspire Per our docs --> electronforge.io the package name is `@electron-forge/cli` (every package is scoped to `@electron-forge/*`)

You shouldn't be trying to install the old `electron-forge` package name (we don't use it anymore).  If that's still referenced in our documentation somewhere please let us know, otherwise switch from `electron-forge` in your package.json to `@electron-forg

[2022-11-25 10:00] #3094 closed

[2022-11-25 15:37] erickzhao commented on #3093
What version of yarn are you running?

Here's init running for me:

[code]

Here's import running for me:

[code]

[2022-11-26 18:40] TechStudent10 opened #3097 "[SECURITY] minimatch vulnerability found in Electron Forge CLI"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-27 03:04] MarshallOfSound commented on #3097
This was fixed by a patch release of `@electron/universal`.  If you're using yarn you can use `npx uuaw @electron/universal` to update the transitive dependency and clean up this audit output

[2022-11-27 03:04] #3097 closed

[2022-11-27 03:18] TechStudent10 commented on #3097
Thank you!

[2022-11-27 04:29] Atharva-17 commented on #3046
Hey! @erickzhao I like to work on this issue.

[2022-11-27 11:19] cwellsx opened #3098 ""Not allowed to load local resource" for "file://" URI -- bu only on npm start, not after it is packaged"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-28 04:08] MarshallOfSound commented on #3098
Agreed this is somewhat inconvenient but it's a documentation issue only as this is functionally working as expected.  You shouldn't just be loading files ad-hoc from `file://` as it's generically unsafe.  Using a custom protocol and specifically allowed files is much Better ™️ anyway.

[2022-11-28 07:07] cwellsx commented on #3098
Isn't this, e.g. "loading files", like the main reason for using Electron at all instead of a web browser like Chrome?
I.e. to be a desktop application which CAN access local files?
For example I thought that, famously, VS Code is implemented with Electron: and IT sure can access local files.

And if were unsafe to use `file://` then why I can do it in the packaged app but not during development?

[2022-11-28 21:18] erickzhao commented on #3046
There's already a linked PR to address this issue, unfortunately. I'm not going to land that one as-is, but I'm assigning myself the issue right now since I'm working on adjacent improvements to the API docs.

[2022-11-28 21:30] georgexu99 commented on #3087
Hey Kyle! I haven't been able to reproduce this build slowdown- could you try updating to v6.0.3, and if that doesn't work, creating a webpack template app with `yarn create electron-app my-new-app --template=webpack`, make some edits to the entrypoints + preloads so that the build time increases and share that with me? That would be most appreciated :)

[2022-11-29 17:34] kyleshay commented on #3087
Ah, I originally noticed this on v6.0.3 and then traced it back to this revision. Undoing the changes in this specific commit fixed the regression for our build.

I'll experiment to see if I can repro this from a fresh build.

Thanks for taking a look into this!

[2022-11-29 19:29] kyleshay commented on #3087
Ah, I was able to find the issue!

tl;dr is that [`fork-ts-checker-webpack-plugin`](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin) slows the build (from my-new-app, the renderer step takes a long time depending on how many entrypoints there are with this new commit.)

## Here are the steps

1. Add typescript & fork-ts-checker-webpack-plugin
[code]

2. Add a lot of entrypoints to `fo

[2022-11-30 05:02] garryxiao opened #3099 "How to remove unnecessary locales?"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a feature request that matches the one I want to file, without

[2022-11-30 10:31] #3099 closed

[2022-11-30 20:01] MarshallOfSound commented on #3087
I think it's the change that makes `getRendererConfig` return multiple configs.  Passing multiple configs to `webpack()` is the same as running `await Promise.all(configs.map(config => webpack(config)))` under the hood.  I think we can dramatically speed this up again.

Old: 1 renderer config
New: N renderer config
Proposed: Max 2 renderer configs, we should bucket entry points into 2 configs.  On

[2022-11-30 21:33] tiagoporto opened #3100 "Squirrel on windows returning An unhandled rejection has occurred inside Forge: [object Object]"
### Pre-flight checklist

- [X] I have read the [contribution documentation](https://github.com/electron/forge/blob/main/CONTRIBUTING.md) for this project.
- [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/main/CODE_OF_CONDUCT.md) that this project uses.
- [X] I have searched the issue tracker for a bug that matches the one I want to file, without success.

##

[2022-11-30 21:38] erickzhao commented on #3100
Duplicate of https://github.com/electron/forge/issues/3084

The error message should be clearer once we release v6.0.4 today.

[2022-11-30 21:38] #3100 closed

[2022-11-30 22:46] tiagoporto commented on #3100
Thank you @erickzhao