[2016-10-05 15:18] MarshallOfSound opened #1 "TODO"
- [x] Initialize new empty Application
- [x] Package for different platforms through `electron-compile`
- [x] Lint applications
  - [x] Provide a choice between `airbnb` and `standard` linting styles
- [ ] CLI Docs explorer [WIP]
- [x] Integrate `electron-rebuild` functionality
- [x] New `electron-forge make` command
  - [x] All platforms
    - [x] `zip` files
  - [ ] Windows
    - [x] `electron-w

[2016-12-09 04:36] MarshallOfSound opened #7 "Signed applications are "invalid" on macOS"
Traced this to be due to the packager signing and then we modify the ASAR file.  Should extract the signing config and sign ourselves.

/cc @malept

[2016-12-09 04:40] malept commented on #7
I think a better way is to use a packager hook (one that exists or make a new one) to run electron-compile, and then have Electron Packager run as normal. Is that feasible?

[2016-12-09 05:17] MarshallOfSound commented on #7
@malept The issue is the ASAR file AFAIK.  The problem is we must compile in the packaged folder (or we will generate a cache in the development directory).  So if we need to generate a cache and the user has generated an ASAR then we can't generate a cache.

So we remove the ASAR request and do it manually afterwords.

[2016-12-09 05:40] malept commented on #7
Sorry if I'm being rather dense about this, but it's not clear to me why the electron-compile step can't work similarly to your [proposed electron-rebuild hook](https://github.com/electron/electron-rebuild/pull/120).

[2016-12-09 05:44] MarshallOfSound commented on #7
@malept Hahahahahaha, how did I miss that 😆

It can almost certainly be done there 👍

[2016-12-10 14:41] #7 closed

[2016-12-13 15:08] Schrims opened #16 "not able to init a project"
**Please describe your issue:**
hi I installed your package and tried to init a new project but I'm getting the following error after running that command

**Console output when you run `electron-forge` with the environment variable `DEBUG=electron-forge:*`. (Instructions on how to do so [here](https://www.npmjs.com/package/debug#usage). Please include the stack trace if one exists.**

[code]

**W

[2016-12-13 15:10] malept commented on #16
What version of Node are you using? I suspect that it's not Node 6, which happens to be the only version that we test against at the moment.

[2016-12-13 15:11] Schrims commented on #16
right now im using node version v5.10.1

[2016-12-13 15:14] malept commented on #16
Yup, [`Array.prototype.includes` was introduced in Node 6](http://node.green/#Array-prototype-includes) (not behind a `--harmony` flag, anyway).

[2016-12-13 15:15] Schrims commented on #16
ok I will update to a newer version - thanks for your quick response!

[2016-12-13 15:16] malept commented on #16
I'm going to add some stuff to the documentation that makes it more explicit about which Node versions we support.

[2016-12-13 15:16] #16 closed

[2016-12-13 21:14] malept commented on #16
#17 has been merged, it will be in the next release. Thanks for notifying us of this issue.

[2016-12-13 22:06] MarshallOfSound commented on #16
@malept I'm slightly concerned that `babel` didn't transform `.includes`

https://github.com/electron-userland/electron-forge/blob/master/package.json#L42

Might have to look into that at some point

[2016-12-13 22:08] MarshallOfSound commented on #16
Looks like we need https://www.npmjs.com/package/babel-plugin-array-includes

[2016-12-13 22:11] malept commented on #16
@MarshallOfSound are we going to support Node >= 4? (I'm OK with it, but you're the one who put only 6 in CI 😃 )

An argument for it would be that the other Electron tooling at this level also supports these versions of Node.

[2016-12-13 23:04] MarshallOfSound commented on #16
@malept I think we could / should until 4 is no longer LTS.  If we add that includes plugin or just refactor includes out of everything then I think it would work on `4.x`

[2016-12-13 23:08] malept commented on #16
@MarshallOfSound

Woo, [April Fools' Day 2018](https://github.com/nodejs/LTS)!

I'll file a PR to revert back to Node 4 plus add the babel plugin later tonight, unless you get to it first.

[2016-12-13 23:10] MarshallOfSound commented on #16
@malept If the node.js team doesn't do something with that opportunity 😆

Could play a prank on a global scale 😆

[2016-12-14 08:08] develar commented on #1
Why you decided to use various build tools instead of using electron-builder under the hood to build AppImage and other targets?

[2016-12-14 08:11] MarshallOfSound commented on #16
@malept Looks like we can't support node 4.x as `electron-compile` doesn't.

https://github.com/electron/electron-compile/blob/master/package.json#L31

[2016-12-14 12:46] MarshallOfSound opened #21 "Config should also be configurable as a JS file path"
Basically at the moment we are limiting users of `electron-forge` to JSON for their config.  Which is 99% of the time perfectly fine but these two issues were raised today while demonstrating forge to someone.

* You can no longer use the `afterCopy` and `afterExtract` hooks of `-packager` as nicely as before
* Lot's of values will probably be duplicated, it would be nicer to have them as constant

[2016-12-14 14:35] malept commented on #16
@MarshallOfSound Well, that's interesting and unfortunate. Do you want to make 5 the minimum or stick with 6?

[2016-12-14 15:07] malept commented on #21
I'm not opposed to this. I would prefer that we default to the current behavior.

[2016-12-14 21:03] malept commented on #1
electron-builder was not used for a couple of reasons:

* Electron Forge is fundamentally built on electron-compile, which as far as I can tell is incompatible with electron-builder.
* It uses Electron Packger, so it makes sense to use other packages which are compatible with that one.

[2016-12-14 23:57] MarshallOfSound commented on #16
@malept 5 is only get sec patches now I think, would make sense to just stick to LTS versions that we can support 👍 People should be moving to 6 anyway 😆

[2016-12-15 06:52] develar commented on #1
If you need API to build in distributable format already packaged directory — it can be easily implemented.

[2016-12-16 11:00] MarshallOfSound commented on #1
@develar That's the thing we don't need that API because there is already an existing well maintained community ecosystem of `electron-installer-*` modules that integrate perfectly with the existing `electron-packager` and other `electron-*` modules provided by both @malept and the Electron maintainers in the Electron repository.

That's part of the reason for the creation of this tool (unifying t

[2016-12-17 00:17] malept opened #23 "Rebuilding scoped native modules needs a test"
From a comment in #19.

[2016-12-17 00:47] #21 closed

[2016-12-17 03:11] malept opened #25 "Add Snap (snapcraft) Maker"
See: http://snapcraft.io/

I would rather not have code that calls snap inside of Electron Forge, but rather it should be a separate package like the ones for `.deb`, `.rpm`, and Flatpak. (`electron-installer-snap`?)

[2016-12-17 03:13] MarshallOfSound commented on #25
Agreed, if this is done it should be made in a similar manner to all the other `electron-installer-*` modules and then utilised here 👍

[2016-12-17 03:14] malept opened #26 "Add AppImage Maker"
See: https://en.wikipedia.org/wiki/AppImage

I would rather not have code that calls the AppImage creator inside of Electron Forge, but rather it should be a separate package like the ones for `.deb`, `.rpm`, and Flatpak. (`electron-installer-appimage`?)

[2016-12-17 03:18] malept opened #27 "Add AppX (Windows Store) Maker"
Via the [`electron-windows-store`](https://www.npmjs.com/package/electron-windows-store) package.

[2016-12-17 03:19] malept commented on #27
CC: @paulcbetts

I think you indicated in Slack that you wanted to look at this one.

[2016-12-17 03:32] malept opened #28 "New getting-started command"
This would probably launch an HTML file locally.

### Features

* Briefly explain the purpose of Electron Forge
* Brief descriptions and links to each maker
* Explanation of the `config.forge` section of your `package.json`
* Automatically prompt to show `getting-started` on first run

[2016-12-17 03:33] malept opened #29 "Enhanced debug support"
Enhance usage of the `debug` module so that people can see what's going on if they want 👍

[2016-12-17 03:34] malept opened #30 "Add example CI files to the template"
Add example Travis and AppVeyor CI files to the template, to make it easy for someone to automatically build (and release?) their Electron apps for all supported target platforms/arches.

[2016-12-17 03:36] malept opened #31 "CLI Docs explorer"
*@MarshallOfSound, please fill this in* 😅

[2016-12-17 03:37] malept commented on #1
I've migrated the remaining TODOs to their own issues, so I'm closing this.

[2016-12-17 03:37] #1 closed

[2016-12-17 04:15] MarshallOfSound commented on #31
Haha, I have no idea what I was thinking of when I wrote that. 😕

I assume I had a cool idea though, I'll check my stashes later for what I was talking abut 👍

[2016-12-17 22:56] #23 closed

[2016-12-18 06:57] malept opened #35 "Support for custom template directories"
There are a bunch of framework-specific Electron boilerplates, e.g., for React & Vue. Perhaps we should allow initializing using a custom template directory?

[2016-12-18 11:35] probonopd commented on #26
Possibly @develar can share some insights or even code from his work with Electron and AppImage.

[2016-12-18 17:18] develar commented on #26
@probonopd Mantainers of this package decided to reinvent the wheel and discourage the idea to use electron-builder under the hood — https://github.com/electron-userland/electron-forge/issues/1#issuecomment-267570247 In any case electron-builder will provide such API in the future (well, it is possible even now, just not documented / polished to be used standalone).

[2016-12-18 17:27] malept commented on #26
@develar I would avoid talking about "reinventing the wheel", given how electron-builder evolved.

In any event, if you (or another contributor) would like to extract the electron-builder AppImage code into a standalone NPM package (as mentioned in the issue summary, preferably in the same style as the `electron-installer-*` packages), we would be happy to investigate integrating *that* package in

[2016-12-23 00:32] night5415 opened #37 "electron-prebuilt-compile depends on a not published package (@paulcbetts/node-sass)"
**Please describe your issue:**
Creating a new project fails when installing dependencies, not really your fault because prebuilt looks to be using Jade that is now deprecated and should use pug.

**Console output when you run `electron-forge` with the environment variable `DEBUG=electron-forge:*`. (Instructions on how to do so [here](https://www.npmjs.com/package/debug#usage). Please include the

[2016-12-23 02:21] MarshallOfSound commented on #37
Hey @night5415

Pug / Jade is not the issue here, that is just a warning.

The actual issue is

[code]

/cc @paulcbetts  I can't find this module on NPM either.  Did it not get published?

https://www.npmjs.com/package/@paulcbetts/node-sass

[2016-12-23 20:57] paulcbetts commented on #37
Ughhhh sorry all. Should be fixed now

[2016-12-23 21:39] MarshallOfSound commented on #37
Thanks @paulcbetts :)

[2016-12-23 21:39] #37 closed

[2016-12-24 07:32] malept opened #38 "Upgrade ora to 0.4.0"
This gets its own issue because it presents us with an opportunity to refactor our usage of `ora` to use [`ora.promise`](https://github.com/sindresorhus/ora#promiseaction-optionstext). @MarshallOfSound suggested that the refactor should involve making a helper for the global uncaught rejection idiom currently being used in a number of places.

[2016-12-25 21:21] paulcbetts commented on #27
:+1:

[2016-12-27 07:35] paulcbetts opened #40 "Yarn borks @paulcbetts/node-sass"
`electron-forge init` fails on Windows (at least) atm, because Yarn + native modules still seems to have some glitches:

[code]

[2016-12-27 08:04] MarshallOfSound commented on #40
Strange @paulcbetts this CI build ran a few hours ago with Yarn and passed the `init` tests.

https://ci.appveyor.com/project/electron-userland/electron-forge/build/1.0.68

Are you running a linked version or the published version?

[2016-12-27 08:07] MarshallOfSound commented on #40
Interesting as well, that gyp log indicates it is fetching Electron headers which means it is independent of yarn.  We spawn `node-gyp` manually so I'm not sure why it passes on CI but blows up on yours 😕

[2016-12-27 08:10] MarshallOfSound commented on #40
And to go even further than that, as a development dependency that shouldn't even be being rebuilt 🌵

[2016-12-27 08:26] MarshallOfSound commented on #40
I greatly enjoy having conversations with myself.  But this should be fixed in `1.1.0`.  Forgot I hadn't published in a looong time 😆

[2016-12-27 09:16] paulcbetts commented on #40
Hm. So now we have a problem. Because node-sass needs to be loaded into the Electron app in in development, and into system node in production :cry: :cry: :cry: :cry:

Alright well, I'll jump off this bridge later, at least it won't fuck up the lives of people who aren't using Sass

[2016-12-27 09:16] #40 closed

[2016-12-28 06:39] malept commented on #35
I was thinking about this today in the context of the current `init` command. As it's written, there's an optional `lintstyle` attribute that chooses whether to copy in an `.eslintrc` (for the airbnb coding standard). You can't really replicate that with a template directory, unless you plan on duplicating files (which I'd like to avoid doing en masse), there would need to be some logic involved i

[2016-12-28 07:48] develar commented on #26
@malept https://github.com/develar/electron-builder/commit/9a3aee17e111dcb9ab3e1a4cdbe3491e0d0a392f#diff-9e7c5502a6b152427a4c43b0cd7d65d6

You can use electron-builder only to build prepackaged app into distributable format (AppImage, Snaps).

[code]

Do you like this solution? Do you like CLI option name?

[2016-12-28 08:11] malept commented on #26
The main problem I have with this approach is that I don't want to add a heavyweight dependency where we'll only use a small fraction of the functionality. We're adhering to the Node community/UNIX convention where modules should ideally be created for one particular concept, and then meshed together in higher-level modules.

To reiterate what I said in [an earlier comment](https://github.com/elec

[2016-12-28 08:26] develar commented on #26
@malept The only heavyweight dependency is `request` from `electron-download` (`nugget`) :)

electron-builder downloads required binaries for various targets on the fly — so, if you build AppImage, nsis (or squirrel.windows, or anything else) will be not downloaded.

Ok, I got your point, thanks (e.g. currently ` archiver` is required only for squirrel.windows, but installed in any case).

[2016-12-30 02:37] kwonoj opened #44 "Local module installation support?"
**Please describe your issue:**

![image](https://cloud.githubusercontent.com/assets/1210596/21558849/a4dcf726-cdf5-11e6-8b99-f4d70e524fc8.png)

I'm not sure if this is intended usecase or not, so just raising issue for now.
Though I don't think it's frequent usecases, it may possible someone try to install `electron-forge` as local module and try to use it - is there plan to support those cases?

[2016-12-30 02:45] MarshallOfSound commented on #44
@kwonoj This is an error with `electron-devtools-installer`.  I made that module as well so I can help you out.

Basically comment out anything to do with `electron-devtools-installer`, run your app once, then quit, uncomment and you should be good to go.

[2016-12-30 02:45] #44 closed

[2016-12-30 02:45] MarshallOfSound commented on #44
Also FWIW local installation should work

[2016-12-30 02:45] kwonoj commented on #44
Oops, thanks for clarification.

[2016-12-30 04:36] #35 closed

[2016-12-30 04:38] manikantag opened #46 "Debug with VSCode"
**Please describe your issue:**
Unable to start/debug the app using VSCode.

**Console output when you run `electron-forge` with the environment variable `DEBUG=electron-forge:*`. (Instructions on how to do so [here](https://www.npmjs.com/package/debug#usage). Please include the stack trace if one exists.**

With below launch.json configuration,

	"configurations": [
		{
		    "name": "Launch Prog

[2016-12-30 04:43] MarshallOfSound commented on #46
This is because `electron-forge` expects your command to be

`electron-forge start --debug-brk=41000 --nolazy`

You should go ask on the VS Code repository how to make the node debug arguments appear after your custom arguments (`["start"]`)

[2016-12-30 10:50] manikantag commented on #46
I've tried the same, but still getting error (ran from cmd prompt):

[code]

By the way, thanks for the tip about VSCode. I got some clues from https://github.com/Microsoft/vscode/issues/16173.

Below is how I've configured VSCode:

    "configurations": [
        {
            "name": "Launch Program",
            "type": "node",
            "request": "launch",
            "runtimeExecutable": "

[2016-12-30 10:50] MarshallOfSound commented on #30
Working CI files with publish calls for all three platforms can be found here.  With a bit of clean up we can probably use these.

https://github.com/MarshallOfSound/electron-forge-demo123

[2016-12-30 10:54] MarshallOfSound commented on #46
What version of electron forge are you using?  The latest version definitely shouldn't throw that error

[2016-12-30 12:37] manikantag commented on #46
Now I've switched to 2.2.0, and things are different now.

When I didn't pass `--debug-brk' switch, app is starting more than one electron process and app window is launching.

	c:\eapp>node_modules\.bin\electron-forge.cmd start
	√ Checking your System
	√ Locating Application
	√ Preparing native dependencies 1/1
	√ Launching Application

But when I pass `--debug-brk`, only one electron process is

[2016-12-30 13:04] manikantag opened #48 "REMOTE.require() not working"
**Please describe your issue:**
When I `require` some module from renderer process, it is working fine. But if I `require` and remote module (which is already loaded in main process) from renderer process, exception is seen.

**Console output when you run `electron-forge` with the environment variable `DEBUG=electron-forge:*`. (Instructions on how to do so [here](https://www.npmjs.com/package/debu

[2016-12-30 13:04] manikantag commented on #48
**Command prompt output**:

[code]

[2016-12-30 13:10] MarshallOfSound commented on #48
This is not an issue with `electron-forge` rather a usage question about Electron itself.

`remote.require` will require the module in the context of the main process.  Therefore a relative path almost certainly won't be executed in the expected way.  You can try remote requiring an absolute path.

If you have further questions about Electron itself please feel free to ask in the [community](https

[2016-12-30 13:10] #48 closed

[2016-12-30 13:14] MarshallOfSound commented on #46
I am unfamiliar with the fine art of attaching a debugger to the main Electron process and this isn't really an issue with `electron-forge` rather a usage question regarding Electron itself which can be summarised as.

"How can I debug the main process of Electron through VS Code?"

A good guide exists in the Electron repository.

https://github.com/electron/electron/blob/master/docs/tutorial/debu

[2016-12-30 13:14] #46 closed

[2016-12-30 13:20] manikantag commented on #46
I think I m not clear enough. All the above output is from running the app from command line. No VSCode here :)

[2016-12-30 13:33] MarshallOfSound commented on #46
@manikantag Everything after the word `start` in that command is simply passed through to the `electron` command.

[code]

Is exactly the same as

[code]

Therefore if that command doesn't do what you expect it to do or you can't figure out what the syntax is that you want, you need to ask over at the Electron community / slack areas.  The `electron-forge` issues section *hopefully* is to remain f

[2016-12-30 15:37] manikantag commented on #46
Excuse me for bothering you. Still I think I m not clear.

As I mentioned, the same app is starting when I use `electron-forge.cmd start`, but **not** starting when I use `electron-forge.cmd start --debug=5858` (this again from cmd, not from VSCode).

And, `node_modules\.bin\electron . --debug=5858` is working perfectly.

[2016-12-31 01:27] MarshallOfSound opened #49 "CLI Tab Completion"
It would be awesome to have at least basic tab completion for `electron-forge`.  As a minimum just tab completing the main command `electron-forge [-tab]` to see a list of options would be cool.

It looks like https://www.npmjs.com/package/commander-completion might do lots of the work for us.

[2016-12-31 02:44] enlight commented on #46
This is to be expected, `--debug-brk` means "attach the debugger and pause execution on program entry", so the main process of your app is paused on startup waiting for you to step/continue execution via the debugger. When you do continue execution the main process will then go on and create all the other processes (renderer, GPU, etc.). If you don't want your app to pause on entry then use the `-

[2016-12-31 03:58] #38 closed

[2016-12-31 04:03] manikantag commented on #46
@enlight Yeah, I've figured it out. Now I m using 'Attach' mode to run the app. Somehow I m having issues with 'Launch' mode.

[2016-12-31 04:29] manikantag commented on #46
All this confusion is because even though I've mentioned `--debug=41000`, but still electron is starting `5858` as debug port and thus VSCode is not able to attach to the `port=41000` specified in `launch.json`.

Below is the command line args of the app process tree.

Parent **node** process is having correct command line args: (`--debug=41000`)
![image](https://cloud.githubusercontent.com/assets

[2016-12-31 05:58] MarshallOfSound opened #52 "`import` should fix a two package JSON structured app"
If import detects a two package JSON structured app it should

* [ ] Attempt to collapse the directories
  * [ ] Prompt on conflicts
* [ ] Merge the package.json files
* [ ] Inform the user why this is a good thing 👍

[2016-12-31 13:03] manikantag opened #53 "Problem with non minified CSS files"
*I m not sure if  this is really a **electron-forge** issue, as I doubt this is an issue with **electron-compile** itself. But anyway I wanted to confirm.*

**Please describe your issue:**
Non minified CSS files not being loaded properly after package/make. Same are working fine with `electron-forge start`. And if I use minified CSS files, they are working with package/make too.

Please see this r

[2016-12-31 13:12] manikantag commented on #48
@MarshallOfSound  Hmmm... you are correct.

Till now I've used https://github.com/BZCoding/SkelEktron based app (which uses **electron-builder**, and it doesn't have **electron-compile** support). As recommended by you, now I m trying **electron-forge** https://github.com/electron/electron-compile/issues/61#issuecomment-268700079

The same which used to work earlier (with `REMOTE.require(...)`) is

[2016-12-31 13:14] manikantag commented on #53
@MarshallOfSound I feel this is similar to the issue I've reported here https://github.com/electron/electron-compile/issues/61#issuecomment-265465954

[2016-12-31 16:39] malept commented on #53
If you look at the error you get in the devtools pane, it's clear that the error is caused by `electron-compile`. Here's the error in full, when I run it:

[code]

My guess as to what is happening is that it's failing to find both a CSS compiler and a fallback for the `text/css` file. It might be ignoring the `app.min.css` one because there are two dots in it and not one (and so it can't even find

[2016-12-31 17:18] manikantag commented on #53
@malept Weird thing is just having `.min.css` (tow dots in the file name) is also not working. Try renaming the `app.css` to `app.min.css` (without actually minifying the contents). Same error will be thrown.

[2016-12-31 17:28] malept commented on #53
I did mention that the last part of my statement was complete speculation 😃

I still think that this isn't specifically an Electron Forge issue, but I'll defer to one of the other maintainers with more experience with electron-compile.

[2016-12-31 18:55] malept opened #54 "Add public API"
As it currently stands, Electron Forge is CLI driven. If you want to interact with it in another Node module, you need to shell out. In order to better integrate with solutions such as [ember-electron](https://github.com/felixrieseberg/ember-electron), we should refactor the logic so that it's accessible via a public (documented) API.

[2016-12-31 20:06] MarshallOfSound commented on #54
As briefly mentioned in slack I think the easiest way to make this work is

* Extract all actual logic in all the "main" async functions to their own files in a new folder "api"
* Make these functions take in a single options parameter with the same property names as the "program" object.
* Add another property to all options objects `useOra` which defaults to false (so that when you use the API w

[2016-12-31 20:07] MarshallOfSound commented on #54
The one thing I really want to avoid is maintaining two separate interfaces for `electron-forge`, we just be first party consumers of the "API" ourselves to avoid this happening.

[2016-12-31 22:35] MarshallOfSound commented on #53
@manikantag This issue has been fixed in this PR

https://github.com/electron/electron-compile/pull/163

[2017-01-01 05:09] manikantag commented on #53
https://github.com/manikantag/electron-compile-css-issue/tree/master/src/css/app.css

[2017-01-01 23:29] malept opened #57 "Use electron-rebuild"
Blocked by https://github.com/electron/electron-rebuild/pull/127 (which is based on the code in Electron Forge).

Closes #36.

[2017-01-01 23:32] malept opened #58 "Completely replace sudo-prompt with electron-sudo"
The reason why the darwin zip installer still uses sudo-prompt is because electron-sudo does not yet work completely with macOS Sierra (see: https://github.com/automation-stack/electron-sudo/issues/39) - we should reinvestigate if it works once that issue is resolved. electron-sudo is preferred because it has built-in support for Promises.

[2017-01-02 21:21] #53 closed

[2017-01-02 21:23] paulcbetts commented on #53
This is fixed in electron-compile v5.1.2, my apologies for the bug and thanks for the great repro app @manikantag

[2017-01-02 23:41] #27 closed

[2017-01-03 03:06] paulcbetts commented on #57
Fixed blocking!

[2017-01-03 05:24] manikantag commented on #53
@paulcbetts that is a very generous reply 👍

I've updated to 5.1.2, and is working fine with non-min css too. Thanks for the quick fix.

[2017-01-03 13:12] deepak opened #61 "no such file for index.js for the main entry in package.json"
main in [package.json](https://github.com/electron-userland/electron-forge/blob/04babfd29b1bbf5c6ab15b40f26a5020178099f7/package.json#L6) points to "index.js"

But there is no such file. and running `require('electron-forge')`
gives the error "Error: Cannot find module 'electron-forge'"

I get that `electron-forge` is a CLI program. so not even sure if this bug is important
but maybe we can remove

[2017-01-03 13:14] MarshallOfSound commented on #61
It's there as a placeholder and whether it is there or not it will still throw the "can not find module" error.

See https://github.com/electron-userland/electron-forge/pull/56 for how we plan to expose the CLI methods as JD API's so you can actually require this module.

[2017-01-03 13:14] #61 closed

[2017-01-04 01:03] paulcbetts opened #63 "Import should set up scripts"
On importing https://github.com/paulcbetts/trickline, it all worked, except that scripts weren't updated to the new electron-forge hotness, it'd be cool to optionally stomp "start" / "package" with the electron-forge version

[2017-01-04 03:11] #54 closed

[2017-01-05 01:12] AhadCove opened #65 "Error when importing 'electron-prebuilt-compile'"
I am trying to import my angular 2 electron app and I am receiving an error when installing dependencies

[code]

[2017-01-05 01:14] paulcbetts commented on #65
Fixed

[2017-01-05 01:14] #65 closed

[2017-01-05 01:14] MarshallOfSound commented on #65
@AhadCove Rerunning `electron-forge import` should get you going now 👍

[2017-01-05 01:22] AhadCove commented on #65
Thank you, It made it pass that first error, but now Im running into another on import. I tried deleteing all my node modules andreinstalling, but now im running into this:

[code]

[2017-01-05 01:29] MarshallOfSound commented on #65
@AhadCove Fixed in `v2.5.1`

[2017-01-05 01:29] AhadCove commented on #65
Thank you, will try it again

[2017-01-05 01:52] AhadCove opened #66 "Error while packaging a JavaScript file not in a subfolder"
Im getting this error after I package my app and then try to run it:

[code]

Any idea onto why this is happening?

[2017-01-05 01:54] MarshallOfSound commented on #66
* Does it work with a simple `electron-forge start`
* How are you requiring `main.js`, is it your entry point?

[2017-01-05 01:57] AhadCove commented on #66
Well when I use START the same thing is happening when I was using electron-packager: A static index.html with the loading text that I have when starting up my electron app for the first time.

I am requiring main.js as my entry point.

in my Package.json the main field is:

[code]

[2017-01-05 02:00] MarshallOfSound commented on #66
@AhadCove Your JS files must be inside a directory (not just sitting in the top level of your app).  I.e. If you move `main.js` to be somewhere like `src/main.js` and update your package.json accordingly the packaged version will work.

/cc @malept We should probably catch this issue ourselves

[2017-01-05 02:18] AhadCove commented on #66
I switched the directories and everything and it does get by the error. I am still running into the static index.html though

[2017-01-05 02:23] MarshallOfSound commented on #66
@AhadCove I am not too familiar with the intricacies of Angular 2, can you explain what you mean by "static index.html".  I don't quite understand the issue you are having

[2017-01-05 02:29] MarshallOfSound commented on #66
This sounds familiar from an Electron issue.  I believe it is due to how in Electron your Angular app is served from a `file://` url which angular routers do not like or expect.

[2017-01-05 02:30] AhadCove commented on #66
Hmmm That sounds like where my problem may lie, but Why would it work with ng serve and build?

[2017-01-05 02:31] MarshallOfSound commented on #66
@AhadCove `ng serve` runs a localhost server I believe, so it will be served over something like `http://localhost:1234`

[2017-01-05 02:34] AhadCove commented on #66
Okay so it may have something to do with Hash Locations or something
I will dig a little deeper. I may come back to forge later when I figure this out. Thanks for everything

[2017-01-05 02:38] MarshallOfSound commented on #66
@AhadCove FWIW this is not a `-forge` or `-packager` issue, it is purely an issue with Angular 2 in Electron in general.

This might help you out
https://github.com/electron/electron/issues/6799#issuecomment-239063114

It looks like you need

[code]

To use a router in Angular in Electron

[2017-01-05 02:40] AhadCove commented on #66
Yes, I have that in my index.html already. That is what get's routers working. I have a fully working angular 2 Electron app already, its just when I package it with anything it no longer functions how it should be

[2017-01-05 02:40] MarshallOfSound commented on #66
Is the app public, I'm happy to dive into it and see what's going on?

[2017-01-05 02:42] AhadCove commented on #66
Sadly, it's not im going to keep picking away at it though. I definitely like the idea of forge though so I may be back when I get this figured out. Thank you for everything

[2017-01-07 04:06] stanlemon opened #67 "electron-forget publish : Cannot read property 'succeed' of undefined"
Unable to publish due to an `undefined` error.

Command:
[code]

Output:
[code]

config.forge:
[code]

This is just a straight forward electron-forge publish. This worked previously, I've only run into this issue since upgrading from 2.2.0 to 2.5.1.

[2017-01-07 04:21] stanlemon commented on #67
I backed up to 2.4.0 and don't see this issue, only seems to occur with 2.5.0 and 2.5.1.

[2017-01-07 04:51] MarshallOfSound commented on #67
@stanlemon I can see the line which is causing the issue but I have no idea why.   Still investigating

[2017-01-07 05:50] MarshallOfSound commented on #67
Weow, that's a dodgy issue 😆 Looks like it's due to us not passing `interactive` through all the way 👍

[2017-01-07 06:33] #67 closed

[2017-01-07 06:42] MarshallOfSound commented on #67
Fixed in `v2.5.2`

[2017-01-07 07:53] #49 closed

[2017-01-07 10:22] malept opened #71 "Improve code coverage"
Our test coverage is kind of bad (~58% at the time of the creation of this issue). This is, in part, due to the problem that our testsuite is mainly focused on the happy path for most of the functionality. We should fix this.

[2017-01-07 10:42] #57 closed

[2017-01-07 18:58] stanlemon commented on #67
Confirmed on my end, thanks for fixing this!

[2017-01-09 02:21] #66 closed

[2017-01-10 07:17] AhadCove opened #73 "Using Angular 2 wrapped electron app with forge not packaging from"
I tried using forge before, but didn't really understand the internals of my app. But now I understand it a little better. When I run electron-forge start or package my app everything packages, but when I try to open I get
[code]

Now I finally understand why this is happening, but can't fix it.
This happend because none of the electron packagers know how to package an Angular 2 app in electron co

[2017-01-10 07:19] MarshallOfSound commented on #73
@AhadCove Looks like the "main" property in your package.json is incorrectly pointing to "index.js", perhaps it needs to point to a path (dist/index.js)?

[2017-01-10 07:21] AhadCove commented on #73
Oh wow that worked, finally getting somewhere. Thank you Please be patient with me lol I have a lot of scripts that I was using from electron-packager that I will need to try and import over. Specifically signing my app.

[2017-01-10 07:40] AhadCove opened #74 "Signing and adding icns"
Didn't know if I should start a new question or continue on the last, but my next questions are:
1. How do I import my icns for mac? For instance in electron-packager I was using:

2. How do I go about signing my app for Mac? Do I still need to sign with osx-sign seperately?
This was my old long tedious script Do I need to import this to forge somehow?:

[2017-01-10 07:41] #73 closed

[2017-01-10 07:41] MarshallOfSound commented on #74
See https://github.com/electron-userland/electron-forge#configuring-package for how to configure `electron-packager`.

The options are documented here https://github.com/electron-userland/electron-packager/blob/master/docs/api.md

[2017-01-10 07:41] #74 closed

[2017-01-10 07:47] AhadCove commented on #74
Got it thanks. Good thing and bad lol, because when I was signing with packager it kept breaking my app and I couldnt even open it after.

[2017-01-10 08:01] MarshallOfSound commented on #74
@AhadCove Probably because you were modifying the files somehow after signing.  If you sign and then modify it will consider the app "untrusted".

[2017-01-10 08:07] AhadCove commented on #74
I wonder if it had something to do with the entitlements being added after the osx-sign? Hmm, I guess I will figure out when I get my forge set up.

Well, I have all my electron scripts re-setup, now how do I tell electron-forge to use electronPackagerConfig?

[2017-01-10 13:51] MarshallOfSound commented on #71
Changed this to be more generic as we have entire branches of the API not covered (`install`, `publish` and such)

[2017-01-10 15:12] malept commented on #74
Is the [configuration section](https://github.com/electron-userland/electron-forge#config) not clear enough? Also, here is what our `package.json` template looks like (used when you create a new project): https://github.com/electron-userland/electron-forge/blob/master/tmpl/package.json

[2017-01-10 15:17] malept commented on #74
It doesn't? You should be able to run `electron-forge package --platform mas`.

[2017-01-10 15:19] #63 closed

[2017-01-10 16:07] AhadCove commented on #74
Oh Okay thank you, I couldn't figure out how to actually use the configs, but now that makes sense

[2017-01-10 17:09] AhadCove commented on #74
Everything is set up. Now i am still running into the problem after signing my app not opening. Even tried on a clean new system still will not open. I know this is not a forge question, but would you guys happen to know what might be going on?

[2017-01-10 17:12] malept commented on #74
Did you address @MarshallOfSound's comment in https://github.com/electron-userland/electron-forge/issues/74#issuecomment-271510075? It wasn't clear from your other comments.

There's a command that verifies a signed Mac app but I don't know it offhand, since Mac apps aren't in my area of expertise.

[2017-01-10 17:18] AhadCove commented on #74
Yes, I addressed it, it is not being modified after signing.
The command is

I checked those and Im getting all clean and accepted checks, yet my app still will not start

[2017-01-10 17:20] malept commented on #74
Does a darwin (non-mas) app work?

[2017-01-10 17:21] AhadCove commented on #74
Yes it works perfectly

[2017-01-10 17:21] AhadCove commented on #74
Well, before I sign it it works perfectly

[2017-01-10 17:41] malept commented on #74
At this point, it might be more helpful if you ask about Electron app signing at the [`electron-osx-sign`](https://github.com/electron-userland/electron-osx-sign) project, since the developers there have more knowledge about the topic, and also Packager/Forge delegates all signing tasks to that module.

[2017-01-10 17:54] AhadCove commented on #74
Okay, will try there. Responses are pretty slow over there though lol. Thank you guys for everything, I love how simple forge is!

[2017-01-10 22:24] AhadCove commented on #74
I posted on osx-sign, but I won't get an answer for a while. Would you guys happen to know why after I sign my app isn't allowed to access the web? Im guessing it has something to do with my entitlements. Do you guys notice anything or anything I could add?

parent.plist:

[code]

child.plist

[code]

[2017-01-10 22:27] MarshallOfSound commented on #74
@AhadCove While we are happy to help with `-forge` issues as @malept said signing and entitlements are a little out of our field of expertise.  You're going to have to wait for a response on `osx-sign`

[2017-01-10 22:27] malept commented on #74
This is more of a general Mac app question, perhaps look in an Apple development specific StackOverflow site?

[2017-01-10 22:30] AhadCove commented on #74
Okay, I will try and keep looking around. Thanks

[2017-01-11 07:50] MarshallOfSound opened #78 "Use `spawn-rx` consistently through the codebase"
We currently use a combination of `spawn` from `child_process` and `spawn` from `spawn-rx`.  We should be consistent and use `spawn-rx` everywhere.

[2017-01-11 07:53] malept opened #79 "Disable the no-throw-literal ESLint rule"
Per https://github.com/electron-userland/electron-forge/pull/75#discussion_r95390020.

[2017-01-13 06:59] manikantag opened #81 "exe file not updated with given icon"
Hi,

When building using `electron-forge`, the Windows application exe icon is not changed.

Command used to make: `./node_modules/.bin/electron-forge.cmd make`

**config.forge.electronPackagerConfig** in package.json:
[code]
*Note: Setup exe is getting generated with correct icon, mentioned in `config.forge.electronWinstallerConfig`*

But if I run the `electron-packager` manually, icon is changed

[2017-01-13 07:05] MarshallOfSound commented on #81
Can you try changing

[code]

to

[code]

[2017-01-13 07:11] AhadCove opened #82 "Porting Electron-Forge from mac to window produces errors using Make"
I keep getting these errors when trying to make appx. This is the app I was originally working on on mac and everything worked. So I tried to port it over to windows made sure electron and electron-forge was all installed globally and begin configuring and running and this is what I keep getting. Not sure if its my config or what.

[code]

Windows store config:

[code]

[2017-01-13 07:28] manikantag commented on #81
It didn't worked. Still Electron's default icon.

It is not an issue with the path as I m using the same path for **electronWinstallerConfig** and setup exe is generated with correct icon. In fact, I've tried by giving absolute path of the icon file too (ex: c:/eapp/assets/img/icon.ico)

[2017-01-13 09:47] MarshallOfSound commented on #82
This log looks like it is being made by `electron-windows-store` but we might have to make a directory that we aren't making in time.  Not too familiar with this particular maker, I'll look into over the weekend if i can or someone more familiar with this might know.

/cc @paulcbetts @felixrieseberg

[2017-01-13 09:48] MarshallOfSound commented on #81
Maybe an issue with `electron-packager` path resolution @malept ?

@manikantag Can you temporarily try using an absolute path for that icon to verify if that is the issue?

[2017-01-13 12:45] AhadCove commented on #82
Okay I see. Should I just use electron-windows-store directly in the mean time, or will it cause problems with my forge app?

[2017-01-13 14:48] malept commented on #81
The only reason I can see that it might not work in Forge but it works in Packager is if Forge is setting the CWD somewhere other than the project root, but I don't recall any code that does that.

I don't remember adding that one as a mapping. Implementing that default mapping is kind of difficult, because [people fields](https://docs.npmjs.com/files/package.json#people-fields-author-contributors

[2017-01-13 19:06] paulcbetts commented on #82
@AhadCove You don't need the desktop converter, just :fire: these lines:

[code]

[2017-01-13 19:29] AhadCove commented on #82
@paulcbetts I just tried those lines and ran into the same error

[2017-01-13 19:30] malept commented on #82
@AhadCove to be clear, you tried removing those lines?

[2017-01-13 19:30] AhadCove commented on #82
Oh no I tried using them lol, sorry I mis read it

[2017-01-13 19:50] AhadCove commented on #82
I erased those lines and am still receiving the same error. Should I try erasing my node modules or something since it was a copied over app from Mac?

[2017-01-13 19:56] paulcbetts commented on #82
@AhadCove You definitely 100% can't copy over node_modules across platforms and have it work, blow away `node_modules` and npm install again

[2017-01-13 19:57] AhadCove commented on #82
Okay yeah I was thinking that may be the problem will try that now.
It looks like it's getting stuck in the temp directory somehow
[code]

[2017-01-13 20:08] AhadCove commented on #82
Yeah, reinstalled all new node modules and ran into the same thing

[code]

Heres my current config

[code]

[2017-01-13 20:09] paulcbetts commented on #82
Usually makeappx will also print some other stuff, what's it say? Also, try setting:

[code]

[2017-01-13 20:22] AhadCove commented on #82
Well That's the full error log that was printed.
Do I put $env:DEBUG="*,-babel" in the cli or the config?

[2017-01-13 20:29] AhadCove commented on #82
oh and at the end of the error it also says this, Not sure if this is what you are asking about:

[code]

[2017-01-13 20:33] paulcbetts commented on #82
@AhadCove You should set the `DEBUG` environment variable to the value, `*,-babel`

[2017-01-13 20:37] AhadCove commented on #82
I looked under my environments folder at environment.ts and looked in my package.json and can't figure out where to put that line at

[2017-01-13 20:38] paulcbetts commented on #82
@AhadCove What shell are you using? You should just set it by-hand

[2017-01-13 20:39] AhadCove commented on #82
Atom

[2017-01-13 21:33] AhadCove commented on #82
Yeah, sorry. I cannot find this anywhere or any info how to change it online

[2017-01-13 21:34] malept commented on #82
Look up how to set environment variables in Atom, when you execute commands.

[2017-01-13 23:13] malept commented on #82
If you can't find the way to do this, I suggest asking in the [Atom forum](http://discuss.atom.io/) or their [Slack instance](http://atom-slack.herokuapp.com/).

[2017-01-14 08:28] manikantag commented on #81
@MarshallOfSound I tried with absolute path too. But same issue.

@malept It is not just an issue with `author`, but may other. For example if I didn't specify the `electronWinstallerConfig.name` or `electronWinstallerConfig.description`, even then they are not defaulting to as mentioned in **electron-winstaller** doc.

[2017-01-14 10:01] MarshallOfSound commented on #82
As far as I can see from this issue thread it progressed something like this

* Copied `node_moduels` folder from one platform to another (this will almost **never** work)
* Getting an exception in `electron-windows-store` of which there will be an understandable error somewhere in the log.
* Failed to set the `DEBUG` environment variable (a cursory google search google explain how to set environm

[2017-01-14 10:01] #82 closed

[2017-01-14 12:20] AhadCove commented on #82
but @MarshallOfSound I said I already reinstalled node_modules and got the same results. It wasn't that that was the problem because all the packaging and making works other than appx.

[2017-01-14 12:25] AhadCove commented on #82
Also before I merged my project with forge windows store config was working that's why I came to this thread to ask because I don't know what is causing these errors after merging.

[2017-01-14 12:27] MarshallOfSound commented on #82
To set an env var on windows

[code]

[2017-01-14 12:29] AhadCove commented on #82
Thank you, but I still don't understand where this goes. Is it my main.js, my package.json, my envionment.ts?

[2017-01-14 12:56] MarshallOfSound commented on #82
@AhadCove You run it.. In command prompt?

[2017-01-14 13:10] AhadCove commented on #82
Okay I ran the two commands in cmd and re ran electron-forge make appx with these configs:
[code]

using debug = electron i get back:

[code]

[2017-01-14 13:15] MarshallOfSound commented on #82
I mean, the error is right there 😄

[2017-01-14 17:18] AhadCove commented on #82
It finally worked. Thank you so much! Sorry for asking so many questions. Now lets hope the windows store accepts it lol.
It ended up being my author name had my email surrounded in <> is the reason why it was not working. Thanks again everyone!

[2017-01-14 17:23] AhadCove commented on #82
I actually have another question that does not have anything to do with any of this, should I open a new one or ask it here? It has to do with caching issues

[2017-01-14 17:37] AhadCove commented on #81
This is actually the question I was going to ask. I can't figure out why or where this cahche is being saved. I tried deleting C://users/myprof/.electron
That did not work either. I tried making my app all captials so -> app went to APP and even this would not update

[2017-01-15 13:49] saschagehlich opened #86 "`electron-forge package` does not precompile anything"
**Please describe your issue:**
When running `electron-forge package`, it succeeds with the following messages, but the resulting package does still contain the uncompiled assets:

[code]

**Console output when you run `electron-forge` with the environment variable `DEBUG=electron-forge:*`. (Instructions on how to do so [here](https://www.npmjs.com/package/debug#usage). Please include the stack tr

[2017-01-15 13:56] MarshallOfSound commented on #86
Your package will contain uncompiled assets but it will contain the compile cache as well.  When you launch your packaged app does it work?

[2017-01-15 14:00] saschagehlich commented on #86
No, this is the output I get when I launch the app:

![screenshot 2017-01-15 15 00 32](https://cloud.githubusercontent.com/assets/119684/21963050/4cad1f04-db33-11e6-8440-221e550b1eca.png)

[2017-01-15 14:02] MarshallOfSound commented on #86
Did you create this app with `init` or did you `import` it?  Also can you post your `.babelrc` and `.compilerc` if either exist

[2017-01-15 14:05] saschagehlich commented on #86
Not 100% sure, but I believe I used `import`, since I started with a plain `electron-compile` require hook. Here's my compilerc;

` {
  "env": {
    "development": {
      "application/javascript": {
        "presets": ["es2015-node5", "react"],
        "plugins": [
          ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
          }],
          "transform-c

[2017-01-15 14:07] MarshallOfSound commented on #86
@saschagehlich The error you are getting is due to the `babel-runtime` module not being present in your production dependencies.  This is neither a `-compile` or `-forge` issue.  You should be able to fix it by running.

[code]

And the running `electron-forge package` again 👍

[2017-01-15 14:08] MarshallOfSound commented on #86
Or as an alternative looking at your config you could do

[code]

Not 100% sure on that one though

[2017-01-15 14:10] saschagehlich commented on #86
Okay, but why would I need to include all my babel packages in my production package? That would just bloat up my final application and increase startup times, right?

[2017-01-15 14:14] MarshallOfSound commented on #86
@saschagehlich You should look into your compilerc config you have.  `transform-runtime` relies on `babel-runtime`.  It's intention is to reduce the overall package / bundle size by extracting babel logic from each file into require calls.  It's quite complicated so you should look into it yourself.

Closing this out as a user config issue 👍

[2017-01-15 14:14] #86 closed

[2017-01-15 14:39] MarshallOfSound commented on #86
@saschagehlich For your own personal research I'd recommend comparing your app `.compilerc` do the `.compilerc` output by a simple `electron-forge init`.

[2017-01-15 21:10] malept commented on #81
@manikantag that sounds like a bug in electron-winstaller itself or its docs.

@AhadCove the cache is likely a built-in Windows icon cache, not the prebuilt Electron cache. You'd need to research whether such a thing exists, and if so, how to flush it.

[2017-01-15 22:00] #79 closed

[2017-01-15 22:18] riverar opened #87 "init with a builtin custom template throws a require error"
When using electron-forge to initialize a project on Windows with `--template=react`, electron-forge fails to recognize the template package isn't installed and bombs out. It's not clear if this is a docbug or softwarebug.

Workaround:
`npm install -g electron-forge-template-react` before executing `electron-forge init`

Shortened log ([full log available](https://gist.githubusercontent.com/rivera

[2017-01-15 22:24] malept commented on #87
This happens with all built-in, non-default templates.

[2017-01-16 00:12] malept commented on #87
Fix for this is in #88.

[2017-01-16 00:26] #87 closed

[2017-01-16 02:50] malept commented on #87
This should be fixed in 2.7.1, thanks for reporting.

[2017-01-16 10:25] manikantag commented on #81
*I think the isuue is slightly side tracked now. Problem is with my extra comments only.*

The actual issue reg the exe file icon is still the same.

[2017-01-17 17:03] parkour86 opened #89 "Add desktop shortcut in Windows"
Is there a way to have electron-forge add a Windows desktop shortcut when the user installs the app?

[2017-01-17 17:07] malept commented on #89
This is handled via a separate module, please see the documentation in [electron/windows-installer's README](https://github.com/electron/windows-installer/blob/0336cc646af849f125979ba623efdf5440852c4e/README.md#handling-squirrel-events).

[2017-01-17 17:07] #89 closed

[2017-01-17 17:50] parkour86 commented on #89
Thank you, this is exactly what I needed. It works perfectly.

[2017-01-18 13:08] manikantag commented on #81
Seems it is working fine with **2.7.1**. Is it fixed?

[2017-01-18 13:21] malept commented on #81
No direct changes in Forge between 2.7.0 and 2.7.1 caused this, to my knowledge. If it works for you, I am happy to close this issue.

[2017-01-18 14:08] manikantag commented on #81
I've seen this issue till **2.6.0**, and then today I've upgraded to **2.7.1** and is working. I've not tested in **2.7.0**.

[2017-01-18 14:24] malept commented on #81
FWIW, the same thing I said about the changes between 2.7.0 and 2.7.1 also apply to the changes between 2.6.0 and 2.7.0.

[2017-01-18 14:33] manikantag commented on #81
Closing this as it's working with **2.7.1** version

[2017-01-18 14:34] #81 closed

[2017-01-18 15:32] manikantag opened #90 "Incorrect native scripts builds directory"
My app has sqlite3 dependency, which has native scripts. electron-forge is compiling native binaries into `node_modules/sqlite3/lib/binding/{node_abi}-{platform}-{arch}` directory. But it should be `node_modules/sqlite3/lib/binding/electron-v1.4-win32-x64`

Repro repo: https://github.com/manikantag/electron-forge-native-binaries-issue

Run `npm install` and then `npm start`. You'll see error windo

[2017-01-18 18:28] malept commented on #90
@MarshallOfSound @paulcbetts this sounds like a bug in electron-rebuild?

[2017-01-18 19:42] paulcbetts commented on #90
No, this is node-pre-gyp being garbage. We probably need to write an `.npmrc` file in the root:

[code]

[2017-01-18 19:52] malept commented on #90
@manikantag Please try creating the file that Paul suggested and report back.

[2017-01-18 21:30] MarshallOfSound commented on #90
@paulcbetts There is an open PR on electron-rebuild to fix this issue.  If that is merged we can close this out.

[2017-01-18 21:31] malept commented on #90
FWIW, the PR in question: https://github.com/electron/electron-rebuild/pull/138

[2017-01-18 23:49] MarshallOfSound commented on #90
electron/electron-rebuild#138 has been merged so this is technically fixed.

[2017-01-18 23:49] #90 closed

[2017-01-19 03:11] manikantag commented on #90
Wow... That's pretty quick. It is working now. Thanks.

[2017-01-20 01:24] G3z opened #91 "modules from repositories are ignored when building"
**Please describe your issue:**
I'm linking a module from a git repository
`"react-photonkit": "https://github.com/react-photonkit/react-photonkit#master",`
everything works as expected if i run `electron-forge start` but when i run `electron-forge make` the `react-photonkit` module is not copied in `Electron.app/Contents/Resources/app/node_modules`.
After the manual copy the app works as expected

[2017-01-20 01:26] MarshallOfSound commented on #91
Hmm, @G3z can you post your `package.json` structure

[2017-01-20 01:27] G3z commented on #91
Sure!
[code]

[2017-01-20 01:32] malept commented on #91
That is quite odd. Does react-photonkit get deleted if you run `npm prune --production` in your app directory?

[2017-01-20 01:35] G3z commented on #91
yes `npm prune --production` removes `react-photonkit`

[2017-01-20 01:36] MarshallOfSound commented on #91
@G3z What is your npm version?

[2017-01-20 01:37] G3z commented on #91
4.1.1 is this an npm bug ?

[2017-01-20 01:37] MarshallOfSound commented on #91
From the sounds of it yes, `npm prune --production` shouldn't remove a production dependency.  Can you revert to node v6 and npm v3 and see if it fixes the "issue" 😄

[2017-01-20 01:43] G3z commented on #91
I reverted to npm@3.10.10 removed node_modules and npm installed.
now electron-forge make produced a working build!
so it's an npm bug (or changed behavior)
TY

[2017-01-20 01:45] malept commented on #91
Do you mind filing a bug in in the npm repo and linking it here?

[2017-01-20 01:46] G3z commented on #91
I'm digging the changelogs to be sure it's a bug, than I will update you.

[2017-01-20 01:56] malept commented on #91
This seems to be it: https://github.com/npm/npm/issues/9889

[2017-01-20 01:57] #91 closed

[2017-01-20 10:34] deepak opened #92 "Add an `electron-forge clean` command"
Faced an [issue](https://github.com/electron/electron-compile/issues/169) with `electron-compile`

Due to my hard disk getting full, the cache was corrupted
the solution was to remove the cache

I think it would we a good idea to add a `clean` command to electron-forge

[2017-01-20 10:51] deepak opened #93 "Cannot import ES6 modules on windows"
The same code was running on Windows and OSX.
But it randomly stopped working on Windows 10

error is:

[code]

screenshot of the error is:

![electron-forge-cannot-import](https://cloud.githubusercontent.com/assets/9192/22146867/3d64f6be-df2c-11e6-9021-a94df8bfe914.jpg)

I do not have a testcase as such. it randomly stopped working
but the sample app is at https://github.com/deepak/electron-webvi

[2017-01-20 11:00] MarshallOfSound commented on #93
Nothing happens randomly, you probably deleted the `.compilerc` by accident or corrupted your node_modules directory or something similar.  On a fresh clone your repository I do not encounter this error so I can only assume that something has broken in your local.

Perhaps one of the issues mentioned above, perhaps not.  You should try resetting your local dev environment.

[2017-01-20 11:00] #93 closed

[2017-01-20 11:08] deepak commented on #93
I do not know even where the `.compilerc` file is. so am assuming did not delete it
where is the .compilerc file on windows and OSX ?

By random, i meant that it was working before and then stopped working
Can i request a `electro-forge lint` or `lint-setup` command to check the dependencies

I tried after reinstalling `electron-forge` as well with "npm install -g electron-forge"

[2017-01-20 11:11] MarshallOfSound commented on #93
If `electron-forge start` get's passed the "Locating application" phase we believe the required **config** is there.  This does not mean that you have everything installed correctly however.

Try completely recloning your repository, who knows what could have been deleted / edited / broken.

[2017-01-20 11:16] deepak opened #94 "Request: Please add a electron-forge doctor command"
Facing an [issue](https://github.com/electron-userland/electron-forge/issues/93) on Windows 10

Not sure of the solution, but i will try re-installing node and elecron-forge later
installing `electron-forge` again did not solve the issue

I think it wold be a good idea to add a `electron-forge doctor` command to lint for common issues such as

- .compilerc file not being present
- sha of the depen

[2017-01-20 11:17] deepak commented on #93
thanks @MarshallOfSound. will try it out

[2017-01-20 11:34] MarshallOfSound commented on #94
I believe this is out of scope for `electron-forge`.  To verify dependencies you should use your package manager (`npm` or `yarn`) and the `.compilerc` is technically optional.  Important to realize the `electron-forge` is **not** a package manager.

Happy for someone to override me on this but I believe this is out of scope.

[2017-01-20 11:34] #94 closed

[2017-01-20 12:20] malept commented on #92
When I think of an ` electron-forge clean` command, that action is definitely not what I think of. I would expect it to delete the output directory, if anything (where package and make put their artifacts).

[2017-01-20 13:02] deepak commented on #93
in my case the application is starting up but the above error is throw
and this happens only on windows. application starts on OSX

there was a separate [error](https://github.com/electron/electron-compile/issues/169) on OSX
due to hard disk getting full. but there was no such issue on windows. ie. hard disk was not full etc
so not sure why this error is occurring

so i suggested a "homebrew docto

[2017-01-20 13:09] MarshallOfSound commented on #93
@deepak I'm not sure what to tell you, I cloned your repository onto a Windows 10 machine and ran `yarn` followed by `electron-forge start`.  It worked perfectly.

Whatever error you are getting appears to be due to the compiler not kicking in which normally occurs due to a misconfigured `.compilerc`.

As such the best I can suggest (as I said before) is effectively recloning your repository and s

[2017-01-20 13:47] deepak commented on #93
@MarshallOfSound it worked after

1. reinstalling node
2. installing electron-forge in global
3. npm installing dependencies

[2017-01-20 17:02] deepak commented on #94
@MarshallOfSound thanks for answering :-)

maybe a better question to ask is, why this and such a problem can occur ?
not sure

How to use npm or yarn for that ?
also can npm protect me against a corrupted `.compilerc` file or any of the dependencies ?

I only gave homebrew as an example.
I think hombrew provides that option, only because no one else can.
and because their users would be asking wh

[2017-01-20 17:11] deepak commented on #92
now that you mention it, i agree :-)

it would be nice if `electron-forge` and all its dependencies create their cache & temporary files inside a `.electron/cache` folder inside the project. so that we can just delete it for a clean build

also, it would be nice if the electron builds in the `~/.electron/` folder
are not subject to that rule
because downloading the bigger files every time on every

[2017-01-20 17:15] malept commented on #92
Temporary files should not go into a cache folder. I don't know the details about how electron-compile works, but if it's truly a cache and not just temporary files, it should also live in a cache folder. But that bug should be filed there, not here.

Having a shared cache folder (like `~/.electron/cache` as you suggest) would be problematic. What if two different Electron-related modules had the

[2017-01-21 02:42] AhadCove opened #95 "Creating multiple configs with different platforms"
I am trying to create multiple configs for when I package my app, but the way I am attempting is not working.
My config
[code]

How can I have both darwin and mas configs in my package.json?

[2017-01-21 02:45] MarshallOfSound commented on #95
The mac config is used for mas (and should be identical).  If you want to build / make for mas you simply have to pass the `--platform` argument.

I.e. `electron-forge make --platform=mas`

[2017-01-21 02:45] #95 closed

[2017-01-21 02:48] MarshallOfSound commented on #95
To further clarify you should **never** pass in "platform" in your `electronPackagerConfig`.  In fact, it will be ignored and overwritten by `electron-forge`

[2017-01-21 02:49] AhadCove commented on #95
Oh I see. Okay that makes sense. Thank you!

[2017-01-21 05:04] deepak commented on #92
am suggesting that the cache should not be shared
so if my electron project is at `~/code/electron-todo`
then the cache is inside my project ie. `~/code/elecron-todo/.electron/cache`

benefit is that there is one cache folder, which we can delete,
to clean up the build.

the second part was that, the electron distribution which electron-packager (i think)
downloads to the `~/.electron` folder on O

[2017-01-21 20:09] malept commented on #92
By shared, I mean between different Electron tools. For example _(and this is hypothetical)_, imagine if Electron Packager had a cached file named `metadata.json` with one JSON data structure and `electron-winstaller` used the same file name but with a different data structure.

Anyway, you would need to get all of the dependencies of Electron Forge that use cached files to use this cache director

[2017-01-22 10:31] deepak commented on #92
agree :-)
can it be _namespaced_ by the name of the tool ?

for example,
the root path is still the project, ie. `~/code/elecron-todo/.electron/cache` as per the above example

but electron-packager stores it's temporary files in `~/code/elecron-todo/.electron/cache/electron-packager/metadata.json` and electron-winstaller in `~/code/elecron-todo/.electron/cache/electron-winstaller/metadata.json`

[2017-01-22 10:37] RobiFerentz opened #96 "Loading third party Vue components"
This is more a question than a bug, because I'm probably missing something.
I'm using electron-forge with Vue. It works well and the simplicity provided by forge is awesome.
However, whenever I attempt to add a third party component (e.g: graph or datepicker or a grid)
I get this sort of error:

`vue.runtime.common.js:521 [Vue warn]: You are using the runtime-only build of Vue where the template o

[2017-01-22 10:50] MarshallOfSound commented on #96
@paulcbetts might know more about this one

[2017-01-22 18:55] paulcbetts commented on #96
Hm, this is a good bug. I'm still working on Vue support (the current build has several other issues as well), but I'll keep this in mind.

[2017-01-24 07:02] sunxfancy opened #98 "Npm install error on Ubuntu with fish shell"
When I install this package globally on Ubuntu, it fails with error EACCES: permission denied.
I use fish-shell but there is no `config.fish`. Even though I changed to bash to run the command, it still didn't  work.

**Console output when you run `electron-forge` with the environment variable `DEBUG=electron-forge:*`. (Instructions on how to do so [here](https://www.npmjs.com/package/debug#usage).

[2017-01-24 07:18] malept commented on #98
@MarshallOfSound I think this is a problem in tabtab - it should try to install the shell completions to `~/.config/fish/completions` (and make the appropriate directories if necessary) if `~/.config/fish/config.fish` is not available for whatever reason.

[2017-01-24 07:30] MarshallOfSound commented on #98
Not familiar with `fish`, only tested it on `bash` and `zsh`.

Would recommend raising this upstream and potentially fixing it ourselves if it isn't too difficult?

[2017-01-24 11:01] manikantag opened #99 "Ignoring native build directories not working during packaging"
**Please describe your issue:**

I m not able to ignore some directories when packaging the app. I m using sqlite3 module and it'll generate intermediate **build** directory in `node_modules\sqlite3\build` path, it is be around 25MB which I don't want to part of the app. Can shave ~25MB of the total app size.

I m ignoring using **electronPackagerConfig.ignore**, like below:
[code]

**But it seems

[2017-01-24 11:09] MarshallOfSound commented on #99
This is accurate, you need to use an `afterCopy` hook to delete the artifacts you don't want from the native module build process.

/cc @malept I don't think we should do this ^^ by default as some people may want the debug artifacts. What do you think?

[2017-01-24 11:19] manikantag commented on #99
@MarshallOfSound can you tell me how to ignore some dir/files using `afterCopy`?

[2017-01-24 11:23] MarshallOfSound commented on #99
@manikantag Not ignore really, more like delete.

Use a combination of `fs.unlinkSync` and the `glob` module.

[2017-01-24 11:28] manikantag commented on #99
*Excuse me for asking questions in this issue.*

I m writing some console logs, but Forge cli output is only seen, no console logs. Where do I see them? Thanks.

[2017-01-24 12:14] manikantag commented on #99
@MarshallOfSound I m not sure how to use `afterCopy`.

**config.forge** in `package.json`:

[code]

**forge-hooks.js**:
[code]

The `afterCopy` hook is not working as `d:\test.txt` file is not getting deleted. I m trying to go through the source (https://github.com/electron-userland/electron-forge/blob/master/src/api/package.js#L84), but no clue so far.

**What is the correct way of using `afterCo

[2017-01-24 12:29] MarshallOfSound commented on #99
[code]

That path looks wrong (for windows).  Try this.

[code]

You can also try adding some `console.log` calls to ensure that JS file is being resolved correctly.

[2017-01-24 12:31] manikantag commented on #99
Okay, I figured it out. I need use `config.forge.electronPackagerConfig.afterCopy`, but not `config.forge.afterCopy`.

But the `require` is failing.

[code]

If I give absolute path, it is working.

[2017-01-24 12:33] manikantag commented on #99
Node **fs** module will take care of it even when using `/`.

[2017-01-24 12:36] manikantag commented on #99
As I mentioned in earlier, I m not seeing any console.logs when I m using `forge start` or `forge package` or any forge command. Where can I see console.logs?

[2017-01-24 12:36] manikantag commented on #99
Okay, I figured it out. I need use `config.forge.electronPackagerConfig.afterCopy`, but not `config.forge.afterCopy`.

But now, the `require` is failing.

[code]

**If I give absolute path, it is working.**

DEBUG log:

[code]

[2017-01-24 12:42] manikantag commented on #99
Got the arguments: `buildPath, electronVersion, pPlatform, pArch, done`.

I got these from https://github.com/electron-userland/electron-forge/blob/master/src/api/package.js#L64

[2017-01-24 12:45] MarshallOfSound commented on #99
@manikantag The `afterCopy` hooks are documented over at `electron-packager`.

https://github.com/electron-userland/electron-packager/blob/master/docs/api.md

I'm looking into the relative path issue now

[2017-01-24 13:11] manikantag commented on #99
I m using https://www.npmjs.com/package/rimraf to delete build dirctory as I need to dir with files in it.

[2017-01-24 13:14] MarshallOfSound commented on #99
`electron-forge@2.7.3` should fix the path resolution issue, gonna close this out as the recommended solution is to use an `afterCopy` hook to clean up.

[2017-01-24 13:14] #99 closed

[2017-01-24 13:14] MarshallOfSound commented on #99
Would say that if someone can make a super generic `afterCopy` hook to clean up a `node_modules` directory as a separate module that would be pretty cool.

`electron-packager-cleanup-hook`

[2017-01-24 13:27] manikantag commented on #99
With 2.7.3, it is working with relative paths. Pretty quick fix! Thanks.

[2017-01-26 22:35] MarshallOfSound opened #100 "We should have an ora helper in utils not patch ora.ora"
Currently we patch the `ora` module with an `ora` attribute so that we can disable `ora` in certain situation.  We should do with the a util helper instead of patching an external module.

[2017-01-27 03:11] #100 closed

[2017-01-27 06:13] malept commented on #78
Linking this comment thread so it isn't lost: https://github.com/electron-userland/electron-forge/pull/75#discussion_r96114524

[2017-01-27 12:13] c-bane opened #102 "Error during `make` with different electron-packager name"
**Please describe your issue:**

I'm using Electron Forge to create multiple white-label versions of my app and including a different `forge.config.js` with white-label specific values depending on which white-label app I want to build. Each white-label needs a different macOS App name.
Using a different value in the `config.forge.electronPackagerConfig.name` property then what is present in the `

[2017-01-27 12:36] MarshallOfSound commented on #102
Ah this appears to be due to us not respecting that `electron-packager` config option in our make logic.

https://github.com/electron-userland/electron-forge/blob/master/src/api/make.js#L95

PR incoming 👍

[2017-01-27 12:55] c-bane commented on #102
It also seems like the `config.forge.electronPackagerConfig.out` variable to specify a different output directory is not being respected in the package logic. It is being overwritten by the default of Electron Forge.

https://github.com/electron-userland/electron-forge/blob/master/src/api/package.js#L93
https://github.com/electron-userland/electron-packager/blob/master/docs/api.md#out

[2017-01-27 12:57] MarshallOfSound commented on #102
@c-bane That is expected and deliberately enforced. If you have a specific usecase for changing the directory from "out" I can possibly revisit that decision.

[2017-01-27 13:18] c-bane commented on #102
@MarshallOfSound Ok, I expected it to work according to the README. It states any of the options from Electron Packager could be used. No need to change it though.

[2017-01-27 14:11] MarshallOfSound commented on #98
@malept As a future-proof way of unblocking this error I'm thinking we should run `tabtab install` in a way that doesn't throw an error if the command fails.  Probably spawning the the install script from our own JS file somewhere and ignoring the exit code.  Does this sound like a good plan?

[2017-01-27 15:43] malept commented on #102
We should fix the docs, though.

[2017-01-28 06:36] kneumei opened #106 "angular2 two-way binding"
**Please describe your issue:**
I'm having trouble getting two-way data binding working with the angular2 template.

I did

[code]

Then edited `app.components.ts` to be

[code]

Changing the value in the input control is not changing the binding in the UI.

Here are the dependencies from my package.json

[code]

[2017-01-28 14:56] kneumei commented on #106
I figured out the problem.

I had to load zone.js and reflect-metadata in index.html instead of bootstrap.ts. So when I did this

[code]

This worked. I had to remove this

[code]
From bootstrap.ts

[2017-01-28 15:00] MarshallOfSound commented on #106
@kneumei Sounds like you are experiencing this issue

https://github.com/angular/zone.js/issues/227

[2017-01-28 15:03] MarshallOfSound commented on #106
Though as far as I can see importing `zone.js` correctly sets the `window.Zone` variable.

This would appear to be some kind of an issue with that module 😕

Someone with more angular experience might be able to explain this more but closing this out as resolved for now.

[2017-01-28 15:03] #106 closed

[2017-01-28 19:52] kneumei commented on #106
Seems like the angular2 electron-forge template should load zone.js using script tag until this bug is resolved (if it's going to be). This took a long time to figure out because I got no console errors. It "halfway" worked, but didn't complain when it failed.

[2017-01-29 00:06] zeke opened #107 "`init` usage is unclear"
[code]

I tried init without commands:

[code]

I tried init with --help:

[code]

I tried help init

[code]

Suggestions:

When `init` is invoked incorrectly, show usage / examples.

Allow `electron-forge init --help` or similar to be used to find out how the command works.

[2017-01-29 00:24] MarshallOfSound commented on #107
All of those commands you ran should work as you expected.  What version of forge are you running?

[2017-01-29 04:14] zeke commented on #107
[code]

[2017-01-29 04:14] zeke commented on #107
[code]

[2017-01-29 05:32] zeke commented on #107
[code]

[2017-01-29 05:34] zeke commented on #107
Looks like the version I was using earlier today is still the latest:

[code]

[2017-01-29 05:47] MarshallOfSound commented on #107
This actually makes no sense to me 😢

What shell are you using?

[2017-01-29 05:52] MarshallOfSound commented on #107
I even matched your node version to see if that was it but `electron-forge init --help` and friends always output / perform correctly for me. 😕

[2017-01-29 22:12] #98 closed

[2017-01-29 22:51] anulman opened #108 "Import enhancements for ember-electron"
**Please describe your issue:**

I’m extending @felixrieseberg's ember-electron lib to use forge under the hood, by thinly wrapping forge API scripts to better match ember workflows.

I am running the `import` API on ember-electron install, so the consuming project will be configured automatically to the latest forge standards. This works pretty well, but some current defaults make the experience

[2017-01-29 23:14] #102 closed

[2017-01-29 23:17] malept opened #109 "Document which config options cannot be overridden"
Based on a thread in https://github.com/electron-userland/electron-forge/issues/102#issuecomment-275695969, we should make sure that the docs say that you can't, for example, set the `out` option of Electron Packager, because it's already set by Forge.

[2017-01-29 23:49] malept opened #110 "Intermittently failing Windows tests because of node.lib file locking"
Sometimes the AppVeyor tests fail because packages cannot be rebuilt in parallel - on Windows, file locks on `node.lib` prevent this.

Example: https://ci.appveyor.com/project/electron-userland/electron-forge/build/1.0.239#L7901

This probably also needs to be filed on -rebuild but I wanted to make sure it was noted here, too.

[2017-01-29 23:50] MarshallOfSound commented on #110
@malept `-rebuild` already builds sequentially on Windows.  I have a bad feeling this is due to some kind of "shared build agent" on AppVeyor.  Not sure if it is actually an `-rebuild` or `-forge` issue as I've never seen this locally.

[2017-01-29 23:51] malept commented on #110
@MarshallOfSound OK, I've updated the issue summary to reflect this.

[2017-01-30 02:29] malept opened #111 "Add API option to suppress console output"
Initially from @anulman in #108:

This should ultimately be a common option in all of the API endpoints.

Similar PR (but for Packager): https://github.com/electron-userland/electron-packager/pull/541

[2017-01-30 02:30] MarshallOfSound commented on #111
@malept Is this separate to the `interactive` flag or do we just need to make `console.log` and such follow the `interactive` setting?

[2017-01-30 02:32] malept commented on #111
@MarshallOfSound I'd have to see how we use `interactive` all over, but that may well be the case.

[2017-01-30 02:42] malept opened #112 "Add Import API option to skip updating package.json scripts"
Initially from @anulman in #108:

Example option: `{updateScripts: false}` (defaults to `true`)

[2017-01-30 02:59] malept commented on #108
@MarshallOfSound can you think of a case where you'd want to specify/override which version of Electron, as opposed to just default to the latest version of `electron-prebuilt-compile`?

[2017-01-30 03:04] anulman commented on #111
If we're looking at this as coupled with `interactive`, what do you think of moving the api-level `interactive` code up to the command layer (i.e. [electron-forge-import.js](https://github.com/electron-userland/electron-forge/blob/master/src/electron-forge-import.js) vs api/import.js)?

From what I've read in `api/start` and `api/import`, it seems you use interactive to prepare options for the bui

[2017-01-30 19:31] zeke commented on #107
[code]

[2017-01-31 04:17] MarshallOfSound commented on #108
@malept `import` was never designed to "import" a non-electron project.  😆

Was a use case I never even considered.  Defaulting to latest sounds reasonable if no version of Electron can be found.

[2017-01-31 04:21] malept commented on #108
I think I would rather just default to the latest Electron version instead of adding a parameter for an Electron version, for now. It does seem rather odd for the import API.

[2017-01-31 06:54] malept opened #114 "Import: if no Electron module is found in existing project, default to latest Electron version"
Initially from @anulman in #108:

@MarshallOfSound adds:

[2017-01-31 11:09] MarshallOfSound opened #116 "Add S3 Publisher Target"
Pretty straightforward, add S3 as a publish target

[2017-01-31 11:11] MarshallOfSound opened #117 "Add BinTray Publisher Target"
Pretty straight forward, add BinTray as a publisher target

[2017-01-31 11:20] MarshallOfSound opened #118 "Add a way to config publish targets for different make targets"
Basically when #116 and #117 are sorted we will need a way to apply publish targets to different make targets through config.

**Current Technique:**

[code]

Now that isn't too bad but I think we can do better 😄

**Proposal:**

[code]

[2017-01-31 12:39] AhadCove opened #119 "Windows Store Config using Author field instead of my config"
So after hours of research I found out that it’s forge that’s force passing in data to my config and that’s whats messing me up

So here’s whats going on Im trying to set my publisher name to what windows expects which is “CN=2D…-…-…”etc.

Now electron-windows-store has a config for publisherName and I have it set as the CN=...., but it’s overriding from my Forge package.json
if you look in their

[2017-01-31 13:02] odyright opened #120 "Locating custom template: "angular2""
**Please describe your issue:**

**What command line arguments are you passing?**

[code]

**i got errors like that**

[code]

[2017-01-31 13:13] MarshallOfSound commented on #120
@odyright What version of Electron Forge are you on?

[code]

[2017-01-31 13:15] malept commented on #120
FWIW, I cannot reproduce this error on Linux with Electron Forge 2.7.5 (well, git master, really, but still).

[2017-01-31 13:17] MarshallOfSound commented on #120
I can't either 😢

@odyright Can you also provide the DEBUG logs for when you

[code]

[2017-01-31 13:29] odyright commented on #120
@MarshallOfSound I'm on `2.7.0` version

[2017-01-31 13:32] malept commented on #120
@odyright please upgrade to the latest (2.7.5 at the time of this comment) and try again. This bug was fixed in 2.7.1 (https://github.com/electron-userland/electron-forge/commit/42bf745a)

[2017-01-31 13:32] #120 closed

[2017-01-31 13:35] malept commented on #118
Very similar to `make_targets`, :+1:

Although I wonder what the use case is for having different publish targets for different platforms.

[2017-01-31 13:42] MarshallOfSound commented on #118
@malept I for instance would want to publish linux artifacts to bintray and github while the rest only to github.

[2017-01-31 13:42] malept commented on #118
Good enough for me :smile:

[2017-02-01 18:09] #108 closed

[2017-02-01 18:09] #111 closed

[2017-02-01 18:09] #112 closed

[2017-02-01 18:09] #114 closed

[2017-02-05 21:53] #118 closed

[2017-02-06 08:13] RobiFerentz opened #125 "publish command --auth-token flag not working"
I am attempting to publish to a private github repo.
I either get a 404:
[code]

Or, if providing --auth-token in the command line, I get a 401:
[code]

My forge config looks like this:
[code]

For the auth token value, I provide a personal access token for the repo, is that correct or is it something else? If it's correct, what else am I doing wrong?

[2017-02-06 08:14] MarshallOfSound commented on #125
@RobiFerentz The personal access token you provide needs to have **write** access to releases to your private repository.  Ensure that your token has the required permissions.

[2017-02-06 08:25] RobiFerentz commented on #125
![screen shot 2017-02-06 at 10 23 16](https://cloud.githubusercontent.com/assets/4889861/22639356/5fb697ae-ec56-11e6-8d91-43a43ec61ada.png)

This should be it, no?

[2017-02-06 08:28] MarshallOfSound commented on #125
@RobiFerentz Is the repository in an organization or in your personal account?

[2017-02-06 08:29] RobiFerentz commented on #125
@MarshallOfSound Organization

[2017-02-06 08:31] MarshallOfSound commented on #125
@RobiFerentz Just for testing purposes can you make a token with ALL permissions just to see if we're not giving it what it needs.  Also can you ensure that you personally can create a release through the GitHub UI

[2017-02-06 08:39] RobiFerentz commented on #125
@MarshallOfSound Just tried. The Github UI does indeed allow me to create a release.
I've created a token with all permissions enabled, and attempted another publish command, still the getting the 401 error.

Perhaps my command syntax is wrong?

This is what I type:
[code]

[2017-02-06 09:02] MarshallOfSound commented on #125
Shouldn't make a different but can you try

[code]

Also try the alternative syntax of setting the `GITHUB_TOKEN` environment variable.

[2017-02-06 09:10] RobiFerentz commented on #125
Didn't see a difference in your first suggestion, but the second one is currently uploading artifacts, so I'm hoping it completes. Still waiting.

[2017-02-06 09:25] MarshallOfSound commented on #107
@zeke Can you try this again on the latest version, this is still bugging me in the back of my mind 👍

[2017-02-06 14:25] Armageddonas commented on #89
The name of the shortcut defaults to Electron is there a way to change it?

[2017-02-06 18:27] malept commented on #125
There are two possibilities as to what this might have been, that I can currently think of:

1. Copy/paste error (we're all human)
2. Leading/trailing whitespace isn't trimmed for whatever reason

[2017-02-06 18:29] malept commented on #89
@Armageddonas check out the issue tracker for [`electron-squirrel-startup`](https://github.com/mongodb-js/electron-squirrel-startup), that should be more helpful.

[2017-02-06 20:21] zeke commented on #107
It's working! 🎈

All the various incantations are fixed:

[code]

[code]

[code]

[code]

[2017-02-06 20:21] #107 closed

[2017-02-06 22:52] MarshallOfSound commented on #89
@Armageddonas You need to configure the `win32Metadata` options of `packagerConfig` to change the details the shortcut uses 👍

[2017-02-07 07:38] MarshallOfSound commented on #125
Appears as though this was resolved, closing out for now 👍

[2017-02-07 07:38] #125 closed

[2017-02-07 17:50] parkour86 commented on #89
MarshallOfSound I have added the metadata to the packagerConfig section and it's still showing 'Electron' for the shortcut name. I might be using the incorrect fields. Could you check over my config section and see if i'm doing it right? I also have the "name" and "productName" at the top of the package.json file.

[code]

Here is the Squirrel setup log showing it's creating the shortcut but doesn

[2017-02-07 18:39] malept commented on #89
@parkour86 when @MarshallOfSound mentioned `win32metadata`, he meant [the parameter in Electron Packager](https://github.com/electron-userland/electron-packager/blob/master/docs/api.md#win32metadata).

[2017-02-07 21:38] Armageddonas commented on #89
@MarshallOfSound  @malept Thank you both for your answers i am glad. The following configuration worked
[code]

`Productname` defines the name of the shortcut, not sure if the `companyName` is needed. `version-string` works but it is deprecated, i don't remember if i tried with `win32metadata`.

[2017-02-07 21:54] malept commented on #89
@Armageddonas `version-string` is now named `win32metadata`.

[2017-02-08 18:02] parkour86 commented on #89
Your awesome @Armageddonas. It worked. For anyone else having this issue the variables are case sensitive. I tried it lowercase and it didn't work.

Feel free to resolve this issue as everything seems to be working nicely.

[2017-02-12 06:28] #116 closed

[2017-02-13 03:53] besingamkb opened #131 "Creating Windows Installer"
**Please describe your issue:**
How can I create a windows installer? Like an installation wizard on windows? Because right now I have a .exe file but It only executes the file not install it in some places and create a shortcut.

I also have a problem on that .exe. whenever I execute it. The app will open then close and reopen again...  Is this is necessary?

**Console output when you run `electr

[2017-02-13 04:58] MarshallOfSound commented on #131
Hey @besingamkb

In order to create a windows installer you need to be on a windows machine and simply run `electron-forge make`.  It should by default create you a windows installer.

In order to make shortcuts / understand why the app opens - closes and then reopens you should read up on [Handling squirrel events](https://github.com/electron/windows-installer#handling-squirrel-events).

Basicall

[2017-02-13 04:58] #131 closed

[2017-02-13 11:45] besingamkb commented on #131
thanks..

btw can I do something like this?

![notepad-install4](https://cloud.githubusercontent.com/assets/6380139/22882202/f2de1218-f224-11e6-8e3b-dfe262774ef8.PNG)

[2017-02-13 21:22] Calinou opened #132 "ESLint not included in Vue.js template?"
I just set up a Vue.js Template using `electron-forge init demo --template=vue`, but I saw that unlike the default template ("vanilla ES6/7"), it does not include ESLint support out of the box.

The generated `package.json` contains:

[code]

Is this intentional, or just not yet implemented?

[2017-02-13 21:28] malept commented on #132
Not yet implemented. Could you file an issue (or even better, file a PR) in https://github.com/electron-userland/electron-forge-templates ? That is where the template code lives.

[2017-02-13 21:28] #132 closed

[2017-02-15 23:20] MarshallOfSound opened #133 "Delete forge config in packaged application"
For generic safety purposes all forge config should be wiped from the package.json of the packaged application.

[2017-02-16 07:58] dtanzer opened #135 "Add Files / Directories to the root of the created package"
We have to put two dll files and one directory directly to the root of the created package. Right now, electron-forge places them into the resources/app subdirectory.

I tried some options of electron-packager, but had no success: The "extra-resource" option seems to be only implemented for macs, and from the documentation, it looks like it does not provide exactly what we need.

We are looking fo

[2017-02-16 08:03] MarshallOfSound commented on #135
It's certainly possible 👍 In the meantime (until a generic solution is implemented) you can do this yourself using the `afterExtract` packager hook.  A pseudo-codeish example is given below.

[code]

[2017-02-16 08:05] MarshallOfSound commented on #135
The docs for the `afterExtract` hook can be seen here

https://github.com/electron-userland/electron-packager/blob/master/docs/api.md#afterextract

If your forge config object is in your package JSON you can simply provide a path to a JS file in the `afterExtract` array and we will resolve it to a function.

[code]

[2017-02-16 11:12] dtanzer commented on #135
Thank you for the quick response, it worked!

What was not immediately clear to me, from the documentation, was how I have to write the JavaScript file. Especially,

    export default function(extractPath, electronVersion, platform, arch, done) { ... }

does not work, I had to use

    module.exports = function(extractPath, electronVersion, platform, arch, done) { ... }

also, instead of ```impor

[2017-02-16 12:20] MarshallOfSound commented on #135
I'm working on our documentation site at the moment and I'll definitely keep examples like this in mind 👍

[2017-02-16 12:50] soulchainer opened #136 "Error installing electron-forge in Linux with yarn: platform incompatible with module"
I was just trying to install `electron-forge` with yarn and it won't install, saying that "linux" platform is incompatible with the module `macos-alias`. `npm` installs correctly (doesn't even throws a warning about `macos-alias`).

[code]

Throws (without the `#`, of course, just for highlight the error part):

[code]

Is this a problem of `electron-forge` with `yarn` (like some configuration) or

[2017-02-16 12:55] MarshallOfSound commented on #136
@soulchainer This is a known issue with `yarn` and optional dependencies.  See https://github.com/yarnpkg/yarn/issues/1435

[2017-02-16 12:55] #136 closed

[2017-02-16 16:53] #133 closed

[2017-02-17 12:46] arekkas opened #137 "Packaged app fails with `Cannot find module "../utils/deprecatedPropType"`"
**Please describe your issue:**

I am trying to package an app that uses React and material-ui. `npm run start` works as expected, but the packaged app (osx) fails. I have not tested the other packages (win32, linux) yet.

**Console output when you run `electron-forge` with the environment variable `DEBUG=electron-forge:*`. (Instructions on how to do so [here](https://www.npmjs.com/package/debug#u

[2017-02-17 12:47] arekkas commented on #137
Thes [file in question](https://github.com/callemall/material-ui/blob/master/src/utils/deprecatedPropType.js) and the [caller](https://github.com/callemall/material-ui/blob/master/src/Slider/Slider.js#L6)

[2017-02-17 12:50] arekkas commented on #137
Right, my bad, I put `deprecated` on the ignore list...

[2017-02-17 12:50] #137 closed

[2017-02-17 18:07] chadbr opened #138 "Add sample test files to templates"
Are there any plans to integrate testing framework(s) into the tool / templates?

I'm thinking in terms of `ng test` from the angular-cli.

Maybe I'm missing something (new here!)

[2017-02-17 18:19] malept commented on #138
We would welcome a PR to add really basic test files for the angular2 template in https://github.com/electron-userland/electron-forge-templates. They would have to be formatted in whatever the popular convention is for Angular projects.

However, I think what would be even better would be if someone wrote a plugin for angular-cli. There is already progress on a similar plugin for Forge with Ember.

[2017-02-17 20:40] chadbr commented on #138
Yea - last I looked - they removed the plug-ins from cli unfortunately. -- https://github.com/angular/angular-cli/issues/3901

I think they have plans for something else in the future (probably webpack based?)

[2017-02-17 21:43] malept commented on #138
That is indeed unfortunate.

[2017-02-19 00:33] samiskin opened #139 "react-typescript template has inconsistent line endings"
On a Macbook, running:

[code]

Shows that the following files have CRLF line endings:
[code]

While the following file has LF line endings:
[code]

[2017-02-19 00:44] malept commented on #139
Thanks for filing the bug. The default templates live in a separate repository ([electron-userland/electron-forge-templates](https://github.com/electron-userland/electron-forge-template)), could you file it there so we can keep track of it better?

[2017-02-19 00:49] samiskin commented on #139
Can do :+1:

[2017-02-19 00:49] #139 closed

[2017-02-20 15:02] PythonDevOp opened #142 "Electron-Forge and Render Process Question"
I am trying to figure out where to put the file containing the render process code, so that it compiles with the rest of the software. I created a [render.js](https://gist.github.com/PythonDevOp/4916a7980208c11c4128bec2c4968344) file, and my main process file looks almost exactly like the [index.js](https://gist.github.com/PythonDevOp/a60672c0381b47e92e57c6c07e8470a8) file created on electron-forg

[2017-02-21 05:02] MarshallOfSound commented on #142
@PythonDevOp `electron-compile` doesn't change your file structure, if your relative path is correct is should work.  (The fact it doesn't work indicates your path is incorrect).

However you are doing something fundamentally flawed by requiring `index.js` from `render.js`.  Index is designed (from the looks of it) to run the main process, requiring it from `render.js` will throw a lot of errors a

[2017-02-21 05:02] #142 closed

[2017-02-22 23:26] noahott opened #143 "Cannot publish to S3"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-02-22 23:35] MarshallOfSound commented on #143
@noahott You're config object is a little bit off I think

[code]

Then simply run `electron-forge publish`

[2017-02-23 00:08] noahott commented on #143
I've updated the config as you suggested, but I am still getting the same errors. Running "electron-forge publish" tries to publish to github and fails with an error that the owner and name properties are not defined. Running "electron-forge publish --target=s3" results in the same error "Could not find a publish target with the name: true"

[2017-02-23 00:09] MarshallOfSound commented on #143
@noahott What is your electron forge version?

`electron-forge --version`

[2017-02-23 00:10] noahott commented on #143
@MarshallOfSound it is 2.8.0. I installed through npm

[2017-02-23 00:12] MarshallOfSound commented on #143
Oh, this hasn't been merged yet

https://github.com/electron-userland/electron-forge/commit/8572cad63eab91a5d090970a0133c4800723b5fd

[2017-02-23 00:13] MarshallOfSound commented on #143
@noahott Just published `2.8.1`, can you try that out please 👍

[2017-02-23 00:43] noahott commented on #143
I updated to 2.8.1, but now i'm running into a different error during the "preparing native dependencies" stage:

`
An unhandled error has occurred inside Forge:
Could locate node-gyp
Error: Could locate node-gyp
    at _callee6$ (/usr/local/lib/node_modules/electron-forge/node_modules/electron-rebuild/lib/rebuild.js:164:19)
    at tryCatch (/usr/local/lib/node_modules/electron-forge/node_modules/

[2017-02-23 01:49] malept commented on #143
It's unrelated and a very strange error.

[2017-02-23 15:37] malept commented on #143
I can't reproduce the node-gyp error on Linux (64-bit) on a project with a native module.

[2017-02-23 16:07] noahott commented on #143
I was able to solve the node-gyp related error by uninstalling electron-forge and reinstalling using npm.

I was able to get publishing setup to S3 with a few caveats. Publishing fails with the folowing error when only the ELECTRON_FORGE_S3_SECRET_ACCESS_KEY environment variable is set:

`Electron forge was terminated:
In order to publish to s3 you must set the "s3.accessKeyId", "process.env.ELECT

[2017-02-23 16:52] malept commented on #143
That's strange, because there's no reference to a `secret` property in the code.

[2017-02-23 16:59] noahott commented on #143
I found it here: https://github.com/electron-userland/electron-forge/blob/master/src/publishers/s3.js#L19

[2017-02-23 17:05] malept commented on #143
1. Stupid GitHub search, why didn't it find that??
2. Looks like a typo :cry:

[2017-02-23 22:16] #143 closed

[2017-02-25 03:08] leifwells opened #148 "Creating/Starting new project fails with error "Error: Electron version 1.4.15 is either too old or too new""
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-02-25 03:56] MarshallOfSound commented on #148
It looks like we've lost some lines of the error trace including the message itself.  Can you add those back in.

Initial idea though is you are using babel-env and simply need to update it to a newer version

[2017-02-25 04:17] leifwells commented on #148
Sorry for the improper formatting of my error message. I've updated it and made sure the whole message appears.

[2017-02-25 04:22] MarshallOfSound commented on #148
Yeah, looks like my guess was on the right path.  Can you try blowing away your node_modules folder and reinstalling.  (How long ago did you create this app?)

Can you also post your .compilerc

[2017-02-25 07:55] swashcap commented on #148
Seeing a similar error on an app `init`-ed five minutes ago:

[code]
The process hangs. Here’s the _.compilerc_:

[code]

Relevant stats:

* **OS:** OS X 10.12.3
* **Node.js:** 7.5.0
* **npm:** 4.1.2
* **electron-forge:** 2.8.1

[2017-02-25 07:57] swashcap commented on #148
Blowing away _node_modules_ and re-installing produces an identical error. :scream:

[2017-02-25 13:26] janwiemers commented on #148
Having the same error tried upgrading to electron v1.6.1 and now have the following message

[code]

[2017-02-25 19:12] malept commented on #148
The workaround is: pin `babel-preset-env` to 1.1.8.

[2017-02-25 19:12] janwiemers commented on #148
I figured that the version of `electron-to-chrome` is pretty old and returns undefined. The latest version of this library will support the updated version of both `chrome` and `electron`.
The library is loaded in `babel-present-env`

[2017-02-25 19:12] janwiemers commented on #148
haha^^ to late :)

[2017-02-25 19:14] malept commented on #148
@janwiemers yeah, I think you're right, my guess is that https://github.com/babel/babel-preset-env/pull/144 is causing it.

[2017-02-25 19:20] malept commented on #148
I think I can make a PR to `babel-preset-env` for this problem, let me take a crack at it.

[2017-02-25 19:32] malept commented on #148
People affected by this bug, please use the workaround in my earlier comment until https://github.com/Kilian/electron-to-chromium/pull/4 is merged & released.

[2017-02-25 19:49] malept commented on #148
This bug should be fixed! I have verified it on the app I was using to test the behavior. Please let me know if this specific error still persists after running `npm update` or whatever the yarn equivalent is.

[2017-02-25 19:49] #148 closed

[2017-02-25 20:11] malept opened #149 "Source maps support for Forge itself"
* [X] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [X] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-02-26 07:17] janwiemers commented on #148
@malept yeah I can confirm it's working fine now.
Thanks

[2017-02-27 10:14] dtanzer opened #150 "Pass command line arguments to node-gyp"
I have an electron application which depends on a native module that I am writing.

When I run ```electron-forge package```, it fails at ```Preparing native dependencies: 0/1```:

    gyp: Undefined variable BASE_DIR in binding.gyp while trying to load binding.gyp

I usually pass the ```BASE_DIR``` as a command line argument to node-gyp (this also works for npm install):

    node-gyp rebuild --BA

[2017-02-27 11:05] MarshallOfSound commented on #150
Hm, can you show me your `binding.gyp` file for that native module.  This is actually an issue with `electron-rebuild` but we can discuss it here for now 👍

[2017-02-27 11:15] dtanzer commented on #150
The binding.gyp is very long, and I think I am not allowed to post it here in its entirety, but the relevant part is in the very beginning:

    {
      'variables': {
        "BUILD_TESTS": "false",
        "PYTHON_DIR": "<@(BASE_DIR)/../../opt/Python-3.6.0",
        "BOOST_DIR": "<@(BASE_DIR)/../../opt/boost_1_63_0"
      }
      ...
    }

I set the ```BASE_DIR``` via command line because locat

[2017-02-27 12:09] dtanzer commented on #150
OK, I think I have a solution (or workaround) for now... I include a ```variables.gypi``` file in my ```bindings.gyp```:

    {
      'includes': [
        'variables.gypi',
      ],
      'variables': {
        "BUILD_TESTS": "false",
        "PYTHON_DIR": "<@(BASE_DIR)/../../opt/Python-3.6.0",
        "BOOST_DIR": "<@(BASE_DIR)/../../opt/boost_1_63_0"
      },
      ...
    }

which is empty by

[2017-02-27 12:54] MarshallOfSound commented on #150
That's because `-forge` doesn't expect random arguments

Even if forge accepted the argument it would need to know to pass it through to `-rebuild` which would then need to know to pass it through to `node-gyp`.  This first needs to be solved at the `-rebuild` level

[2017-02-27 12:59] dtanzer commented on #150
OK, thanks for helping me investigate. Since this sounds like a hacky solution, I will use my workaround for now.

OTOH, ```npm install``` seems to do it right - maybe they just pass all unknown args to all subsequent processes?

[2017-02-27 13:01] MarshallOfSound commented on #150
I believe they do in the case of `node-gyp` but I consider that unsafe as it means random args can flow down the spawn tree and cause unexpected behavior.

[2017-02-27 21:33] bendemboski commented on #136
@MarshallOfSound couldn't this be fixed by just changing [electron-installer-dmg](https://github.com/electron-userland/electron-forge/blob/master/package.json#L108) to be an `optionalDependency`? Is there a reason it needs to be non-optional?

[2017-02-27 22:18] malept commented on #136
@bendemboski I tried it, that doesn't work.

[2017-02-27 22:38] MarshallOfSound commented on #136
It's because at the moment yarn fails loudly if dependencies of optionalDependencies fail.  This is a problem on their end of things

[2017-02-28 02:00] leifwells opened #152 "JSON file "Failed to compile""
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-02-28 02:01] MarshallOfSound commented on #152
@paulcbetts This looks familiar for some reason, I think it's the fallback compiler issue I tried to fix a while back

[2017-02-28 18:03] paulcbetts commented on #152
What's the contents of `en.json`?

[2017-02-28 18:10] paulcbetts commented on #136
Yarn is an exceptionally poor fit for Electron apps, because any yarn.lock file you generate is going to be wrong for 2 out of 3 of your target operating systems

[2017-02-28 18:10] leifwells commented on #152
[code]

[2017-02-28 18:26] bendemboski commented on #136
My company is standardized on MacOS as our dev machines, and it speeds up development quite a bit to have a yarn.lock file. We can easily tell the CI machines running other OS's to ignore the lock file, losing the benefits there, but still realizing them in our dev cycles.

I suspect that the statement "yarn is not a good choice for any project with optional dependencies" is not one that the yarn

[2017-02-28 18:29] malept commented on #136
I would hope so, but that issue that @MarshallOfSound referenced has been open for several months. Perhaps they consider Electron apps to be an edge case?

[2017-02-28 18:44] bendemboski commented on #136
Yeah, there's an old PR [here](https://github.com/yarnpkg/yarn/pull/1438) that purported to fix the issue at some point. It was just closed a few hours ago, so I dropped a comment clarifying that it's definitely not fixed. Maybe some 👍 s or additional comments or something would help get it on somebody's radar?

If not, maybe I'll try opening a new PR that's up-to-date with master and has that fix

[2017-02-28 18:58] malept commented on #136
@bendemboski thanks for working on this. As someone who runs Linux as their primary dev environment, it's very much appreciated.

[2017-03-02 07:27] sierrodc opened #153 "Unable to play mp4 files stored in local file system using<video> tag"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-02 07:28] MarshallOfSound commented on #153
@sierrodc Can you provide the code that you are using to load the video files.  I believe `electron-compile` effectively sandboxes your app so that files that aren't precompiled can't be loaded at runtime.  Not sure if this is actually the case without seeing your code though, could be a generic path change issue 👍

/cc @paulcbetts ^^ thoughts

[2017-03-02 20:43] sierrodc commented on #153
Hi,

I've uploaded sample source code here:
https://github.com/sierrodc/videoplayer

You need to change mp4 file url in the index.html page.

Thanks.

[2017-03-03 04:35] bendemboski commented on #136
Okay, hopefully https://github.com/yarnpkg/yarn/pull/2811 or https://github.com/mongodb-js/electron-installer-dmg/pull/13 will land soon so this will stop being an issue! For the time being anybody that's hating life because of this could just check out and build [my branch](https://github.com/bendemboski/yarn/tree/fix-failing-optional-subdep) and run it locally (although it would be more of a pai

[2017-03-03 13:19] adlk opened #154 "Couldn't find preset "env" relative to directory"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-03 14:10] MarshallOfSound commented on #154
It should still resolve the `env` preset from your local.  I'll play around with this and see what I can figure out 👍

[2017-03-03 14:13] adlk commented on #154
@MarshallOfSound one thing I did forgot to mention. It works if I write:
[code]

[2017-03-03 14:25] MarshallOfSound commented on #154
@adlk Interesting, this problem is isolated to the `env` preset.  Any other preset works correctly.  I think this should be raised on that repository so that they can figure out whats going on

[2017-03-03 14:25] #154 closed

[2017-03-03 14:27] MarshallOfSound commented on #154
As a temporary workaround for your usecase you could just drop down to `babel-preset-es2015`

[2017-03-03 14:40] adlk commented on #154
@MarshallOfSound ok, thanks. I will create an issue at the babel-preset-env repo!

[2017-03-03 14:41] MarshallOfSound commented on #154
Link it here for reference when you do 😄

[2017-03-03 14:50] adlk commented on #154
https://github.com/babel/babel-preset-env/issues/186

[2017-03-03 14:51] adlk commented on #154
here you go https://github.com/babel/babel-preset-env/issues/186

[2017-03-03 17:15] justechn commented on #135
I am trying to do something similar. I want to zip up an external directory and include it in the package. My package.json config looks like
[code]

my zip-directory.js file looks like this
[code]

However when I run electron-forge package I don't see anything different and the zip file is not created
[code]

I tried enabling the verbose flag `--verbose` but it does not seem to do anything

I am u

[2017-03-03 17:19] malept commented on #135
@justechn you need to export a function with the correct signature, that's what gets called.

[2017-03-03 17:53] justechn commented on #135
Thanks for the quick response

I was confused by MarshallOfSound comment "If your forge config object is in your package JSON you can simply provide a path to a JS file in the afterExtract array and we will resolve it to a function." sounded like it could be any JS file.

I wrapped my code in a function like what dtanzer said, it now looks like this
[code]

still no joy

I have run my script on it

[2017-03-03 19:51] justechn opened #155 "package.json config changes are not being used"
* [x ] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x ] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x ] I have searched the issue tracker for an issue that matches the one I want to file,

[2017-03-03 19:54] choxi opened #156 "error publishing to github: `_context.sent.find is not a function`"
* [X] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [X] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-03 19:56] justechn commented on #155
nevermind. I found that I was putting the configs in the wrong location. They need to go in the `electronPackagerConfig` object

[2017-03-03 19:56] #155 closed

[2017-03-03 20:02] justechn commented on #135
I got it to work. I was apparently putting the "afterExtract" array in the wrong part of the config.

[2017-03-04 06:45] paulcbetts commented on #136
@bendemboski Sure, but are you building solely Mac apps? As soon as you use `yarn` in CI to build the Windows and Linux versions, you're gonna have a Bad Time

[2017-03-04 06:47] paulcbetts commented on #153
I think @MarshallOfSound has the right idea, we should probably provide an escape hatch for this in electron-compile, something like a `insecurefile://` scheme that will just blindly return a file job

[2017-03-05 00:28] Flaise opened #157 "Cannot find module 'electron'"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-05 00:30] malept commented on #157
What version of Electron Forge is this?

[2017-03-05 00:35] malept commented on #157
A couple more things:

* did you modify `src/index.js`?
* it's not recommended to install the `electron` module globally.

[2017-03-05 00:41] Flaise commented on #157
That makes sense because I'd never had a reason to install it globally before, but it gives me the same output whether I have it installed globally or not. My copy of Electron Forge is 2.8.2.

[2017-03-05 00:42] Flaise commented on #157
...and no, I didn't modify any file in the project.

[2017-03-05 01:53] MarshallOfSound commented on #157
What terminal are your running this from?

[2017-03-05 02:19] Flaise commented on #157
...Oh. It works on OS X's builtin terminal. It doesn't work on one of the Atom plugins. Good question.

Would you have any idea of why this is, though?

[2017-03-05 02:32] MarshallOfSound commented on #157
@Flaise Yep, a badly built terminal in Electron based apps sets the "ELECTRON_RUN_AS_NODE" environment variable, this causes all spawned Electron apps to run literally as node.js without any Electron API's so the "electron" module doesn't exist.  @malept I'm going to add a warning / workaround to this issue

[2017-03-05 02:32] #157 closed

[2017-03-05 03:19] dearfrankg opened #159 "standard style"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-05 03:20] MarshallOfSound commented on #159
@dearfrankg `--lintstyle` is currently not respected by templates, it only works on the default template

[2017-03-05 03:20] dearfrankg commented on #159
Damn that was quick!!

[2017-03-05 03:20] MarshallOfSound commented on #159
If you want templates to respect the `--lintstyle` command please raise an issue, or even better a PR over at https://github.com/electron-userland/electron-forge-templates

[2017-03-05 03:20] #159 closed

[2017-03-05 03:24] dearfrankg commented on #159
One more thing.

`electron-forge lint`

Does not show a lint error when either App.js has semicolons or does not have semicolons.

[2017-03-05 03:26] MarshallOfSound commented on #159
@dearfrankg Yeah, the templates have no linting support built in at all at the moment 🌵

[2017-03-05 14:10] sierrodc commented on #153
Got it.

Do you know if there's a workaround for this?
If I put the video during compilation time it works fine but this is not what I need.

I've also tried (after adding the video during compilation time) to overwrite using fs the video in output but in this case always the "compiled" video is used.

Is this a problem related to electron-forge or electron? Is there a workaround? what about elect

[2017-03-05 15:12] MarshallOfSound commented on #153
@sierrodc The easiest workaround is to register a custom protocol yourself and bypass `electron-compile` entirely.  In the mean time I'll look into adding an option to the protocol hook in `-compile` to selectively bypass the compiler for certain URI's.

[2017-03-05 15:29] MarshallOfSound commented on #153
@sierrodc See https://github.com/electron/electron-compile/pull/199

[2017-03-06 23:43] malept opened #160 "appx does not work when author is not a string"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-06 23:58] jacobq commented on #160
Can you easily cherry pick this back or should I submit a separate PR?

[2017-03-07 00:05] malept commented on #160
Submitting #161 was a good idea 😄

[2017-03-07 09:10] Guro opened #162 "Problem with electron-packager and osxSign"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-07 09:16] MarshallOfSound commented on #162
As answered on Slack.  `electron-packager` hasn't been released yet with a version that supports `osxSign`, in the mean time use `osx-sign`.

/cc @malept Am I correct ^^

[2017-03-07 09:16] #162 closed

[2017-03-07 14:07] ibujs commented on #136
This issue has been fixed, I confirmed it, yarnpkg/yarn#1435 is finally squashed in the latest 0.23.0 nightly :)

[2017-03-07 16:34] malept commented on #162
That's correct. In fact I found some weirdness this morning related to the API naming change, so it's probably a good thing that I didn't release yet. 😰

[2017-03-07 17:34] justechn opened #163 "How do I get direct access to files in package"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-07 18:47] justechn commented on #163
I was able to figure it out. I used __dirname to get the location.

[2017-03-07 18:47] #163 closed

[2017-03-07 19:43] paulcbetts commented on #153
I'm gonna have a look at this tomorrow, I want to make this a bit harder for people because I don't want there to be a super easy "Copy paste this to disable security" line

[2017-03-07 22:11] sierrodc commented on #153
Hi, a feedback:

1) Thank you very much Marshall, your solution works perfectly. I've tested it both in windows and on a raspberry pi 3.
2) about your "suggestion" to register this function:
addBypassChecker((filePath) => {
  return filePath.indexOf(app.getAppPath()) === -1;
});
If I do it, an electron-forge application created using angular-template doesn't work anymore (error similar to "invalid

[2017-03-08 07:01] malept commented on #96
Perhaps this was fixed by https://github.com/electron-userland/electron-forge-templates/pull/20?

[2017-03-08 15:29] #119 closed

[2017-03-08 15:30] #156 closed

[2017-03-09 03:06] pkkid opened #165 "What license is this code?"
Is there a license on this code, and if not can we get one?

[2017-03-09 03:06] #165 closed

[2017-03-09 03:06] pkkid commented on #165
Sorry i got lost in the wrong project.

[2017-03-10 01:35] MarshallOfSound opened #166 "Install dependencies utility should wipe the yarn.lock each time"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-10 23:08] zorro2b opened #167 "Angular2 Template app doesn't start"
I created an app using the angular2 template, made no further changes and it would not run correctly.
The console shows this error:
Uncaught ReferenceError: exports is not defined
    at bootstrap.ts:2

I created a vanilla es6 app and that worked fine.

[2017-03-10 23:51] malept commented on #167
Thanks for filing a bug. This is template-specific, so could you please re-file this in the [electron-forge-templates](https://github.com/electron-userland/electron-forge-templates) issue tracker?

[2017-03-10 23:51] #167 closed

[2017-03-13 03:25] sebakerckhof opened #168 "electron-forge package not respecting .compilerc"
I have a .compilerc that looks like:
[code]

With `electron-forge start` I seem to be having no trouble and `.compilerc` is being respected.
With `electron-forge package`. The packaged application gives me an error which I can trace back to this babel bug: https://github.com/babel/babel/issues/3930 . However, this babel plugin shouldn't even be used considering the above `.compilerc`.

When I look

[2017-03-13 04:29] MarshallOfSound commented on #168
/cc @paulcbetts I'll look into this but do you have any idea why this could happen, never seen it before?

[2017-03-13 04:29] sebakerckhof commented on #168
After looking into it more, what happens is that while packaging the app, it tries to look in the temporary packaging folder for the .compilerc file.

So for example: /tmp/electron-packager/linux-x64/my_app-linux-x64/resources/app/.compilerc
However, while the package.json is copied over, the .compilerc is not and therefore it falls back to the default config...

I have no idea who should be respo

[2017-03-13 04:31] MarshallOfSound commented on #168
@sebakerckhof Possibly your `ignore` config for `electron-forge`?

[2017-03-13 04:37] sebakerckhof commented on #168
Aah, of course, way back I put in a regex ignoring all files starting with a `.` at the root location. My bad, sorry.

[2017-03-13 04:37] #168 closed

[2017-03-13 21:17] darkyen opened #169 "Cannot access logs from `debug`."
I use the `debug` package to log various parts of the main process and expect them to be in console. However, when running with `electron-forge start` none of the logs make it out. I have tried `electron-forge --enable-logging` aswell.

[2017-03-13 23:33] #169 closed

[2017-03-14 02:42] paulcbetts commented on #169
This is https://github.com/visionmedia/debug/pull/431

[2017-03-14 13:33] jacobq commented on #110
I think this is the same thing I am experiencing. Tests passed on local Windows machine but failed on AppVeyor with:
[code]
https://ci.appveyor.com/project/electron-userland/electron-forge/build/1.0.375

[2017-03-19 21:39] trusktr commented on #154
I've this same error when I use npm v2, but not npm v4 (haven't tried v3).

My babelrc is

[code]

and I am just running

[code]

The problem literally doesn't happen if I use npm v4.

[2017-03-19 21:39] trusktr commented on #154
So this isn't an electron issue, it's a problem between how babel finds modules when installed with npm v2 vs npm v4.

[2017-03-19 22:14] malept commented on #154
IMO Electron Forge should only support NPM 3 or above. Node 6 (our current minimum requirement) was released in April 2016, NPM 3 (stable) was released in September 2015. NPM 2's dependency resolution is significantly different from modern NPM.

[2017-03-20 13:41] kimorkim opened #170 "A relative path is not specified when creating a dmg file."
* [X] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [X] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-20 13:48] MarshallOfSound commented on #170
Can you post your forge config please :)

[2017-03-20 14:41] kimorkim commented on #170
I'm sorry @MarshallOfSound. I wrote down the electron-builder settings.

Write the electron-forge setting.

[code]

[2017-03-20 15:34] noahott opened #171 "Single squirrel installer for Windows 32 and 64 bit architectures"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-20 19:09] malept commented on #171
Regarding the first question: @paulcbetts do you know if this is possible?

[2017-03-20 19:14] malept commented on #170
Your appdmg options appear to be different between electron-builder and Electron Forge. In particular, this only appears in the Forge config:

[code]

I'm not a macOS person but in this error in your output:

[code]

makes it sound like it's looking relative to the Entry.app path anyway?

[2017-03-20 22:00] MarshallOfSound commented on #171
@noahott On windows all 32bit programs can run on 64bit windows but not vice-verse.  If you want a single installer that will run on both, you need to use the `32bit` version of your program 👍

[2017-03-20 22:02] MarshallOfSound commented on #171
Currently that's not possible, the s3 config is static (the same) for all make / publish targets, if it's something that would help you solve this problem it's an enhancement we could look in to.

[2017-03-20 22:04] naderm opened #172 "'electron-forge start' fails at native dependencies on Windows when directory contains spaces"
Running `electron-forge start` from a directory path that contains spaces fails at the step of "Preparing native dependencies". This error only occurs when there is a native package dependency present, such as 'sqlite3', and disappears when that package is removed.

The full error is:

[code]

[2017-03-20 22:06] MarshallOfSound commented on #172
@naderm Please edit your original issue and fill in the required information 👍

[2017-03-20 22:08] naderm commented on #172
Accidentally clicked post too early! Added main content back in.

[2017-03-20 22:13] MarshallOfSound commented on #172
I can only assume that this is it trying to spawn `node-gyp` but this kind of error I thought should be handled by `spawn-rx`.

@paulcbetts Do you know what's going on here?

[2017-03-20 22:14] naderm commented on #172
On investigation, it looks like this may be a node-gyp error. I added a debugging print statement to spawn-rx, the module at the top of the stack trace. It calls `child_process.spawn`, and isolating this call in the following test file appears to reproduce the error:

[code]
Which gives the following output:
[code]

[2017-03-20 22:16] MarshallOfSound commented on #172
@naderm Can you change your args to be this and see what happens 👍

[code]

[2017-03-20 22:18] naderm commented on #172
Adding backslashes to both the node-gyp.cmd path or the --module_path= paths did not fix the error

[2017-03-20 22:19] MarshallOfSound commented on #172
Okay how about this one 👍

[code]

[2017-03-20 22:21] naderm commented on #172
That did not resolve the issue either:

[code]

[2017-03-20 22:22] MarshallOfSound commented on #172
Ok final idea

[code]

[2017-03-20 22:23] malept commented on #172
@MarshallOfSound does it matter that @naderm is testing with spawn and not spawn-rx?

[2017-03-20 22:26] naderm commented on #172
@MarshallOfSound: Quoting node-gyp.cmd gave a new (but seemingly less useful) error:

[code]

FWIW, commenting out module_path seems to fix the issue.

@malept: If I understand correctly, spawn-rx calls child_process.spawn around the point of failure in the original traceback

[2017-03-20 22:34] naderm commented on #172
npm install -g node-gyp also resolves this path issue (And highlighted a new error requiring python2.7 for node-gyp).

My final solution, taken from [stack overflow](https://stackoverflow.com/questions/15126050/running-python-on-windows-for-node-js-dependencies):

[code]

[2017-03-20 22:35] MarshallOfSound commented on #172
@naderm Will try repro on windows when I get back tonight 👍

[2017-03-20 22:58] MarshallOfSound commented on #172
@naderm So is everything working now?

[2017-03-20 23:01] naderm commented on #172
On my end, yes. Leaving this issue open in case you want to fix the issue upstream.

[2017-03-21 01:45] kimorkim commented on #170
Thanks for the reply. @malept

[code]
```README.md``` same issue

Of course the absolute path works well.
[code]

There are problems with each computer that you modify.

The path to Entry.app is located in the out folder that is created at the time of ```electron-forge make```

[2017-03-21 02:08] malept commented on #170
Electron Forge delegates all of its DMG creation to [electron-installer-dmg](https://github.com/mongodb-js/electron-installer-dmg/), so I took a look at how it (and its dependency [appdmg](https://github.com/LinusU/node-appdmg)) works.

What happens is that electron-installer-dmg creates an `appdmg.json` file for appdmg to read in order to create the DMG and puts it in `os.tmpdir()`. What appdmg d

[2017-03-21 02:08] #170 closed

[2017-03-21 02:10] MarshallOfSound commented on #170
@malept Looks like electron-installer-dmg is searching relative paths, relative to the temp build directory they are using rather than the source folder

[2017-03-21 02:12] malept commented on #170
@MarshallOfSound Did I say that too indirectly?

[2017-03-21 15:42] malept commented on #172
FWIW I can't repro this on Linux.

[2017-03-21 19:01] kevingelion commented on #136
🎉  can anyone confirm what happens to `yarn.lock`? building for 3 platforms seems impossible if generating the lock on one platform.

[2017-03-21 19:03] malept commented on #136
@kevingelion I think @paulcbetts commented somewhere (don't remember where, sorry) that the problem you mention is a big blocker in version controlling `yarn.lock` for Electron apps.

[2017-03-22 14:09] jacobq opened #173 "Request: Please consider adding `.editorconfig` file to project"
* [X] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [X] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-22 15:18] malept commented on #173
I'm not opposed to this, but it's just for newlines/indent styles, right? Our standards for those things are the same as most Node projects, as I understand it. (Two spaces, UNIX line endings.)

[2017-03-22 15:36] jacobq commented on #173
Using [`eslintrc-to-editorconfig`](https://github.com/sun1x/eslint-to-editorconfig/) I generated one then changed the `trim_trailing_whitespace` option since it didn't appear to match the project. If you like it I'll make a PR.

[code]

[2017-03-22 18:03] develar opened #175 "Why target maker implementation is not searched in the local node_modules?"
User can set target to `nsis` and install `electron-forge-maker-nsis` module locally. But if electron-forge installed globally (as it is recommended according to https://github.com/electron-userland/electron-forge#starting-a-new-project), module cannot be resolved and debug output is not clear.

Is it by intention (module should be installed globally) or just not implemented?

[2017-03-22 18:05] develar commented on #171
electron-builder since 16.1.0 supports compiling electron-forge projects (`electron-compile` is [supported](https://github.com/electron-userland/electron-builder/issues/807#issuecomment-288030921)) To get one installer for both archs, you can use or `nsis` target, or `nsis-web` (https://github.com/electron-userland/electron-builder/wiki/NSIS#32-bit--64-bit).

electron-builder allows you to specify

[2017-03-22 18:37] probonopd commented on #1
So what's the status on AppImage, what's holding it back?

[2017-03-22 18:37] probonopd commented on #26
Please check and possibly merge https://www.npmjs.com/package/electron-forge-maker-appimage

[2017-03-22 18:44] develar commented on #26
@probonopd All electron-builder targets now is available for electron-forge — https://github.com/electron-userland/electron-builder/issues/1193#issuecomment-288494214 (strictly speaking not all, but rest will be published in several days).

User just install mentioned module and can specify appimage target in the electron-forge config.

[2017-03-22 18:57] malept commented on #1
@probonopd Someone to work on it, really. I haven't had any time to do it.

[2017-03-22 18:58] probonopd commented on #1
@malept thanks, I think @develar has good news over in https://github.com/electron-userland/electron-forge/issues/26#issuecomment-288500233

[2017-03-22 19:15] noahott commented on #171
thanks @develar; this is useful information I didn't know before.
@MarshallOfSound, I'm solving this problem, for now, by just publishing the 32bit version.

[2017-03-22 19:15] #171 closed

[2017-03-22 22:41] MarshallOfSound commented on #175
This will just be an oversight in the requireSearch call we do.  Will check it out shortly

[2017-03-23 09:24] Dorkside opened #177 "electron-forge not packaging with yarn"
* [x ] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x ] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x ] I have searched the issue tracker for an issue that matches the one I want to file,

[2017-03-23 16:13] malept commented on #177
Could you please run `electron-forge package` again, but now the DEBUG variable should be `electron-forge:*,electron-packager`?

[2017-03-23 23:13] #175 closed

[2017-03-23 23:18] jacobq opened #178 "`makeVersionWinStoreCompatible` option is undocumented"
* [X] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [X] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-23 23:21] malept commented on #178
Personally, I think this should go upstream. @MarshallOfSound thoughts?

[2017-03-23 23:25] MarshallOfSound commented on #178
Yep, let's try send this upsteram 👍

[2017-03-24 11:04] Dorkside commented on #177
Here's the output, it just seems to hangs there forever.
[code]
Doesn't bring much answers I'm guessing.

[2017-03-24 14:34] jacobq opened #179 "[appx maker] Extra `CN=` prepended to auto-generated certificate publisher"
* [X] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [X] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [X] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-24 15:24] malept commented on #177
This sounds like https://github.com/electron-userland/electron-packager/issues/544. Try upgrading to Node 7.

[2017-03-24 22:24] yahyaKacem opened #180 "error during `make` when package.json description field has a `\n` in it."
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-24 22:52] MarshallOfSound commented on #180
That looks like a dpkg error and newlines probably just aren't allowed in that spec.  I think the thing to do here is clean up the description and replace new lines with spaces.

[2017-03-24 22:54] malept commented on #180
I'd globally replace `\n([^ .])` with `\n \1`.

[2017-03-25 09:12] ajimix opened #182 "SASS partials are compiled on make"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-03-27 10:05] thyb opened #183 "`Error: Asked for /path/to/file.js but it was not precompiled!` for a file outside the app directory"
Hi there, I'm trying to move my existing project to electron-forge as it seems to be an awesome way to start/package/publish my app easily !

In my electron app, I use some `require()` on Javascript files outside the app directory (selected by the user in his filesystem). It works well in development using `forge start` but after my app packaged I get this error when the file is loaded:
`Error: As

[2017-03-27 10:06] MarshallOfSound commented on #183
@thyb This is currently by design, partly as a security / safety measure.  There is a WIP for an opt-out to this over at https://github.com/electron/electron-compile/pull/199

[2017-03-27 10:06] #183 closed

[2017-03-27 10:13] thyb commented on #183
Ok I understand, thanks for the quick reply !

[2017-03-28 16:08] malept commented on #182
What happens when you use relative paths for `@import`?

[2017-03-28 16:22] ajimix commented on #182
I've just tried and the same thing happens

[2017-03-30 14:37] #173 closed

[2017-03-31 16:54] jonpowers commented on #125
Can someone tell me how to set the process.env.GITHUB_TOKEN in a place that electron-forge can see it? Using --auth-token=.... on the cli isn't working for me.

[2017-03-31 17:00] malept commented on #125
Perhaps just set the environment variable?

[2017-03-31 17:11] jonpowers commented on #125
As in a system-wide environment variable?

[2017-03-31 17:16] malept commented on #125
On OSX/Linux, running `GITHUB_TOKEN=whatever electron-forge publish` will be sufficient.

[2017-03-31 17:29] jonpowers commented on #125
I ended up doing a declare -x GITHUB_TOKEN=... but thank you, I guess I was overthinking it.

[2017-04-01 05:18] zeke opened #185 "Could not detect abi for version 1.6.4 and runtime electron"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-04-01 05:22] MarshallOfSound commented on #185
@zeke `node-abi` definitely supports this version of Electron.  https://github.com/lgeiger/node-abi/blob/master/index.js#L6

Can you try a quick reinstall

[code]

It looks like NPM didn't update the transitive dependency when it updated `electron-forge`, that and forge is up to `2.8.3` now so always good to be up to date 😄

[2017-04-01 18:12] zeke commented on #185
Bumping to 2.8.3 did the trick. Thanks.

[2017-04-01 18:12] #185 closed

[2017-04-01 19:33] biomade opened #186 "babel-preset-env 1.3.0 throws "Target version must be a number" when `forge start` is run"
* [ x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x ] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x ] I have searched the issue tracker for an issue that matches the one I want to file,

[2017-04-01 20:53] malept commented on #186
This broke with https://github.com/babel/babel-preset-env/pull/229, I'm trying to figure out how to fix it.

[2017-04-01 20:55] biomade commented on #186
I saw the other issues with different versions of node, I blew away the node-modules folder and reinstalled the packages to no avail. I also tried the install without the react framework, same problem.
Thanks for the attention.

[2017-04-01 20:56] malept commented on #186
Until I figure out how to fix this, in your Electron project, fix the `babel-preset-env` version in `package.json` to: `"^1.2.2, < 1.3.0"`

[2017-04-01 20:57] biomade commented on #186
let me try it and I will get back to you in a moment

[2017-04-01 21:01] biomade commented on #186
;-(( NOPE!
I changed the package.json, ran npm install then npm start. Same error! So what's next?
`
App threw an error during load
Error: Target version must be a number,
          '1.6.0' was given for 'electron' (While processing preset: "C:\\Users\\laurie\\Documents\\GitHub\\UITests\\myforgewithreact\\node_modules\\babel-preset-env\\lib\\index.js")
    at C:\Users\laurie\Documents\GitHub\UITes

[2017-04-01 21:06] malept commented on #186
Make sure babel-preset-env has 1.2.2 installed and not 1.3.0. This is my repro instructions:

[code]

[2017-04-01 21:13] biomade commented on #186
alright, I will admit I am now confused.
I just looked at the babel-preset-env. package json and it has `"raw": "babel-preset-env@^1.3.2"`
I changed the babel-preset-env version in the main project package. json. Should I now blow away the babel-preset-env folder in the modules folder or the entire modules folder

[2017-04-01 21:28] biomade commented on #186
well that did not work (blowing away the modules folder) now I get another weird message. I am going to restart the process.. (yes I am new at this)

[2017-04-01 21:36] biomade commented on #186
OK we have lift off!
I created a new application and before I ran npm install, I went and changed the version in the package. Then after the install, I went into the modules folder and checked that the version was correct; and it was.
I was then able to get my app to start!!!

i will let you decide to close the ticket, attach it to the other error or leave it open. Thanks for all your help, now I

[2017-04-01 23:04] gimyboya commented on #186
I had the same issue few hours ago.

Notice also that changing `"electron": "1.6.2"` to `"electron": 1.6` in the `compilerc` file solved the issue for me.

[2017-04-01 23:05] malept commented on #186
Yes, babel-preset-env no longer allows string versions for Electron, I hope they fix that.

[2017-04-02 14:41] wong2 opened #188 "Show progress while uploading artifacts?"
it would be nice if there's a progress bar showing current progress while uploading artifacts to Github.

[2017-04-02 21:05] leifwells commented on #152
Could someone suggest a work-around for this issue? I've run out of options.

[2017-04-03 01:53] malept commented on #186
New projects in Forge no longer have this problem  as of 2.9.0. It uses a Number for the Electron version instead of a String.

[2017-04-03 01:53] #186 closed

[2017-04-03 12:45] glek opened #190 "Ability to pass additional arguments to Electron via electron-forge-start"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-04-03 12:49] MarshallOfSound commented on #190
@glek Poorly documented but any argument after `---` will be passed through to your application.

I.e.

[code]

[2017-04-03 12:49] #190 closed

[2017-04-03 12:49] MarshallOfSound commented on #190
Will improve the docs for this on the site 👍

[2017-04-03 12:49] glek commented on #190
Yes, I just found this in the code after digging around. Definitely needs better documentation. Thanks!

[2017-04-03 14:28] jonpowers opened #191 "Using Electron-Forge make, creating start menu shortcut on windows"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-04-03 14:31] MarshallOfSound commented on #191
Without any code or tangible errors to share I cant help you with this.  If you post you're code or the error messages you are getting (with traces) I can try help you out.

That said, this is more of a question than an issue so closing out for now.  If you provide the information I'll help you out in this issue thread :+1:

[2017-04-03 14:31] #191 closed

[2017-04-03 14:33] jonpowers commented on #191
I don't know how to get that output. I added DEBUG=electron-forge:* as a command line arg and it did nothing different. I also don't see any verbose flag for electron-forge make.

[2017-04-03 14:35] MarshallOfSound commented on #191
Can you provide the code you are using to try make the shortcut?

[2017-04-03 14:37] jonpowers commented on #191
This is at the top of the entry point to my application, before mainWindow is created. I used the Electron-Forge init boilerplate.

[code]

[2017-04-03 14:41] MarshallOfSound commented on #191
Can't see anything obviously wrong with that code.  Does your apps name have a space in it?

Can you upload the SquirrelSetup log file from your local install, should have some useful logging info

Lastly can you set the `stdio` of the child process to `inherit` and then launch the installed exe file from command prompt.  You should see any logs come through correctly.

[2017-04-03 14:50] jonpowers commented on #191
I took out the space in my app's name, but it is still failing.

SquirrelSetup.log:
[code]

[2017-04-03 14:50] jonpowers commented on #191
And I honestly don't know how to approach your third request, but I'm searching

[2017-04-03 14:54] MarshallOfSound commented on #191
No need, there's your issue.

Not sure why the hook would fail with that message but that's why your shortcut isn't being made.  The hook isn't being called at still.

Should do some research into that error message and try figure out what's going on.  Peruse the issues over at Squirrel.Windows, one of them might point you in a good direction.

[2017-04-03 15:22] jonpowers commented on #191
Thank you for your help! I may have a few more questions as this search isn't turning up too much.

I'm curious though, where is the better place to ask these questions?

[2017-04-04 15:45] philcleveland commented on #186
I am unsure how to fix this problem with a project created in an older version of forge?  I blew away node_modules and updated forge to 2.9.0 and still get

[code]

[2017-04-04 16:03] malept commented on #186
Use @gimyboya's solution for existing projects. The change needs to be in `.compilerc`.

[2017-04-04 16:27] philcleveland commented on #186
OK. I am assuming that since the fix is in .compilerc that I will need to recompile?  Is there anyway to force forge to do so without blowing away node_modules?  Thanks

[2017-04-04 16:36] malept commented on #186
No, you won't need to recompile. Does it matter?

[2017-04-04 16:42] philcleveland commented on #186
Nope recompile does not matter. I was just curious.  @gimyboya 's solution did work for me.  It will only work with major/minor e.g. 1.6 and not 1.6.2.  The latter causes a parse error in the json.  Not exactly sure why, but it is not affecting me.  Thanks for the help.  I am up and running again. :+1:

[2017-04-04 18:27] malept opened #192 "Code coverage doesn't get sent in CI"
Mostly a note to myself (or @MarshallOfSound if he gets to it first) - need to `chmod +x ci/publish.sh` and commit that in order for the coverage to be transmitted to coveralls.

Additionally, perhaps the file should be named `ci/coverage.sh` instead. It's not like we're publishing anything 🤷‍♂️

[2017-04-05 01:08] Flaise opened #193 "start won't run on Windows, missing electron-to-chromium"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-04-05 02:18] malept commented on #193
Could you run `npm install` in the Electron app project and then try again? `electron-to-chromium` should be installed. (It's a dependency of `browserslist` which is a dependency of `babel-preset-env`.) You can check by running `npm list` and checking the output for `electron-to-chromium`.

[2017-04-05 02:25] MarshallOfSound commented on #193
@Flaise I tried to reproduce this error on Windows/macOS and couldn't get the error occurring on either.  Try what @malept said and we'll go from there.

[2017-04-05 02:32] #192 closed

[2017-04-05 09:57] Flaise commented on #193
I deleted my node_modules folder and ran `npm install`. It failed with the following output:
[code]

Then I ran `npm install` again without doing anything else and it mysteriously worked that time. Then I ran `electron-forge start` and it gave me the same output as before. It said it couldn't find electron-to-chromium so I installed it manually.
[code]
I'm pretty sure that output means it was alre

[2017-04-05 10:16] MarshallOfSound commented on #193
@Flaise What npm version are you using?

[2017-04-05 11:22] Flaise commented on #193
@MarshallOfSound 4.4.4

[2017-04-05 11:40] MarshallOfSound commented on #193
@Flaise Can you try dropping down to npm 3, quite possibly an issue with its "deduping" logic.

[2017-04-05 13:58] Flaise commented on #193
@MarshallOfSound npm version is now 3.10.10. I uninstalled and reinstalled electron-forge, deleted the node_modules folder, and `npm install`ed all over again. I get the same result out of `electron-forge start`.

[2017-04-05 14:23] MarshallOfSound commented on #193
@Flaise I think in this process your app just gotten a bit screwed up 😢 Can you try a complete reset.

[code]

[2017-04-05 15:04] malept commented on #193
Yeah, I agree with @MarshallOfSound. it's quite strange that your babel-preset-env is at 1.2.2.

[2017-04-05 15:28] Flaise commented on #193
@malept I altered that dependency because of issue #186.

Here's what I tried this time: First I created the new test project from scratch as instructed. It worked on the first try with no errors. Then I made the dependencies that the new test project and the project that I'm troubleshooting have in common look the same. The package.json file that I'm troubleshooting now contains:
[code]
Aside fro

[2017-04-05 15:30] malept commented on #193
Are you creating a new project with the vue template?

[2017-04-05 15:33] MarshallOfSound commented on #193
@Flaise Go to your `.compilerc` and change all instances of the string electron version "1.4.15" to be a number `1.6`.

Also, yeah, are you using the vue template?

[2017-04-06 18:45] Flaise commented on #193
That worked. Thanks for the help. I'm using template strings with Vue, no cross-compilation precisely because of issues like these.

[2017-04-06 18:45] #193 closed

[2017-04-06 19:56] #153 closed

[2017-04-08 08:31] JakeDluhy opened #194 "Packaged app referencing uncompiled files in working dir (babel-plugin-webpack-alias)"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-04-08 08:54] MarshallOfSound commented on #194
Good news, I've done something like this in code before.  It's as simple as overriding `Module._resolveFilename`

Untested code but should point you in the right direction

[code]

Obviously this is brute forge (try catch) you can probably optimize by only routing the requests that start with a certain string or something.  Good luck getting it working, would be interested to see the final half we

[2017-04-08 08:54] #194 closed

[2017-04-08 19:57] JakeDluhy commented on #194
I messed around with that a little bit, but wasn't able to get it to work. Tried messing around with the `electron-compile` process and didn't get anywhere. Ended up deciding the best solution for me was to just precompile my files using babel and then package the compiled directory. Because I switched to the programmatic apis I was also able to include compiling sass (which `electron-compile` was

[2017-04-12 23:52] sfyfe31 opened #196 "macOS framework symlinks broken when zipped"
As part of my app's build process, I need to zip up the executables. But I found in doing this that the then unzipped macOS app wasn't working (Windows and Linux were fine).

Through [this issue I raised against node-archiver](https://github.com/archiverjs/node-archiver/issues/225) the community helped me figure out that the zipping process was breaking the symlinks in `AppName.app/Contents/Framew

[2017-04-12 23:55] MarshallOfSound commented on #196
@sfyfe31 If you need to zip up your Mac app please use the "zip" target of forge.

Symlinks are required in Mac apps to reduce bundle size.  Copying the frameworks around makes the app much bigger.  When forge zips your app we preserve symlinks so it works on unzip.

[2017-04-12 23:55] #196 closed

[2017-04-12 23:59] sfyfe31 commented on #196
I need to put the executables in a custom folder structure with readme files etc and then zip up that entire folder structure. So `electron-forge`'s `zip` target isn't something I can use.

[2017-04-13 00:00] MarshallOfSound commented on #196
@sfyfe31 How are you zipping up the files then, we can just fix the command you're running to preserve symlinks

[2017-04-13 00:04] sfyfe31 commented on #196
I'm running `ember electron:package` ([ember electron](https://github.com/felixrieseberg/ember-electron) uses `electron-forge` under the hood), then moving/renaming the resulting executables into an end-user friendly folder structure, which I then zip up using [archiver](https://github.com/archiverjs/node-archiver)

[2017-04-13 00:06] MarshallOfSound commented on #196
@sfyfe31 I would recommend on macOS and Linux you zip up using the same technique as us

https://github.com/electron-userland/electron-forge/blob/master/src/makers/generic/zip.js#L10

Try that spawning logic out with your package process and see if it works 👍

[2017-04-13 02:15] MarshallOfSound commented on #177
@malept I had this yesterday and remembered that `electron-packager` hangs on certain recursive symlinks.  Yarn creates `.bin` directories at all levels of the `node_modules` tree and therefore can create this nasty loop of symlinks.  Wiping `node_modules` and running `npm install` instead of `yarn` worked flawlessly.

@Dorkside If you still have this problem it might be worth trying the above 👍

[2017-04-16 04:19] MarshallOfSound opened #197 "Lifecycle hooks for cool kids"
I want to expose some points in the CLI processes for users to run custom code, thinking a new object in the forge config with keys like the following

| Key | When is it called? |
|-----|-------------------|
| `generateAssets` | Before `start` and `package` (Used to generate assets required to run the app) |
| `prePackage` | Before `package` |
| `postPackage` | After `package` |
| `preMake` | Bef

[2017-04-16 09:18] paulcbetts commented on #197
Maybe make the actual hook definition the path to a module, and look for methods with those names in the exports?

[2017-04-20 23:02] MarshallOfSound commented on #197
@paulcbetts There's this magical technique that people could use for that 👍

https://github.com/electron-userland/electron-forge/blob/master/src/util/forge-config.js#L74

[code]

[2017-04-21 05:34] paarthenon opened #205 "Typescript errors aren't being reported"
* [x ] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x ] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x ] I have searched the issue tracker for an issue that matches the one I want to file,

[2017-04-21 05:36] MarshallOfSound commented on #205
See this comment on `electron-forge-templates` 👍

https://github.com/electron-userland/electron-forge-templates/issues/27#issuecomment-294277496

[2017-04-21 05:36] #205 closed

[2017-04-21 05:37] paarthenon commented on #205
@MarshallOfSound fair. But if I do actually want to see my compile errors without manually opening each file what option do I have with forge?

[2017-04-21 05:41] MarshallOfSound commented on #205
@paarthenon You can use `tslint` with the `--type-check` option enabled 👍

[2017-04-22 11:10] freefishz opened #206 "Failed when running make"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-04-24 12:55] MarshallOfSound commented on #206
Can you post the output of running make with `DEBUG` set like so

[code]

[2017-04-24 21:05] lllama commented on #172
I'm getting this issue on Windows 10 (via ember-electron). Playing around in `dist\api\start.js` and wrapping the spawn command in single quotes gives me a different error, so I think it is the path quoting causing the issue.

[2017-04-24 22:14] #197 closed

[2017-04-24 22:20] MarshallOfSound commented on #188
Currently on the makers we publish artifacts in parallel so progress would have to be overall progress unless someone knows how to render multiple progress bars in a terminal window at once 😆

[2017-04-24 22:28] JakeDluhy opened #207 "Unable to Make on Windows - no errors but output dir empty"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-04-24 23:01] MarshallOfSound commented on #207
@JakeDluhy Can you explain why you are running `babel` and `sass` manually when electron-forge will handle all that for you?

[2017-04-24 23:30] JakeDluhy commented on #207
For `sass`, I'm having problems with this issue: https://github.com/electron/electron-compile/issues/162
For `babel`, I was having problems with my absolute paths: https://github.com/electron-userland/electron-forge/issues/194

Still working on the example =)

[2017-04-25 01:43] JakeDluhy commented on #207
I tried my best to break it, but wasn't able to... I added `sass`, `babel`, and absolute paths and it was still able to `make` fine. For whatever reason it's spawning the `nuget.exe` process and that's failing silently. I'm going to look into it tomorrow.

[2017-04-25 23:20] JakeDluhy commented on #207
I figured out the problem: my `description` and `author` fields in package.json were empty, which meant that `nuget.exe` fails. I figured this out by running the make through the API with the flag `skipPackage` as true, where it gave this error ouput:

[code]

I made https://github.com/JakeDluhy/electron-make-err to demonstrate (I removed the `author` and `description` fields from package.json).

[2017-04-25 23:25] malept commented on #207
I think that [electron-winstaller](https://github.com/electron/windows-installer) should be the module to throw an error, before `nuget.exe` is called. Thoughts @MarshallOfSound?

[2017-04-26 18:55] paulcbetts commented on #205
@paarthenon I'd just set up your `lint` task to run `tsc` on the whole project

[2017-04-26 19:06] JakeDluhy commented on #207
Ummm let me do a little investigation. Just took a look at this http://jamesknelson.com/are-es6-promises-swallowing-your-errors/ and I'm wondering if I wasn't getting the errors because they're being swallowed...

[2017-04-27 03:40] freefishz commented on #206
I have fixed this issue by removing and reinstalling "node_modules" with NPM.
So it may be caused with network or NPM during installing dependencies.

Please close this issue.
Thanks anyway.

[2017-04-27 03:46] #206 closed

[2017-04-27 03:46] malept commented on #206
FYI, you should have been able to close this yourself, since you're the issue reporter.

[2017-04-27 05:34] concreted opened #208 "Service workers fail to load"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-04-27 05:36] MarshallOfSound commented on #208
Never actually tried to use service workers with `electron-compile`, probably need a similar setup to our webview logic.

https://github.com/electron-userland/electron-forge/wiki/Using-'preload'-scripts

Will look into it when I get a change, unless @paulcbetts has any ideas for this 👍

[2017-04-27 15:43] bengotow commented on #190
Just found this as well—fwiw, I think the delimiter for arguments passed into the child process is usually `--` and not `---`? Might just be my experience but I spent a while trying two dashes instead of three... Glad to see this is supported though!

[2017-04-27 15:59] MarshallOfSound commented on #190
@bengotow Hm, that does actually make sense, most things I know do use `--` to pass through args.

@malept How would you feel about changing it to a double dash in the upcoming breaking change version bump?

[2017-04-27 16:04] malept commented on #190
@MarshallOfSound I'm fine with that. I thought it was rather odd that it was a triple dash, but I figured you had a reason 😄

[2017-04-27 16:04] MarshallOfSound commented on #190
@malept Don't think I implemented it 😆

[2017-04-27 16:09] MarshallOfSound commented on #190
🎉 https://github.com/electron-userland/electron-forge/pull/209

[2017-04-27 19:14] paulcbetts commented on #208
@concreted Can you run with `DEBUG="*"` and give the debug output of the main process?

[2017-04-27 19:54] paulcbetts commented on #208
I thiiiiiink this is an Electron bug with how it interacts with intercepting the `file://` protocol - we're not failing the request to `sw.js`, and even if we do, we never return the error code `-1` which in Chrome means "IO pending"

[2017-04-27 21:07] concreted commented on #208
@paulcbetts done, i put the output in this gist: https://gist.github.com/concreted/44ae401bcc42255506cd7c43214e1686

[2017-04-27 21:09] concreted commented on #208
oops i ran that ^^ with `DEBUG=*` which gives different results. `DEBUG="*"` logs here: https://gist.github.com/concreted/cc9b130e0ff94d236e35a3c6a4dbc1d7

[2017-04-27 21:31] concreted commented on #208
@MarshallOfSound i tried putting the service worker registration into a preload script, and got the same error :( here is the branch: https://github.com/concreted/esw/tree/preload

[2017-04-28 12:02] debelop13 opened #211 "The "out" option does not works"
Hello!

Is working If I do this: ember electron:package --platform=darwin --out=electron-out/pack

But using electron-forge, not:

'electronPackagerConfig': {
    appCategoryType: 'public.app-category.productivity',
    name: 'Install',
    platform: [
      "darwin",
      "win32"
    ],
    arch: "x64",
    asar: false,
    out: "electron-out/pack",
    overwirte: true,
    overwrite: true,

[2017-04-28 12:12] MarshallOfSound commented on #211
Ember Electron has a specific API option to override `electron-forge` out directory, our CLI does not expose this option.

See https://docs.electronforge.io/

[2017-04-28 12:12] #211 closed

[2017-04-28 17:38] jamesmoore commented on #153
@sierrodc
The errors are caused by two things:
1) In windows OS the apppath has \ as path separator, but the file will have /. Therefore you would need to use `app.getAppPath().split("\\").join("/")`
2) in debug mode the app path is like

but the filepath is any file served from the application (including the .ts), or external to it.
Both these means that the indexOf will return -1, even for .ts f

[2017-04-29 17:06] mhagmajer opened #212 "Allow precompiling some node_modules"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-04-29 18:18] concreted commented on #208
It looks like the problem is related to `initializeProtocolHook` in `electron-compile/lib/protocol-hook.js`. Using the code at https://github.com/concreted/esw/tree/test_electron_compile I went into node_modules and took out the call to `protocol.interceptBufferProtocol('file'...` in `initializeProtocolHook` and service workers started working.

I saw https://github.com/electron/electron/issues/28

[2017-04-30 01:38] cjduncana opened #213 "Supposedly Missing Dependencies"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-04-30 01:40] MarshallOfSound commented on #213
In a clean terminal can you run `git -v` and `node -v` and indicate the output here.

Also is node 6 actually in your path or is it added to your path in your bashrc (or similar)

[2017-04-30 01:44] cjduncana commented on #213
@MarshallOfSound
I'm running Git v2.7.4 and Node v6.0.0. Node is in my path variable.

[2017-04-30 16:47] awinogradov opened #214 "Custom outDir"
Hi there!

It looks [this code](https://github.com/electron-userland/electron-forge/blob/master/src/api/make.js#L43) doesn't work correctly. The second expression only. I think it happens because you don't pass this options [here](https://github.com/electron-userland/electron-forge/blob/master/src/electron-forge-make.js#L29). It would be better to pass options from `config.forge` here too.

[2017-04-30 17:03] MarshallOfSound commented on #214
This is working as intended, the outdir option is for the JS API only as it fulfills a specific usecase for third parties using the forge API.

[2017-04-30 17:03] #214 closed

[2017-04-30 17:25] awinogradov commented on #214
Ok. But why? It's the easiest way to have all options in config instead of two places: args in scripts and opts in the config section. What terms are use to separate them? Although `electron-forge make --outDir=.release` doesn't work too.

[2017-04-30 23:59] MarshallOfSound commented on #213
Hahaha @cjduncana, just realized you said you had **exactly** node v6.0.0.  We require something greater than 6.0.0, not equal to 😢

Kinda want to change this, also want to make sure people have a reasonable patch version.

You should update to latest v6 of node to get security and bug fixes 👍

https://github.com/electron-userland/electron-forge/blob/master/src/util/check-system.js#L11

[2017-05-01 14:49] cjduncana commented on #213
I can confirm that by updating Node to v6.10.2 LTS, I was able to use electron-forge with no issues. Thanks, @MarshallOfSound.

[2017-05-01 14:49] #213 closed

[2017-05-01 17:29] bengotow opened #215 "3.0 release breaking `--` option parsing"
Hey folks,

I'm still investigating what's going on, but with version 3.0, I can no longer pass arbitrary arguments to `electron-forge start`. I know the syntax changed from `---` to `--`, but I'm getting errors that appear to be coming from `commander`:

[code]

[2017-05-01 17:38] bengotow commented on #215
Update: when I invoke electron-forge using the command above and stop it on https://github.com/electron-userland/electron-forge/blob/master/src/electron-forge-start.js#L12, the `process.argv`array is mysteriously missing the `--`, so doubleDashIndex is -1:

[code]

[2017-05-01 18:05] malept commented on #215
Yeah I had looked briefly at the PR while I was on the bus. I think it should be changed to at least be something like "grab index of the first match of `/\b--\b/` instead of `indexOf('--')`", however that regular expression works in JavaScript.

[2017-05-01 18:11] bengotow commented on #215
I think the issue is that Commander is parsing `argv` and only passing known arguments on to `electron-forge-start.js`. The parsing of `--` should be fine, it's just that the arguments are getting stripped before then?

[2017-05-01 18:16] malept commented on #215
Ah, perhaps. I'll let @MarshallOfSound comment, he's more familiar with how Commander works.

[2017-05-02 15:45] crunchex commented on #26
@develar am I missing an extra step to add the appimage make target besides:
1. `yarn add electron-forge-maker-appimage`
2. add "appimage" to make_targets.linux

I get this error when I try to `electron-forge make`:
[code]

And here is my config in a test program, "eforge":
[code]

[2017-05-02 16:44] mhagmajer commented on #212
My current workaround is to compile these dependencies in `afterCopy` of the packager. Below is my `forge-config.js`.

[code]

[2017-05-02 17:09] MarshallOfSound commented on #26
@crunchex Can you run with the `DEBUG=electron-forge*` environment variable

And actually thinking about it, we just went through a breaking change in the API that our `maker` logic expects (hence the recent `3.0.0` bump)

Makers now need to export an async function which determines if the maker can be used on the current system.  [Internal example](https://github.com/electron-userland/electron-fo

[2017-05-02 17:24] MarshallOfSound commented on #208
Seems relevant electron/electron/issues/9354

[2017-05-02 17:27] concreted commented on #208
@MarshallOfSound yup after some digging it looks related to the `interceptBufferProtocol` call. @deepak1556 says he sees the issue in electron and will fix there.

Going to close this, thanks for your help @MarshallOfSound and @paulcbetts ❤️

[2017-05-02 17:27] #208 closed

[2017-05-02 19:44] develar commented on #26
electron-forge-maker-appimage 18.2.0 published.

[2017-05-02 20:45] bengotow opened #219 "Calling `electron-forge make` ignores package.json arch"
Hey folks! I've been configuring AppVeyor to do automated builds of an Electron project, and I'm having a strange problem.

When you call `electron-forge make`, it can fall through to `electron-forge package` to package up the app before making the installers, which is nice. On the CI server, I just call `electron-forge make` and then save the build artifacts. However, when forge does this, it pas

[2017-05-03 00:11] crunchex commented on #26
@develar looks like you added support for 3.0.0, but if I go through the same process and `electron-forge init` a new test project and `yarn add electron-forge-maker-appimage` with the latest version I still get the same error.

@MarshallOfSound here's the output with the latest version of the appimage package:

[code]

[2017-05-03 00:40] MarshallOfSound commented on #26
Looks like a small bug in our maker resolver.  Can you try (for now) setting the make target in your config to be "electron-forge-maker-appimage" instead of just "appimage".  It should get it working for now and I'll get a fix out for the underlying issue soon :)

[2017-05-03 00:42] MarshallOfSound commented on #219
This is intended behavior currently as IMO makers / publishers shouldn't be reading platform or arch from the packager config object.  So we pulled platform and arch out to be CLI args to forge itself.  This allows all commands to have the same way of declaring platform and arch which makes things a lot easier to manage.

[2017-05-03 00:42] #219 closed

[2017-05-03 00:43] MarshallOfSound commented on #219
Probably need to add this to docs somewhere in a list of options that are ignored by forge

[2017-05-03 00:53] crunchex commented on #26
@MarshallOfSound great, that worked and a super reasonable workaround. Thanks!

[2017-05-03 02:55] bengotow commented on #219
Hmm - sounds good. It'd be really useful to have docs that explain in more detail what each of the forge commands do. I'm not totally clear on the difference between `electron-forge make` and `electron-forge package`, or why I would use package separately from make. (to run package, you have to have previously run make?) I also had to run make on win32 and darwin to see where it placed artifacts (

[2017-05-03 03:03] bengotow commented on #219
Thinking about this a bit more—I agree that it's weird to specify arch in the packager config object, since the arch you want varies by platform and the config is static JSON by default. (For example, I want x64 and ia32 on Windows, but not on Linux). Maybe specifying arch in forge-config shouldn't be a thing at all? (That may be what you were referencing above :+1 )

[2017-05-03 04:05] MarshallOfSound commented on #219
@bengotow Yeah, at-run-time specific concepts I try to leave out of the forge config, arch and platform were obvious candidates 👍

As for the difference between `package` and `make`.

* **package**
  * Creates a folder with an executable for the given platform
  * The folder is not in a distributable state and is exactly what will be distributed so its the quickest way to test issues that only occ

[2017-05-04 17:46] stevechap416 opened #220 "Images Paths Not Working in Packaged App"
* [x ] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x ] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x ] I have searched the issue tracker for an issue that matches the one I want to file,

[2017-05-04 17:50] malept commented on #220
I wonder if this is related to #153.

[2017-05-08 13:10] Djiit opened #221 "HMR / LiveReload not working"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-05-08 13:51] MarshallOfSound commented on #221
@Djiit Can you post your JS code that you wrote for hot reloading.  `module.hot.accept....`

[2017-05-08 15:05] Djiit commented on #221
Yep, here it is (`index.html`) :
[code]

[2017-05-08 15:09] MarshallOfSound commented on #221
[code]

This is incorrect syntax, the docs of `electron-compile` clearly indicate that the accept function accepts a single arguments which is your render function.  I.e.

[code]

[2017-05-08 15:09] #221 closed

[2017-05-08 15:14] Djiit commented on #221
Thanks for you quick answer. I changed that and I'm still getting the same error. Would you mind reopen this issue ?

[2017-05-08 16:51] Djiit opened #222 "Packaged app error when using "next" versions in dependencies"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-05-08 22:28] MarshallOfSound commented on #222
This will be a bug in NPM or Yarn's production pruning logic, I would recommend just switching to version ranges for now.  Closing this out here as forge doesn't influence your package list. Happy to help track down the bug though on this issue.

Can you post your current NPM version and I'll see if I can repro 👍

[2017-05-08 22:28] #222 closed

[2017-05-08 22:31] MarshallOfSound commented on #221
That's like legitimately not possible 😆 Like that trace is exactly the issue I just showed how to fix 😕

Can you push your code up to a repo and I'll take a look 👍

[2017-05-08 23:19] Djiit commented on #222
Yep, here you are :

[code]

[2017-05-08 23:41] malept commented on #222
It's not likely using yarn unless you add `packageManager: 'yarn'` to `electronPackagerConfig`.

[2017-05-08 23:57] MarshallOfSound commented on #222
Npm 4 is known to be super dodgy still, can you drop back to npm 3 and try again

[2017-05-09 00:15] Djiit commented on #221
You are right :) . I'm using react-redux and my store configuration function was also using`module.hot.accept` in a bad way. Thanks again 👍

[2017-05-09 07:45] Djiit commented on #222
@malept just tried your option and it broke the build, a dep was missing again. I'll test with npm 3 tonight.

[2017-05-09 16:39] wasd171 opened #223 "Crashes when using unpack option for electronPackagerConfig"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-05-09 16:42] MarshallOfSound commented on #223
This issue is an unfortunate side effect of `packagerSpinner` being undefined while we try to throw this error, will fix this issue shortly

https://github.com/electron-userland/electron-forge/blob/master/src/api/package.js#L109

Basically, you can't use `unpack` only `unpackDir` with `electron-compile`

[2017-05-09 16:42] #223 closed

[2017-05-10 20:31] justechn commented on #162
is this working now or is osx-sign still prefered?

[2017-05-10 20:52] malept commented on #162
The change in Packager was released in [8.6.0](https://github.com/electron-userland/electron-packager/releases/tag/v8.6.0), which was on March 14.

[2017-05-12 13:26] wasd171 commented on #223
Do you have any plans supporting it though?

[2017-05-12 13:27] MarshallOfSound commented on #223
@wasd171 There hasn't been a strong demand for it yet (that couldn't be implemented with just `unpack`)

[2017-05-12 13:47] karacas opened #224 "stack Error: 404 response downloading https://atom.io/download/electron/v1.6.7-oops.1/iojs-v1.6.7-oops.1.tar.gz"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-05-12 14:55] paulcbetts commented on #224
Welp, guess we know that truck doesn't work. I'll have a temporary fix for this out in a few hours.

[2017-05-12 14:56] paulcbetts commented on #224
To get unblocked now, change your version of electron-prebuilt-compile to be 1.6.6

[2017-05-12 15:08] karacas commented on #224
Nice!

[2017-05-12 15:43] edsadr commented on #220
I would suggest you to create a custom protocol to intercept those calls, https://electron.atom.io/docs/api/protocol/ this will solve your problem

[2017-05-12 15:45] wasd171 commented on #223
@MarshallOfSound as I said, I am trying to use `node-notifier` with my asar-packaged app. It's docs say

I have tried setting `unpackDir` to `node_modules/node-notifier/vendor` instead, but then the packaged app would not start, guess it can't find the files.

By the way, if `unpack` is not supported, then perhaps the following part of the docs should mention it:

[Electron Packager](https://githu

[2017-05-12 15:49] edsadr opened #225 "node-abi does not yet support Electron 1.7"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-05-12 16:00] wasd171 commented on #223
I was looking through the [sources](https://github.com/electron-userland/electron-forge/blob/012b152f94b04c4f4ba2aa27b23b572a846cd4b6/src/api/package.js#L64) of `electron-forge` and I think `afterCopy` and `afterExtract` are also not supported? Looks like they would get rewritten anyway, not merged.

[2017-05-12 16:01] MarshallOfSound commented on #223
@wasd171 The `afterCopy` and `afterExtract` options are both supported, see https://github.com/electron-userland/electron-forge/blob/012b152f94b04c4f4ba2aa27b23b572a846cd4b6/src/api/package.js#L94 we concat our functions with user provided functions.

@paulcbetts Do you remember why the `unpack` option was disabled for `electron-compile`?

[2017-05-12 16:46] MarshallOfSound commented on #225
https://github.com/lgeiger/node-abi/pull/22

[2017-05-13 14:38] paulcbetts commented on #224
This should be fixed at the moment

[2017-05-13 14:38] #224 closed

[2017-05-13 22:51] malept commented on #225
@MarshallOfSound's PR was merged and released. Just `npm update node-abi` (or `yarn update node-abi`, if you prefer).

[2017-05-13 22:51] #225 closed

[2017-05-14 21:47] hammus opened #226 "[HELP OFFERED] Add InnoSetup make Target"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-05-14 22:43] malept commented on #226
We're more than happy to have contributions for creating InnoSetup-based distributables. I would prefer if it was a separate module like `electron-installer-debian` or `electron-windows-store`, and then we can integrate with it.

[2017-05-14 22:46] hammus commented on #226
Ok I'll look into that approach, is there any particular structure (API
exposures etc) that would make the project more easily integrated with
forge?
On Mon, 15 May 2017 at 8:43 am, Mark Lee <notifications@github.com> wrote:

--
Regards,

Liam Whan

[2017-05-14 23:09] MarshallOfSound commented on #226
@hammus I would recommend following a similar API to the other `electron-installer-*` modules, their basic API looks like this.

[code]

[2017-05-14 23:11] malept commented on #226
I imagine we'd prefer a Promise-compatible API over callback-based though 😃 (feel free to support both)

[2017-05-15 06:59] hammus commented on #226
After some poking around I suspect this might not work for electron-forge, the dependency debt this creates is probably unmanageable, InnoSetup requires Wine no matter which way you slice it. Thoughts?

[2017-05-15 07:02] MarshallOfSound commented on #226
@hammus Windows only makers are perfectly ok 👍 When integrating with forge we will simply set the `isSupportedOnCurrentPlatform ` function correctly 👍

Squirrel / AppX makers are already windows only

[2017-05-15 07:13] hammus opened #227 "Support comma separated architectures in `make`"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-05-15 14:00] debelop13 opened #228 "Making squirrel project (windows): the specified path, file name, or both are too long."
Basically, after pack my project, I am trying to make squirrel target,  and is doing an too long path error.

Making Electron project.
An error occured while making for target: squirrel
Failed with exit code: 1
Output:
Attempting to build package from 'catalog.nuspec'.
The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the direc

[2017-05-16 13:37] MarshallOfSound commented on #228
There isn't anything we can do about the 260 character path limit, you should move the files that won't fit in an ASAR as high up the directory structure as possible.  Other than that there isn't anything we can do 👍

[2017-05-16 13:37] #228 closed

[2017-05-16 13:38] MarshallOfSound commented on #220
@stevechap416 Can you provide a sample that repros this?

[2017-05-16 13:40] MarshallOfSound commented on #212
@mhagmajer I guess adding a top level option for `precompileWhitelist` or something that can be a function or a regexp would be ok

Thoughts @malept ?

[2017-05-16 15:26] malept commented on #212
Sounds OK to me.

[2017-05-16 15:40] MarshallOfSound commented on #212
Just realized that would be prod only though, this is something that would have to be implemented in the `.compilerc` file and then we would read it in

[2017-05-17 23:33] djalmaaraujo commented on #225
@malept @MarshallOfSound This is not working. I tried removing node-modules, updating node-abi, and still "yarn rebuild" is saying:

An unhandled error occurred inside electron-rebuild
Could not detect abi for version 1.7.0 and runtime electron.  Updating "node-abi" might help solve this issue if it is a new release of electron

Error: Could not detect abi for version 1.7.0 and runtime electron.

[2017-05-17 23:41] malept commented on #225
@djalmaaraujo Please check to see what version of node-abi is installed.

[2017-05-18 00:29] djalmaaraujo commented on #225
@malept node_modules/node-abi/package.json

[code]

[2017-05-18 00:34] malept commented on #225
@djalmaaraujo is Forge locally installed or globally installed?

[2017-05-18 00:41] djalmaaraujo commented on #225
@malept Sorry about the confusion, I am using electron-rebuild directly and not electron-forge. I am fine if you can't help me with that, but seems that the problems come from electron-rebuilder module.

[2017-05-18 00:45] malept commented on #225
@djalmaaraujo if you installed electron-rebuild globally, update the global installation of node-abi. If that doesn't work, reinstall electron-rebuild. That's as much help as I can give without knowing more details.

[2017-05-18 00:50] djalmaaraujo commented on #225
@malept Thanks again.

Updated both locally and globally, I am also running
```./node_modules/.bin/electron-rebuild .``` instead of globally.

This might not be related, but I am using node 7.10.0.

Still getting the same error. Is there any information I can provide you to make this easier?

[2017-05-18 00:56] malept commented on #225
@djalmaaraujo what version of electron-rebuild are you running? (This time, without pasting the `package.json` contents please.)

[2017-05-18 00:59] djalmaaraujo commented on #225
@malept I updated to the latest one. Now it's working as expected. Thanks for you time. For future users, just update your electron-rebuild and if you are running ```electron-rebuilder .```, remove the ```.``` (DOT) and it works.

[2017-05-18 06:31] MarshallOfSound opened #230 "Support a dry-run publish task for post-run deployments"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-05-19 15:12] ms4ever7 opened #231 "Can't set window and background size for DMG-installer"
I am using ember electron to create my app , but i am having problem with macOS installer. To build my app i am using ember electron:make command and it takes options from eletron-forge-config.js file.I was trying to set a background image for dmg-installer, and as my iamge has size 600x571 , i set same window size.
But somehow it resized my image and my windows became 600x571, but image 450x427.

[2017-05-19 15:31] MarshallOfSound commented on #231
All the DMG logic is handled by the `electron-installer-dmg` module, you should raise this issue (possibly with screenshots) over at https://github.com/mongodb-js/electron-installer-dmg

[2017-05-19 15:31] #231 closed

[2017-05-20 12:01] MarshallOfSound commented on #135
I think that the solution in the thread "using the hooks provided by `electron-packager`" should be **the** accepted solution, we shouldn't add additional complexity to forge when a simple 5 line function can perform the same task 👍

[2017-05-20 12:01] #135 closed

[2017-05-20 12:04] MarshallOfSound commented on #138
IMO this breaches the scope of `electron-forge`, our goal is to provide a **minimal** entry point into Electron, I don't want our templates to become bloated 100 file "boilerplate" style proejcts, I personally find boilerplates ridiculously opinionated, normally way over the top and almost always include way too much, well, boilerplate 😆

If this is something people want we can discuss it over at

[2017-05-20 12:04] #138 closed

[2017-05-20 12:04] MarshallOfSound commented on #110
@malept Haven't seen this one in a while, have you?

[2017-05-20 12:07] MarshallOfSound commented on #166
Looks like this was actually an issue with yarn that has since been fixed, if anyone finds this as an issue in the future make sure you update your yarn version 👍

[2017-05-20 12:07] #166 closed

[2017-05-21 02:23] malept commented on #135
Alternatively, I would be happy to have someone provide an Electron Packager pull request (with tests & docs, of course) to fix `extraResource` to work on more than macOS targets. See: https://github.com/electron-userland/electron-packager/issues/637

[2017-05-21 20:31] malept commented on #110
Still happens: https://ci.appveyor.com/project/electron-userland/electron-forge/build/1.0.480

[2017-05-24 15:12] infokin commented on #177
Are the values `dir`, `arch` and `platform` even taken into account under `electronPackagerConfig`?

I am tying to package my app with this configuration:

`
"config": {
    "forge": {
      "make_targets": {
        "linux": [
          "deb"
        ],
        "win32": [
          "squirrel"
        ]
      },
      "electronPackagerConfig": {
        "asar": false,
        "dir": "./src",

[2017-05-24 16:23] malept commented on #177
Those values are overridden by Forge, because they're all specified on the command line. Check out the output of `electron-forge package --help`.

[2017-05-24 16:25] malept commented on #177
Since the original issue reporter has not responded to the request for additional information in a while, I'm going to assume that they either found the answer in another manner or decided not to pursue this issue. If I'm incorrect, they can respond with answers to the questions posed, and I'll reopen.

[2017-05-24 16:25] #177 closed

[2017-05-24 16:29] malept commented on #58
My position has changed on this issue, mostly because there hasn't been any work on that project in several months. I'm OK with it not using Promises internally because we use `pify` for other things.

[2017-05-25 06:07] #215 closed

[2017-05-25 12:36] joshuairl opened #236 "Upon running `electron-forge make` on target `dmg` TypeError: Cannot read property 'call' of undefined"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-05-25 12:56] joshuairl commented on #236
So I've updated my issue because it only seems to be affecting the `dmg` make target.

[2017-05-25 13:47] MarshallOfSound commented on #236
@joshuairl What version of `electron-forge` is this?

[2017-05-25 13:50] joshuairl commented on #236
Sorry!  Appears to be `electron-forge@3.0.0`?

[2017-05-25 13:51] MarshallOfSound commented on #236
@joshuairl I don't see it changing too much but can you update to latest. (3.0.1)

[2017-05-25 13:55] joshuairl commented on #236
So it's definitely happening because of a "file not found" error on `background` or `icon` property in `electronInstallerDMG`.  It's just not showing file not found, or anything of the sorts.  It appears to be getting snuffed by a try / catch somewhere.

But it's not a very descriptive error message so took me a bit to debug.

I can try updating to 3.0.1, but it doesn't appear to affect this issue

[2017-05-25 13:55] joshuairl commented on #236
When I fixed the paths, it works now.

[2017-05-25 13:57] MarshallOfSound commented on #236
Yeah, that was what I was inferring this edit 👍

Looks like a bug in one of our babel transpilers, I will try to repro and follow up with them but async/await transpilation might be beyond me 😆

[2017-05-26 12:29] gimyboya opened #237 "Initializing a project with vue does not work"
I am using `electron-forge@3.0.2` and when i create a new project with a vue template it just create a normal project with html and js not a vue one.

* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE

[2017-05-26 12:34] MarshallOfSound commented on #237
What OS are you on?

[2017-05-26 12:36] gimyboya commented on #237
@MarshallOfSound windows 10
Microsoft Windows [Version 10.0.14393]

[2017-05-26 12:39] MarshallOfSound commented on #237
@gimyboya Looks like it's broke as hell 😢 Looking for a fix now 👍

[2017-05-26 12:51] MarshallOfSound commented on #237
@malept Looks like my `executeSubCommand` change broke this, pushing a fix straight to master to unblock people now 👍

[2017-05-26 12:54] #237 closed

[2017-05-26 12:54] MarshallOfSound commented on #237
@gimyboya Can you try the new `3.0.3` release 👍

[2017-05-26 12:57] MarshallOfSound commented on #236
Closing this out for now as it's an upstream babel transpilation issue that afaics has already been fixed (just needed a clean release 😆 )

[2017-05-26 12:57] #236 closed

[2017-05-26 22:16] justechn commented on #214
I am also interested in this. I would like to specify an absolute path in the build, so the dmg builder can use the same path to find the app. Right now electron-forge uses the `current working dir` and appdmg does not. If I specify a full path to my `project dir` then another user cannot compile the app.

here is my dmg config

[code]

if I use a absolute path `"path": "/Users/me/my-app/out/my-ap

[2017-05-26 22:18] gimyboya commented on #237
@MarshallOfSound it's working thanks for the quick fix!

[2017-05-29 05:13] #58 closed

[2017-06-02 14:44] develar commented on #226
If you want custom installer for windows, you can use NSIS from electron-builder — https://www.npmjs.com/package/electron-forge-maker-nsis

[2017-06-02 16:49] malept commented on #226
If a developer is more familiar with configuring an InnoSetup installer, they may appreciate the option to make one for an Electron app.

[2017-06-03 13:47] cl0ud9 opened #241 "npm install error on Ubuntu (zsh)"
* [x ] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [ x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [ x] I have searched the issue tracker for an issue that matches the one I want to file,

[2017-06-03 14:05] cl0ud9 commented on #241
It seems Im using different npm version.

[2017-06-03 14:05] #241 closed

[2017-06-04 00:58] malept commented on #180
I decided this fix was better in the upstream module, so I made a PR there: https://github.com/unindented/electron-installer-debian/pull/83

[2017-06-04 18:57] malept commented on #180
This has been fixed in `electron-installer-debian` 0.5.2, please update your dependencies.

[2017-06-04 18:57] #180 closed

[2017-06-05 04:38] gimyboya opened #243 "Spread syntax in vue component not supported"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [ ] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-06-05 05:03] MarshallOfSound commented on #243
You need to add https://babeljs.io/docs/plugins/transform-object-rest-spread/ and add it to your babel config in your `.compilerc`.

[2017-06-05 05:03] #243 closed

[2017-06-06 19:18] mhagmajer opened #244 "Error running on Windows - cannot find module @paulcbetts/mime-types"
* [x] I have read the [contribution documentation](https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [code of conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project follows, as appropriate.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, wi

[2017-06-06 19:23] paulcbetts commented on #244
What happens if you install an older version of electron-winstaller? I suspect this is related to https://github.com/Squirrel/Squirrel.Windows/issues/1044

[2017-06-06 19:38] paulcbetts commented on #244
Also, while this fix is in-progress, you should be able to fix it by enabling ASAR archives